Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2018-10, with the labels that each got.

#395 Check ptr_num on y channels too.
  vpr/src/route/check_rr_graph.cpp
Labels: VPR, lang-cpp

#400 vpr/pack: Fix weird wrapping in output_clustering.cpp
  vpr/src/pack/output_clustering.cpp
Labels: VPR, lang-cpp

#406 Multipass abc flow
  ODIN_II/SRC/include/node_creation_library.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/include/read_blif.h
  ODIN_II/SRC/include/simulate_blif.h
  ODIN_II/SRC/include/types.h
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/node_creation_library.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/read_blif.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/regression_test/benchmark/other/best_coverage_test/multi_clock_reader_writer.v
  ODIN_II/regression_test/benchmark/other/best_coverage_test/odin.args
  ODIN_II/regression_test/benchmark/other/coverage_test/multi_clock_reader_writer.v
  ODIN_II/regression_test/benchmark/other/coverage_test/odin.args
  ODIN_II/regression_test/benchmark/other/ff_timing_test/ff.v
  ODIN_II/regression_test/benchmark/other/ff_timing_test/odin.args
  ODIN_II/regression_test/benchmark/other/multi_clock_reader_writer/multi_clock_reader_writer.v
  ODIN_II/regression_test/benchmark/other/multi_clock_reader_writer/odin.args
  ODIN_II/regression_test/benchmark/other/multi_edge_reader_writer/multi_edge_reader_writer.v
  ODIN_II/regression_test/benchmark/other/multi_edge_reader_writer/odin.args
  ODIN_II/verify_odin.sh
  vtr_flow/benchmarks/verilog/and_latch.v
  vtr_flow/benchmarks/verilog/multiclock_output_and_latch.v
  vtr_flow/benchmarks/verilog/multiclock_reader_writer.v
  vtr_flow/benchmarks/verilog/multiclock_separate_and_latch.v
  vtr_flow/scripts/blackbox_latches.pl
  vtr_flow/scripts/restore_multiclock_latch.pl
  vtr_flow/scripts/run_vtr_flow.pl
  vtr_flow/tasks/func_multiclock/blanket/config/config.txt
  vtr_flow/tasks/func_multiclock/blanket_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/original/config/config.txt
  vtr_flow/tasks/func_multiclock/skip_abc/config/config.txt
  vtr_flow/tasks/func_multiclock/vanilla/config/config.txt
  vtr_flow/tasks/func_multiclock/vanilla_flop/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock/task_list.txt
Labels: Odin, VTR Flow, infra, lang-cpp, lang-hdl, lang-perl, lang-shell, scripts, tests

#407 update blackbox script and remove flop and whitebox
  vtr_flow/scripts/blackbox_latches.pl
  vtr_flow/scripts/run_vtr_flow.pl
  vtr_flow/tasks/func_multiclock/blanket_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_respect_edge_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_propagate_init_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_respect_edge_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_white/config/config.txt
  vtr_flow/tasks/func_multiclock/iterative_white_flop/config/config.txt
  vtr_flow/tasks/func_multiclock/vanilla_flop/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock/task_list.txt
Labels: VTR Flow, infra, lang-perl, scripts, tests

#408 force initial value of 0 for Odin if there is a DC pin so that it is …
  vtr_flow/scripts/run_vtr_flow.pl
Labels: VTR Flow, infra, lang-perl, scripts
