Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-06, with the labels that each got.

#631 ODIN_II: fixed line size limit in preprocessor
  ODIN_II/SRC/include/verilog_preprocessor.h
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_preprocessor.cpp
  ODIN_II/regression_test/benchmark/full/ansiportlist.v.disabled
  ODIN_II/regression_test/benchmark/operators/matmul.v.disabled
  ODIN_II/regression_test/benchmark/operators/specparam.v.disabled
Labels: Odin, lang-cpp, tests

#641 fasm fix: metadata read fix in read_xml_arch
  libs/libarchfpga/src/read_xml_arch_file.cpp
Labels: lang-cpp, libarchfpga

#523 Avoid duplicate work during flow.
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_api.cpp
Labels: VPR, lang-cpp

#642 ODIN II: inline port declarations
  ODIN_II/Makefile
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/regression_test/benchmark/full/ansiportlist.v
  ODIN_II/regression_test/benchmark/full/ansiportlist_2.v
  ODIN_II/regression_test/benchmark/full/ansiportlist_2_input
  ODIN_II/regression_test/benchmark/full/ansiportlist_2_output
  ODIN_II/regression_test/benchmark/large/spree.v
  ODIN_II/regression_test/benchmark/micro/parameter_2.v
  ODIN_II/regression_test/benchmark/micro/parameter_2_input
  ODIN_II/regression_test/benchmark/micro/parameter_2_output
  ODIN_II/regression_test/benchmark/operators/matmul.v
  ODIN_II/regression_test/benchmark/operators/specparam.v
Labels: Odin, build, lang-cpp, lang-hdl, lang-make, tests

#636 Odin: fix ln error in verify script
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, lang-hdl, lang-shell, scripts, tests

#656 Add argument to add prefix to timing report.
  vpr/src/analysis/timing_reports.cpp
  vpr/src/analysis/timing_reports.h
  vpr/src/base/vpr_api.cpp
Labels: VPR, lang-cpp

#657 Add a pre-pack timing report.
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/timing/PreClusterTimingGraphResolver.cpp
  vpr/src/timing/PreClusterTimingGraphResolver.h
Labels: VPR, lang-cpp

#645 Check that cost_index fits within storage.
  vpr/src/route/rr_node.cpp
Labels: VPR, lang-cpp

#659 docs: add note to usage of parallel workers
  doc/src/vpr/command_line_usage.rst
Labels: VPR, docs

#644 vpr: Adding pb_type to match other enum values.
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
Labels: lang-cpp, libarchfpga

#660 odin_leak: fix memory leak in instantiate_hard_multiplier function
  ODIN_II/SRC/multipliers.cpp
Labels: Odin, lang-cpp

#661 Add support for multiple FASM features for a single mux selection.
  doc/src/utils/fasm.rst
  utils/fasm/src/fasm.cpp
  utils/fasm/test/test_fasm.cpp
  utils/fasm/test/test_fasm_arch.xml
Labels: docs, lang-cpp, tests

#662 odin Fixed memory leak in connect_memory_and_alias function in netlist_cre…
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#663 odin Fixed memory leak in create_single_port_ram_block function in netlist…
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#669 Update README.developers.md
  README.developers.md
Labels: docs

#577 Skip x locations that have no targets.
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#647 Fill in IMPOSSIBLE_DELTA elements of delay matrix.
  vpr/src/place/timing_place_lookup.cpp
Labels: VPR, lang-cpp

#668 Fixed memory leak and valgrind errors in add_hard_block_model functio…
  ODIN_II/SRC/read_blif.cpp
  ODIN_II/wrapper_odin.sh
Labels: Odin, lang-cpp, lang-shell, scripts

#670 Fixed odin memory leak in create_soft_single_port_ram_block func…
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#671 ODIN_II Fixed memory leak in create_hard_block function in netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#675 ODIN II: RTL library integration and node resolving
  ODIN_II/CMakeLists.txt
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/partial_map.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/full/or1200_input
  ODIN_II/regression_test/benchmark/full/or1200_output
  ODIN_II/regression_test/benchmark/large/or1200.v
  ODIN_II/regression_test/benchmark/micro/param_override_output
  libs/librtlnumber/Makefile
  libs/librtlnumber/README.md
  libs/librtlnumber/main.cpp
  libs/librtlnumber/regression_tests/basic_regression_tests.csv
  libs/librtlnumber/regression_tests/compound_regression_test.csv
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/include/rtl_int.hpp
  libs/librtlnumber/src/include/rtl_utils.hpp
  libs/librtlnumber/src/rtl_int.cpp
  libs/librtlnumber/src/rtl_utils.cpp
  libs/librtlnumber/unit_test/Makefile
  libs/librtlnumber/unit_test/verilog_bits.cpp
  libs/librtlnumber/verify_librtlnumber.sh
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_two_chains/config/golden_results.txt
Labels: Odin, build, docs, lang-cpp, lang-hdl, lang-make, tests

#676 Odin: fix compile warning, fallthrough statement
  ODIN_II/SRC/ast_elaborate.cpp
Labels: Odin, lang-cpp

#666 Single pass verilog preprocessor and Remove freopen
  ODIN_II/SRC/include/config_t.h
  ODIN_II/SRC/include/odin_buffer.hpp
  ODIN_II/SRC/include/verilog_preprocessor.h
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/read_xml_config_file.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/SRC/verilog_preprocessor.cpp
Labels: Odin, lang-cpp, lang-hdl

#674 Odin constant invalid read
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/config_t.h
  ODIN_II/SRC/include/odin_memory.hpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/output_blif.h
  ODIN_II/SRC/include/read_xml_config_file.h
  ODIN_II/SRC/include/simulate_blif.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_memory.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/read_xml_config_file.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/soft_logic_def_parser.cpp
Labels: Odin, lang-cpp

#678 Odin: initial constant conditional evaluation
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_util.h
  libs/librtlnumber/src/include/rtl_int.hpp
  libs/librtlnumber/src/rtl_int.cpp
Labels: Odin, lang-cpp

#686 ODIN II: fix concatenation and replication; resolve number sizing
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/regression_test/benchmark/large/spree.v
  ODIN_II/regression_test/benchmark/operators/concat.v
  ODIN_II/regression_test/benchmark/operators/concat_input
  ODIN_II/regression_test/benchmark/operators/concat_output
Labels: Odin, lang-cpp, lang-hdl, tests
