Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-03, with the labels that each got.

#466 ODIN_MEMLEAK: freed temp_string in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#471 ODIN_MEMLEAK: freed mux nodes in partial_map
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#469 ODIN_MEMLEAK: freed potential_clocks in terminate_registered_assignment
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#476 ODIN_MEMLEAK: freed input pin names
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#477 ODIN_MEMLEAK: freed node in instantiate_EQUAL
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#465 ODIN_MEMLEAK: freed nnodes associated with non-blocking statements
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#468 ODIN_MEMLEAK: freed unused pin names
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#472 ODIN_MEMLEAK: freed unused BLOCKING_STATEMENT nodes
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#483 Allow placement of tiles with only sources or sinks.
  vpr/src/place/timing_place_lookup.cpp
Labels: VPR, lang-cpp

#491 Add some missing bounds check on rr_graph reading.
  vpr/src/route/rr_graph_reader.cpp
Labels: VPR, lang-cpp

#492 Minor fixes to README.developers.md file.
  README.developers.md
Labels: docs

#481 ODIN_MEMLEAK: fixed pin name mixup when freeing
  ODIN_II/SRC/netlist_utils.cpp
Labels: Odin, lang-cpp

#489 ODIN_MEMLEAK: added free_nnet function
  ODIN_II/SRC/include/netlist_utils.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
Labels: Odin, lang-cpp

#497 ODIN_MEMLEAK: added free_npin function
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#482 ODIN_MEMLEAK: freed overwritten pin names
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#484 ODIN_MEMLEAK: freed if logic expressions
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#486 ODIN_MEMLEAK: freed pin names before null assignment
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#488 ODIN_MEMLEAK: freed memory name
  ODIN_II/SRC/implicit_memory.cpp
Labels: Odin, lang-cpp

#490 ODIN_MEMLEAK: freed children array of freed module instance node
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#493 ODIN_MEMLEAK: freed ref name for new module instance
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#500 ODIN_MEMLEAK: freed unused nodes in newModule
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#501 ODIN_MEMLEAK: freed module connection nodes
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#498 ODIN_MEMLEAK: freed unused nodes during operation instantiations
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#496 ODIN_MEMLEAK: freed nnodes related to NON_BLOCKING_STATEMENT nodes
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#507 ODIN_MEMLEAK: freed unused nnets
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#473 Add metadata support to architecture and rr_graph XML.
  doc/src/arch/reference.rst
  doc/src/vpr/file_formats.rst
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/echo_arch.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/CMakeLists.txt
  vpr/src/base/SetupGrid.cpp
  vpr/src/base/SetupGrid.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/rr_metadata.cpp
  vpr/src/route/rr_metadata.h
  vpr/src/route/rr_node.h
  vpr/src/util/vpr_utils.cpp
  vpr/test/main.cpp
  vpr/test/test_read_arch_metadata.xml
  vpr/test/test_vpr.cpp
  vpr/test/wire.eblif
Labels: VPR, build, docs, lang-cpp, lang-make, lang-netlist, libarchfpga, tests

#516 docs: Fix the external_subtree documentation.
  README.developers.md
Labels: docs

#519 Increase pin-to-track diversity to help routability
  vpr/src/route/rr_graph.cpp
Labels: VPR, lang-cpp
