Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-10, with the labels that each got.

#994 Add debug logging if there is a non-finite value from the lookahead.
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp

#998 Add tile filtering option for placer delay matrix sampling.
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/timing_place_lookup.cpp
Labels: VPR, lang-cpp

#999 Simulation mem leak - model->name
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#1000 Simulation mem leak - pin_numbers in lines structure
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#1001 Simulation mem leak - num_children in stage struct
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#996 simulation mem leak - latch names array in create latch
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#1010 Avoid global routing messing up FASM generation
  utils/fasm/src/fasm.cpp
Labels: lang-cpp

#1007 Fix bug in add_subtree_to_route_tree that can result in double free.
  vpr/src/route/route_tree_timing.cpp
Labels: VPR, lang-cpp

#995 Simulation mem leak - last element of names array
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#997 Simulation mem leak - create hard block mappings
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#1012 Free remained portname's memory
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#992 vpr: pass t_placer_opts in binary_search_place_and_route by reference
  vpr/src/base/place_and_route.cpp
  vpr/src/base/place_and_route.h
Labels: VPR, lang-cpp

#1024 Spelling fix
  vpr/src/base/vpr_context.h
Labels: VPR, lang-cpp
