Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-07, with the labels that each got.

#672 vpr: added optional disable errors and suppress warnings
  libs/libvtrutil/src/vtr_log.cpp
  libs/libvtrutil/src/vtr_log.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/place/place.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/util/vpr_error.cpp
  vpr/src/util/vpr_error.h
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp, libvtrutil

#690 ODIN II: updated RTL library
  libs/librtlnumber/regression_tests/basic_regression_tests.csv
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/rtl_int.cpp
Labels: lang-cpp, tests

#694 ODIN II: update number sizing
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#696 ODIN II: removed dead code
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#683 Fixed memory leak in get_name_of_pins function in ast_util.cpp
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#684 Fixed memory leak in assignment_alias function in netlist_creat_…
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#687 Fixed memory leak in define_nets_with_driver function in netlist…
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#685 Fixed memory leak in get_name_of_pins function in ast_util.cpp
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#697 Fixed preprocessor filepath
  ODIN_II/SRC/verilog_preprocessor.cpp
Labels: Odin, lang-cpp

#702 ODIN II: I/O port bug fix
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#693 vpr: optional noisy log warning file
  libs/libvtrutil/src/vtr_log.cpp
  libs/libvtrutil/src/vtr_log.h
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_api.cpp
Labels: VPR, lang-cpp, libvtrutil

#699 if def guards, switch to bools, and use c++ struct and enum declaration
  ODIN_II/CMakeLists.txt
  ODIN_II/SRC/ace.cpp
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/hard_blocks.cpp
  ODIN_II/SRC/implicit_memory.cpp
  ODIN_II/SRC/include/AtomicBuffer.hpp
  ODIN_II/SRC/include/adders.h
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/hard_blocks.h
  ODIN_II/SRC/include/implicit_memory.h
  ODIN_II/SRC/include/memories.h
  ODIN_II/SRC/include/multipliers.h
  ODIN_II/SRC/include/netlist_check.h
  ODIN_II/SRC/include/netlist_visualizer.h
  ODIN_II/SRC/include/node_creation_library.h
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/odin_globals.h
  ODIN_II/SRC/include/odin_ii.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/include/read_blif.h
  ODIN_II/SRC/include/sim_block.h
  ODIN_II/SRC/include/simulate_blif.h
  ODIN_II/SRC/include/soft_logic_def_parser.h
  ODIN_II/SRC/include/string_cache.h
  ODIN_II/SRC/include/verilog_preprocessor.h
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/SRC/netlist_check.cpp
  ODIN_II/SRC/netlist_cleanup.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/netlist_visualizer.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/partial_map.cpp
  ODIN_II/SRC/read_blif.cpp
  ODIN_II/SRC/read_xml_config_file.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/soft_logic_def_parser.cpp
  ODIN_II/SRC/subtractions.cpp
  ODIN_II/SRC/verilog_preprocessor.cpp
  ODIN_II/main.cpp
  libs/librtlnumber/src/include/internal_bits.hpp
Labels: Odin, build, lang-cpp, lang-make

#703 Cleaned up leaks caused by resolve_node
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#691 vtr_flow: fixed qor_compare issue
  vtr_flow/scripts/qor_compare.py
Labels: VTR Flow, infra, lang-python, scripts

#705 Fixed leak from alias_name
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#713 vpr: changed some VPR_THROW to VPR_ERROR
  vpr/src/place/place.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/util/vpr_error.cpp
  vpr/src/util/vpr_error.h
Labels: VPR, lang-cpp

#714 ODIN II: restructured string caches; mass leak fix
  ODIN_II/.gitignore
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/netlist_create_from_ast.h
  ODIN_II/SRC/include/odin_globals.h
  ODIN_II/SRC/include/string_cache.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/string_cache.cpp
Labels: Odin, lang-cpp

#711 Rtl int string
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/operators/string_test.v
  ODIN_II/regression_test/benchmark/operators/string_test_concat.v
  ODIN_II/regression_test/benchmark/operators/string_test_concat_input
  ODIN_II/regression_test/benchmark/operators/string_test_concat_output
  ODIN_II/regression_test/benchmark/operators/string_test_concat_replicate.v
  ODIN_II/regression_test/benchmark/operators/string_test_concat_replicate_input
  ODIN_II/regression_test/benchmark/operators/string_test_concat_replicate_output
  ODIN_II/regression_test/benchmark/operators/string_test_input
  ODIN_II/regression_test/benchmark/operators/string_test_output
  libs/librtlnumber/main.cpp
  libs/librtlnumber/regression_tests/basic_regression_tests.csv
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/include/rtl_int.hpp
  libs/librtlnumber/src/include/rtl_utils.hpp
  libs/librtlnumber/src/rtl_int.cpp
  libs/librtlnumber/src/rtl_utils.cpp
  libs/librtlnumber/verify_librtlnumber.sh
Labels: Odin, lang-cpp, lang-hdl, lang-shell, scripts, tests

#715 Odin dev toolkit
  CMakeLists.txt
  ODIN_II/CMakeLists.txt
  ODIN_II/Makefile
  ODIN_II/SRC/ace.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ace.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/simulate_blif.h
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/coverage_report.html
Labels: Odin, build, lang-cpp, lang-make

#718 Odin leak fix resolve node
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#721 ODIN II: fix leaks from functions
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#722 ODIN II: place proper limits on signed number support
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/operators/signed_to_unsigned.v
  ODIN_II/regression_test/benchmark/operators/signed_to_unsigned_input
  ODIN_II/regression_test/benchmark/operators/signed_to_unsigned_output
  libs/librtlnumber/src/include/internal_bits.hpp
Labels: Odin, lang-cpp, lang-hdl, tests

#719 ODIN_II Fix memory leaks arch/both_ram.v
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#720 Odin_ii leak fix from match_ports
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#727 ODIN II: fix 2D array bug
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#729 Odin leak temp localparam list
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#728 ODIN_II leak fix
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#726 Fix coverity issues #201645 & #201657
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#723 ODIN_II leak fix from hard_multipliers
  ODIN_II/SRC/include/multipliers.h
  ODIN_II/SRC/multipliers.cpp
Labels: Odin, lang-cpp

#734 Fixed leak caused by new_name
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#730 Odin leak pin->mapping
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#736 Odin leak in subtractions.cpp not_node[i]
  ODIN_II/SRC/subtractions.cpp
Labels: Odin, lang-cpp

#739 ODIN_II: Fix coverity CID 200639
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#740 ODIN II: support nested loops in generate
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/include/ast_loop_unroll.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/regression_test/benchmark/micro/generate.v
  ODIN_II/regression_test/benchmark/micro/generate_input
  ODIN_II/regression_test/benchmark/micro/generate_output
Labels: Odin, lang-cpp, lang-hdl, tests

#741 ODIN_II: Fixed Coverity issue #200631
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#744 ODIN_II leak fix temp_string
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#743 ODIN_II leak Fix get_chunk_size_node
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#742 ODIN_II leak fix array_name
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#698 nightly QoR update
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/complex_switch/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_reg_qor_chain/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_reg_qor_chain_depop/config/golden_results.txt
Labels: VTR Flow, tests

#745 ODIN_II: Fix coverity issue CID 200634
  ODIN_II/SRC/odin_error.cpp
Labels: Odin, lang-cpp

#746 ODIN_II: Fixes type mis-match coverity issues
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#751 ODIN_II: Fix coverity issue CID 200780 - Double free
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#747 ODIN_II: Fix type mis-match coverity issues
  ODIN_II/SRC/subtractions.cpp
Labels: Odin, lang-cpp

#748 ODIN_II: Fix coverity issue CID 200678
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#750 ODIN_II: Fix coverity issue CID 200757
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#752 ODIN_II: Fix coverity issue CID 200815
  ODIN_II/SRC/output_blif.cpp
Labels: Odin, lang-cpp

#753 ODIN_II: Fix coverity issue CID 200827
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#756 ODIN_II: fix coverity issue CID 200829
  ODIN_II/SRC/implicit_memory.cpp
Labels: Odin, lang-cpp

#757 ODIN_II: Fix coverity issue CID 200833, CID 201053, & CID 201095
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#759 ODIN_II: Fix coverity issue CID 200886
  ODIN_II/SRC/odin_util.cpp
Labels: Odin, lang-cpp

#760 ODIN_II: Fix coverity issue CID 200914
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#761 ODIN_II: Fix coverity issue CID 200944
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#762 ODIN_II: Fix coverity issue CID 200970
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#763 ODIN_II: Fix coverity issue CID 200973
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#764 ODIN_II Fix coverity issues type mis-match in adders.cpp
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#765 ODIN_II: Fix coverity issue CID 200985
  ODIN_II/SRC/hard_blocks.cpp
Labels: Odin, lang-cpp

#766 ODIN_II: Fix coverity issue CID 201404 & CID 201050
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#767 ODIN_II: Fix coverity issue CID 201059
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#768 ODIN_II: Fix coverity issue CID 201067
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#769 ODIN_II: Fix coverity issues CID 201087 & CID 201120
  ODIN_II/SRC/netlist_utils.cpp
Labels: Odin, lang-cpp

#770 ODIN_II: Fix coverity issue CID 201089
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#771 ODIN_II: Fix coverity issue CID 201101
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#772 ODIN_II: Fix coverity issue CID 201111
  ODIN_II/SRC/multipliers.cpp
Labels: Odin, lang-cpp

#773 ODIN_II: Fix coverity issues CID 201158 & CID 201246
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#774 ODIN_II: Fix coverity issue CID 201217
  ODIN_II/SRC/odin_util.cpp
Labels: Odin, lang-cpp

#776 ODIN_II: Fix coverity issue CID 201231
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#777 ODIN_II: Fix coverity issue CID 201233
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#778 ODIN_II: Fix coverity issue 201170
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#779 ODIN_II: Fix leak caused by new_name
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#780 ODIN_II: Fix coverity issue CID 201244
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#781 ODIN_II: Fix coverity issue CID 201260
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#782 ODIN_II: Fix coverity issues CID 201836 & 201280
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#775 ODIN II: fix segfault from hard adders
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#805 ODIN_II: Reuse old code rather than write new
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/odin_util.cpp
Labels: Odin, lang-cpp

#749 ODIN_II: Fix coverity issues CID 200741, 200719
  ODIN_II/SRC/output_blif.cpp
Labels: Odin, lang-cpp

#758 ODIN_II: Fix coverity issue CID 200858
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#784 ODIN_II: Fix coverity issue CID 201291
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#787 ODIN_II: Fix coverity issues CID 201313, 201395, 201715
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#788 ODIN_II: Fix coverity issue CID 201323
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#789 ODIN_II: Fix coverity issue CID 201333
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#790 ODIN_II: Fix coverity issue CID 201391
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#791 ODIN_II: Fix coverity issue CID 201406
  ODIN_II/SRC/netlist_check.cpp
Labels: Odin, lang-cpp

#792 ODIN_II: Fix coverity issue CID 201409
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#795 ODIN_II: Fix coverity issue CID 201528
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#804 ODIN_II: Fix coverity issue CID 201850
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#801 ODIN_II: Fix coverity issue CID 201637
  ODIN_II/SRC/netlist_check.cpp
Labels: Odin, lang-cpp

#799 ODIN_II: Fix coverity issue CID 201636
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#798 ODIN_II: Fix coverity issue CID 201588
  ODIN_II/SRC/subtractions.cpp
Labels: Odin, lang-cpp

#797 ODIN_II: Fix coverity issue CID 201418
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#786 ODIN_II: add valgrind test suite the odin regression
  ODIN_II/Makefile
  ODIN_II/regression_test/benchmark/FIR/config.txt
  ODIN_II/regression_test/benchmark/_bug/config.txt
  ODIN_II/regression_test/benchmark/arch/config.txt
  ODIN_II/regression_test/benchmark/full/config.txt
  ODIN_II/regression_test/benchmark/large/config.txt
  ODIN_II/regression_test/benchmark/micro/config.txt
  ODIN_II/regression_test/benchmark/operators/config.txt
  ODIN_II/regression_test/benchmark/syntax/config.txt
  ODIN_II/regression_test/benchmark/valgrind_operators/config.txt
  ODIN_II/verify_odin.sh
  ODIN_II/wrapper_odin.sh
Labels: Odin, build, lang-make, lang-shell, scripts, tests

#796 ODIN_II: Fix coverity issue CID 201571
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#803 ODIN_II: Fix coverity issue CID 201694
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#794 ODIN_II: Fix coverity issue CID 201341
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#810 ODIN_II: Fix coverity issue CID 200673: type mis-match
  ODIN_II/SRC/odin_util.cpp
Labels: Odin, lang-cpp

#802 ODIN_II: Fix coverity issue CID 201703
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#816 ODIN_II: add vtr_flow verilog file benchmark suite for odin
  ODIN_II/regression_test/benchmark/valgrind_vtr/config.txt
  ODIN_II/wrapper_odin.sh
Labels: Odin, lang-shell, scripts, tests

#819 ODIN II: initial AST elaboration refactoring
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_loop_unroll.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#737 Refactored net_delay and route_tree_timing code
  vpr/src/draw/draw.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/timing/net_delay.cpp
Labels: VPR, lang-cpp

#826 VTR_BUILD: disable pugixml compact mode with sanitize flags on
  libs/EXTERNAL/libpugixml/CMakeLists.txt
Labels: build, external_libs, lang-make

#643 timing_builder: allow dangling combinational nodes
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/timing/timing_graph_builder.cpp
  vpr/src/timing/timing_graph_builder.h
Labels: VPR, lang-cpp

#708 Add flat accessors to NdMatrix.
  libs/libvtrutil/src/vtr_ndmatrix.h
Labels: lang-cpp, libvtrutil

#827 VTR_FLOW: do not run valgrind on perl scripts for run_vtr_flow.pl
  vtr_flow/scripts/run_vtr_flow.pl
Labels: VTR Flow, infra, lang-perl, scripts

#709 Add convenience constructors for flat_map2
  libs/libvtrutil/src/vtr_flat_map.h
Labels: lang-cpp, libvtrutil

#823 ODIN_II: Fix coverity issue CID 201323 -Update
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#822 ODIN_II: Fix coverity issue CID 201136
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#821 ODIN_II: Fix coverity issue CID 201117
  ODIN_II/SRC/soft_logic_def_parser.cpp
Labels: Odin, lang-cpp

#820 ODIN_II: Fix coverity issue CID 200848
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#824 Odin_II: improved error message for odin wrapper
  ODIN_II/Makefile
  ODIN_II/verify_odin.sh
  ODIN_II/wrapper_odin.sh
  run_reg_test.pl
Labels: Odin, build, lang-make, lang-perl, lang-shell, scripts, tests

#809 Odin_ii: Fix coverity issue CID 134668: Resource leak
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#829 Odin catch abort reg
  ODIN_II/wrapper_odin.sh
Labels: Odin, build, lang-cpp, lang-make, lang-perl, lang-shell, scripts, tests

#830 ODIN II: fix implicit declarations
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/regression_test/benchmark/large/spree.v
Labels: Odin, lang-cpp, lang-hdl, tests

#815 VTR_BUILD: -lasan not found
  CMakeLists.txt
Labels: build, lang-make

#842 ODIN_II: Fix coverity issue CID 200698
  ODIN_II/SRC/subtractions.cpp
Labels: Odin, lang-cpp

#841 ODIN_II: Fix coverity issue CID 201741
  ODIN_II/SRC/memories.cpp
Labels: Odin, lang-cpp

#839 ODIN_II: Fix coverity issue CID 201837
  ODIN_II/SRC/hard_blocks.cpp
Labels: Odin, lang-cpp

#837 ODIN_II: Fix coverity issue CID 202041
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#835 ODIN_II: Fix coverity issue CID 201873
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#834 ODIN_II: Fix coverity issue CID 201870
  ODIN_II/SRC/soft_logic_def_parser.cpp
Labels: Odin, lang-cpp

#833 ODIN_II: Fix coverity issue CID 201815
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#832 ODIN_II: Fix coverity issue CID 201611
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#831 ODIN_II: Fix coverity issue CID 201751
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#838 ODIN II: handle 2D arrays, replication of zero, ternary op in AST elaboration
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/string_cache.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/verilog_bison.y
Labels: Odin, lang-cpp

#793 ODIN_II: Fix coverity issue CID 201331
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#840 ODIN_II: Fix coverity issue CID 202042
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#846 ODIN_II: Fix coverity issues CID 201668
  ODIN_II/SRC/Hashtable.cpp
Labels: Odin, lang-cpp

#851 Odin_II: coverity CID 202136 fix copy paste error
  ODIN_II/SRC/ast_elaborate.cpp
Labels: Odin, lang-cpp

#852 ODIN_II: Fix coverity issue CID 201637
  ODIN_II/SRC/netlist_check.cpp
Labels: Odin, lang-cpp

#856 ODIN_II: Fix coverity issue CID 202109
  ODIN_II/SRC/ast_elaborate.cpp
Labels: Odin, lang-cpp

#855 ODIN_II: Fix coverity issue CID 202093
  ODIN_II/SRC/soft_logic_def_parser.cpp
Labels: Odin, lang-cpp

#853 ODIN_II: Fix coverity issue CID 201059
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#854 ODIN_II: Fix coverity issue CID 202087
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#836 ODIN_II: Fix coverity issue CID 201853
  ODIN_II/SRC/netlist_check.cpp
Labels: Odin, lang-cpp

#754 added detailed timing report
  doc/src/vpr/command_line_usage.rst
  doc/src/vpr/path_2.png
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/route_tree_timing.h
  vpr/src/timing/VprTimingGraphResolver.cpp
  vpr/src/timing/VprTimingGraphResolver.h
Labels: VPR, VTR Flow, docs, lang-cpp

#863 Odin_II: regression test now explicit about simulation kind
  ODIN_II/regression_test/benchmark/suite/light_suite/task_list.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/batch_simulation/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_ast/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_netlist/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/parallel_simulation/task.conf
  ODIN_II/regression_test/benchmark/task/operators/task.conf
  ODIN_II/regression_test/benchmark/verilog/operators/eightbit_arithmetic_power_input
  ODIN_II/regression_test/benchmark/verilog/operators/eightbit_arithmetic_power_output
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, lang-shell, scripts, tests

#867 Fix fold_conditional() ODIN_II compile warning
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#860 Fix find_top_module() ODIN_II compile warnings
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#859 ODIN_II: Leak fix: Do not copy pin, just assign
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#858 Fix get_name_of_pin_at_bit() ODIN_II compile warnings
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#857 ODIN_II: Leak fix: free contents of local_param_table_sc
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#866 ODIN_II: Fixes leak caused by free_op_node
  ODIN_II/SRC/adders.cpp
Labels: Odin, lang-cpp

#869 Odin_II: remove dependency to GNU coreutils realpath
  ODIN_II/regression_test/.library/conf_generate.sh
  ODIN_II/regression_test/.library/helper.sh
  ODIN_II/verify_odin.sh
Labels: Odin, lang-shell, scripts, tests

#865 ODIN_II: Fixes leak in instantiate_arithmetic_shift_right
  ODIN_II/SRC/include/netlist_utils.h
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#872 ODIN_II: fix specparam block leak
  ODIN_II/SRC/verilog_bison.y
Labels: Odin

#874 ODIN_II: Leak fix caused by expand_power
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/regression_test/benchmark/task/valgrind_operators/task.conf
Labels: Odin, lang-cpp, tests

#875 Odin_II: fix leak appearing when IPO is enabled
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/multipliers.cpp
Labels: Odin, lang-cpp

#812 ODIN_II: Fix coverity issue CID 200771: Resource leak
  ODIN_II/SRC/netlist_visualizer.cpp
Labels: Odin, lang-cpp

#811 ODIN_II: Fix coverity issue CID 200770: Resource leak
  ODIN_II/SRC/netlist_visualizer.cpp
Labels: Odin, lang-cpp

#548 added support for empty always
  ODIN_II/SRC/verilog_bison.y
Labels: Odin

#876 Odin_II: remove deprecated or unmaintained code
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/simulate_blif.h
  ODIN_II/SRC/include/soft_logic_def_parser.h
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/read_blif.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/soft_logic_def_parser.cpp
  ODIN_II/odin.soft_config
  ODIN_II/regression_test/.library/threaded_sim.conf
  ODIN_II/usefull_tools/soft_logic_gen/configs/Large_soft_adder/config/config.txt
  ODIN_II/usefull_tools/soft_logic_gen/configs/micro_soft_adder/config/config.txt
  ODIN_II/usefull_tools/soft_logic_gen/odin.soft_config.bkup
  ODIN_II/usefull_tools/soft_logic_gen/run_soft_adder_test.sh
  ODIN_II/usefull_tools/soft_logic_gen/verilogs/adder_tree.v
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, lang-hdl, lang-shell, scripts, tests

#877 Odin_II: fix implicit SP ram leak
  ODIN_II/SRC/implicit_memory.cpp
Labels: Odin, lang-cpp
