Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-08, with the labels that each got.

#886 ODIN_II: Leak fix from sp & dp ram, add test
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/regression_test/benchmark/suite/light_suite/task_list.conf
  ODIN_II/regression_test/benchmark/task/valgrind_arch_sweep/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_syntax/task.conf
  ODIN_II/regression_test/benchmark/verilog/syntax/both_ram.v
Labels: Odin, lang-cpp, lang-hdl, tests

#885 ODIN II: re-modelled for loop unrolling, module instantiation
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_loop_unroll.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/regression_test/benchmark/verilog/syntax/both_ram.v
Labels: Odin, lang-cpp, lang-hdl, tests

#895 vpr: check the costs of node to be expanded before adding to the heap
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp

#896 Run 'make format'
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#864 Travis: include Coverity build step
  .github/travis/cron_build.sh
  .travis.yml
Labels: VPR, docs, infra, lang-shell, scripts

#898 fix coverity bugs and improve regression speed
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/regression_test/benchmark/suite/light_suite/task_list.conf
  ODIN_II/regression_test/benchmark/suite/pre_commit/task_list.conf
  ODIN_II/regression_test/benchmark/task/FIR/task.conf
  ODIN_II/regression_test/benchmark/task/arch_sweep/task.conf
  ODIN_II/regression_test/benchmark/task/basic_vtr/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/batch_simulation/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/best_coverage/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/coverage/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_ast/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_netlist/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/parallel_simulation/task.conf
  ODIN_II/regression_test/benchmark/task/full/task.conf
  ODIN_II/regression_test/benchmark/task/func_simulator/ff_timing/task.conf
  ODIN_II/regression_test/benchmark/task/func_simulator/hold_high/task.conf
  ODIN_II/regression_test/benchmark/task/func_simulator/hold_low/task.conf
  ODIN_II/regression_test/benchmark/task/large/task.conf
  ODIN_II/regression_test/benchmark/task/micro/task.conf
  ODIN_II/regression_test/benchmark/task/multiclock/multi_clock_reader_writer/task.conf
  ODIN_II/regression_test/benchmark/task/multiclock/multi_edge_reader_writer/task.conf
  ODIN_II/regression_test/benchmark/task/operators/task.conf
  ODIN_II/regression_test/benchmark/task/rs_decoder/task.conf
  ODIN_II/regression_test/benchmark/task/syntax/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_arch_sweep/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_micro/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_operators/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_syntax/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_vtr/task.conf
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, tests

#900 vpr: fixed memory leak in load_rr_indexed_data_T_values
  vpr/src/route/rr_graph_indexed_data.cpp
Labels: VPR, lang-cpp

#897 Fix bug in placer when running with no timing analysis.
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#899 ODIN II: fix hard block instantiation bug
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/include/adders.h
  ODIN_II/SRC/include/memories.h
  ODIN_II/SRC/include/multipliers.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/regression_test/benchmark/task/rs_decoder/task.conf
Labels: Odin, lang-cpp, tests

#904 odin: makefile: fix parallel build
  ODIN_II/Makefile
Labels: Odin, build, lang-make

#902 Fix include: pack.cc uses std::stringstream; include <sstream>
  vpr/src/pack/pack.cpp
Labels: VPR, lang-cpp

#906 ODIN II: add support for .vh files
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_preprocessor.cpp
Labels: Odin, lang-cpp

#905 Odin: add soft errors
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
Labels: Odin, lang-cpp

#907 Odin: update odin global reg conf
  ODIN_II/regression_test/.library/conf_generate.sh
  ODIN_II/regression_test/.library/output_on_error.conf
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, lang-shell, scripts, tests

#909 ODIN II: update response to hard block name collisions
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/regression_test/benchmark/suite/light_suite/task_list.conf
  ODIN_II/regression_test/benchmark/task/hard_blocks/task.conf
  ODIN_II/regression_test/benchmark/task/micro/task.conf
  ODIN_II/regression_test/benchmark/verilog/micro/adder_hard_block.v
  ODIN_II/regression_test/benchmark/verilog/micro/adder_hard_block_input
  ODIN_II/regression_test/benchmark/verilog/micro/adder_hard_block_output
  ODIN_II/regression_test/benchmark/verilog/micro/multiply_hard_block.v
  ODIN_II/regression_test/benchmark/verilog/micro/multiply_hard_block_input
  ODIN_II/regression_test/benchmark/verilog/micro/multiply_hard_block_output
  ODIN_II/regression_test/benchmark/verilog/operators/macromudule_test.v
  ODIN_II/regression_test/benchmark/verilog/syntax/rs_decoder_1.v
  ODIN_II/regression_test/benchmark/verilog/syntax/rs_decoder_2.v
Labels: Odin, lang-cpp, lang-hdl, tests

#913 ODIN_II: Remove any var_declare nodes in the symbol table from the ast
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#921 vpr: left-click only to highlight nodes
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

#920 ODIN II: restructure AST elaboration phase; remove parameters from AST
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/netlist_create_from_ast.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/string_cache.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/regression_test/benchmark/verilog/large/arm_core.v
  vtr_flow/benchmarks/verilog/arm_core.v
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_pins_pad_file/stereovision3.pad
Labels: Odin, VTR Flow, lang-cpp, lang-hdl, tests

#918 Refactor raw usage of short to use t_edge_size.
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/vpr_types.h
  vpr/src/draw/draw.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/power/power.cpp
  vpr/src/power/power.h
  vpr/src/route/check_route.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_clock.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node.h
Labels: VPR, lang-cpp, tests

#926 cluster: fix unclustered_list_head_size
  vpr/src/pack/cluster.cpp
Labels: VPR, lang-cpp

#927 Do not assert mid-search for sink node.
  vpr/src/route/route_tree_timing.cpp
Labels: VPR, lang-cpp

#908 Odin:refactor preprocessor into flex, add macro and inline includes
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/odin_globals.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/include/verilog_bison_user_defined.h
  ODIN_II/SRC/include/verilog_preprocessor.h
  ODIN_II/SRC/odin_error.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/SRC/verilog_preprocessor.cpp
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_complex_define.v
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_complex_define_input
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_complex_define_output
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_define.v
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_define_input
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_define_output
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_define_with_comment.v
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_define_with_comment_input
  ODIN_II/regression_test/benchmark/verilog/syntax/preprocessor_define_with_comment_output
Labels: Odin, lang-cpp, lang-hdl, tests

#914 Fix rrgraph reload check when loading rrgraphs from disk.
  vpr/src/base/vpr_context.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_reader.h
Labels: VPR, lang-cpp
