Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-11, with the labels that each got.

#1030 docs: Rework the readme file in the vtr_flow directory.
  vtr_flow/README.md
  vtr_flow/Readme.txt
Labels: VTR Flow, docs

#1035 docs: added `route_diag` documentation
  doc/src/utils/index.rst
  doc/src/utils/route_diag.rst
Labels: docs

#1037 Clear cache of critical path and sTNS/sWNS.
  vpr/src/timing/concrete_timing_info.h
Labels: VPR, lang-cpp

#1042 Add missing C_internal to is_valid_route_tree.
  vpr/src/route/route_tree_timing.cpp
Labels: VPR, lang-cpp
