Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-12, with the labels that each got.

#928 Clock Modeling: Added two Stage router
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/route/check_route.cpp
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/clock_connection_builders.h
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_node.cpp
  vtr_flow/arch/timing/k6_frac_N10_frac_chain_mem32K_htree0_40nm.xml
  vtr_flow/arch/timing/k6_frac_N10_frac_chain_mem32K_htree0_routedCLK_40nm.xml
Labels: VPR, VTR Flow, lang-cpp

#1059 Coverity Fix for unchecked dynamic cast in setup_clocks
  vpr/src/base/setup_clocks.cpp
Labels: VPR, lang-cpp

#1061 Fix regression flow wrongly included test
  ODIN_II/exec_wrapper.sh
  ODIN_II/regression_test/.library/output_on_error.conf
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, lang-shell, scripts, tests
