Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-09, with the labels that each got.

#939 Odin_II: initial scope table
  ODIN_II/CMakeLists.txt
  ODIN_II/Makefile
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/include/scope_util.h
  ODIN_II/SRC/include/string_cache.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/scope_util.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/string_cache.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
Labels: Odin, build, lang-cpp, lang-make

#944 Fix segfault in find_most_common_block_type
  vpr/src/util/vpr_utils.cpp
Labels: VPR, lang-cpp

#960 odin coverity sizeOf problem
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
Labels: Odin, lang-cpp

#959 Odin coverity cid203551
  ODIN_II/SRC/ast_elaborate.cpp
Labels: Odin, lang-cpp

#958 odin_coverity_CID:203690
  ODIN_II/SRC/read_blif.cpp
Labels: Odin, lang-cpp

#954 coverity bug fix CID: 203549
  ODIN_II/SRC/verilog_flex.l
Labels: Odin

#961 odin coverity CID 20368[3,5]
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#949 Remove assumption about rr node order when reading XML.
  vpr/src/route/rr_graph_reader.cpp
Labels: VPR, lang-cpp

#950 Correct pointer type in logging macro.
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#953 vpr: shortened check of max nodes per channel vs. max channel width
  vpr/src/route/rr_graph.cpp
Labels: VPR, lang-cpp

#962 Odin coverity cid203550
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/.library/valgrind_simulation.conf
  ODIN_II/regression_test/.library/valgrind_synthesis.conf
Labels: Odin, lang-cpp, tests

#963 odin_coverity_CID203685
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#964 odin_coverity_CID203686
  ODIN_II/SRC/ast_elaborate.cpp
Labels: Odin, lang-cpp

#966 Odin coverity cid203689
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, VPR, VTR Flow, docs, infra, lang-cpp, lang-shell, libarchfpga, libvtrutil, scripts, tests

#956 Always initialize cost indexed data on orthagonal segments (if possible).
  vpr/src/route/rr_graph_indexed_data.cpp
Labels: VPR, lang-cpp

#972 basic_vtr mem leaks
  ODIN_II/SRC/verilog_flex.l
Labels: Odin

#983 docs: vpr: Add basic flow description
  doc/src/vpr/basic_flow.rst
  doc/src/vpr/index.rst
Labels: VPR, docs

#985 doc: vpr: Fix typo
  doc/src/vpr/basic_flow.rst
Labels: VPR, docs

#986 Use FASM prefix of parent pb_type, not prefix of output pb_type.
  utils/fasm/src/fasm.cpp
  utils/fasm/src/fasm.h
  utils/fasm/test/test_fasm.cpp
  utils/fasm/test/test_fasm_arch.xml
Labels: lang-cpp, tests

#930 Optimize NdMatrix.
  libs/libvtrutil/src/vtr_ndmatrix.h
Labels: lang-cpp, libvtrutil
