Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-02, with the labels that each got.

#442 ODIN_MEMLEAK: freed muxes in partial_map.cpp
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#443 ODIN_MEMLEAK: freed if_statements and case_statement in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#444 ODIN_MEMLEAK: freed per_case_statement_idx in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#445 ODIN_MEMLEAK: freed char* in parse_making_ast.cpp
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#446 ODIN_MEMLEAK: freed if_expressions in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#447 ODIN_MEMLEAK: freed other_expressions in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#448 ODIN_MEMLEAK: freed case_statement in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#449 ODIN_MEMLEAK: freed default_expression in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#450 ODIN_MEMLEAK: freed tested in ast_to_netlist
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#439 ODIN_MEMLEAK: freed ref_string in netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#452 ODIN_MEMLEAK: freed folded node in resolve_node
  ODIN_II/SRC/ast_util.cpp
Labels: Odin, lang-cpp

#456 Added more regression test coverage to Odin II and fixed 'spree' benchmark.
  ODIN_II/regression_test/benchmark/_bug/8_bit_for_pass_through_module.v
  ODIN_II/regression_test/benchmark/_bug/8_bit_for_pass_through_module_input
  ODIN_II/regression_test/benchmark/_bug/8_bit_for_pass_through_module_output
  ODIN_II/regression_test/benchmark/_bug/spree.v
  ODIN_II/regression_test/benchmark/syntax/8_bit_for_pass_through_off_by_1.v
  ODIN_II/regression_test/benchmark/syntax/8_bit_for_pass_through_off_by_1_input
  ODIN_II/regression_test/benchmark/syntax/8_bit_for_pass_through_off_by_1_output
Labels: Odin, lang-hdl, tests

#461 ODIN_MEMLEAK: freed nnode in instantiate_bitwise_logic
  ODIN_II/SRC/partial_map.cpp
Labels: Odin, lang-cpp

#459 ODIN_MEMLEAK: freed replaced symbol nodes
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#458 Add a macromodule keyword- Odin language coverage
  ODIN_II/README.rst
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/operators/macromudule_test.v
  doc/src/odin/index.rst
Labels: Odin, docs, lang-hdl, tests

#462 ODIN_MEMLEAK: freed nnodes associated with BLOCKING_STATEMENTS
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#460 ODIN_DEBUG: Fix for [0:0] data width segmentation fault
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#467 librtlnumber - Register Transfer Level (RTL) Verilog Number Library
  CMakeLists.txt
  ODIN_II/CMakeLists.txt
  ODIN_II/SRC/odin_ii.cpp
  libs/CMakeLists.txt
  libs/librtlnumber/.gitignore
  libs/librtlnumber/CMakeLists.txt
  libs/librtlnumber/Makefile
  libs/librtlnumber/README.md
  libs/librtlnumber/main.cpp
  libs/librtlnumber/regression_tests/basic_regression_tests.csv
  libs/librtlnumber/regression_tests/compound_regression_test.csv
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/include/rtl_int.hpp
  libs/librtlnumber/src/include/rtl_utils.hpp
  libs/librtlnumber/src/rtl_int.cpp
  libs/librtlnumber/src/rtl_utils.cpp
  libs/librtlnumber/unit_test/Makefile
  libs/librtlnumber/unit_test/verilog_bits.cpp
  libs/librtlnumber/verify_librtlnumber.sh
Labels: Odin, build, docs, lang-cpp, lang-make, lang-shell, scripts, tests
