Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2019-01, with the labels that each got.

#422 Add custom CSS to fix broken (too long) descnames styling
  doc/src/_static/css/vtr.css
  doc/src/conf.py
Labels: lang-cpp, lang-python

#424 Fixed memory leak in verilog_preprocessor.cpp
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/read_xml_config_file.cpp
  ODIN_II/SRC/verilog_preprocessor.cpp
Labels: Odin, lang-cpp

#430 ODIN_MEMLEAK: fix mem leak with free
  ODIN_II/SRC/verilog_preprocessor.cpp
Labels: Odin, lang-cpp

#434 ODIN_MEMLEAK: fix mem leak with free
  ODIN_II/SRC/implicit_memory.cpp
Labels: Odin, lang-cpp

#420 Added support for complex conditionals and post-conditions in for
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/include/ast_loop_unroll.h
  ODIN_II/regression_test/benchmark/syntax/complex_post_for_loop.v
  ODIN_II/regression_test/benchmark/syntax/complex_post_for_loop_input
  ODIN_II/regression_test/benchmark/syntax/complex_post_for_loop_output
  ODIN_II/regression_test/benchmark/syntax/h7_of_8_bit_for_pass_through.v
  ODIN_II/regression_test/benchmark/syntax/h7_of_8_bit_for_pass_through_input
  ODIN_II/regression_test/benchmark/syntax/h7_of_8_bit_for_pass_through_output
  ODIN_II/regression_test/benchmark/syntax/l2_and_h2_of_8_bit_for_pass_through.v
  ODIN_II/regression_test/benchmark/syntax/l2_and_h2_of_8_bit_for_pass_through_input
  ODIN_II/regression_test/benchmark/syntax/l2_and_h2_of_8_bit_for_pass_through_output
Labels: Odin, lang-cpp, lang-hdl, tests
