Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-12, with the labels that each got.

#1600 Vpr constraints parsing
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/constraints_load.cpp
  vpr/src/base/constraints_load.h
  vpr/src/base/echo_files.cpp
  vpr/src/base/echo_files.h
  vpr/src/base/gen/README.gen.md
  vpr/src/base/gen/vpr_constraints_uxsdcxx.h
  vpr/src/base/gen/vpr_constraints_uxsdcxx_interface.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_constraints.xsd
  vpr/src/base/vpr_constraints_reader.cpp
  vpr/src/base/vpr_constraints_reader.h
  vpr/src/base/vpr_constraints_serializer.h
  vpr/src/base/vpr_types.h
Labels: VPR

#1602 Vpr constraints fixes
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/constraints_load.cpp
  vpr/src/base/gen/vpr_constraints_uxsdcxx.h
  vpr/src/base/gen/vpr_constraints_uxsdcxx_interface.h
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_constraints.xsd
  vpr/src/base/vpr_constraints_reader.cpp
  vpr/src/base/vpr_constraints_reader.h
  vpr/src/base/vpr_constraints_serializer.h
Labels: VPR

#1593 utils: move device specific utilities to arch_util
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/physical_types_util.cpp
  libs/libarchfpga/src/physical_types_util.h
  vpr/src/base/SetupGrid.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/check_netlist.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_types.cpp
  vpr/src/pack/output_clustering.cpp
  vpr/src/pack/post_routing_pb_pin_fixup.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/power/power.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, libarchfpga

#1604 Add missing includes.
  vpr/src/base/partition.h
  vpr/src/route/rr_graph_indexed_data.cpp
Labels: VPR

#1569 Changes to enable custom ODIN configuration to vtr_flow experiments
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/read_xml_config_file.cpp
  ODIN_II/regression_test/benchmark/task/mixing_optimization/config_file_half/config_file_half.xml
  ODIN_II/regression_test/benchmark/task/mixing_optimization/config_file_half/simulation_result.json
  ODIN_II/regression_test/benchmark/task/mixing_optimization/config_file_half/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/mixing_optimization/config_file_half/task.conf
  doc/src/odin/dev_guide/regression_test.md
  doc/src/vtr/run_vtr_flow.rst
  vtr_flow/misc/custom_odin_config_no_mults.xml
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/scripts/run_vtr_task.py
Labels: Odin

#1564 Add symbiflow tests
  .github/kokoro/continuous/nightly.cfg
  .github/kokoro/presubmit/nightly.cfg
  .github/kokoro/steps/vtr-full-setup.sh
  .github/kokoro/steps/vtr-test.sh
  .gitignore
  CMakeLists.txt
  vtr_flow/arch/symbiflow/README.md
  vtr_flow/benchmarks/symbiflow/README.md
  vtr_flow/benchmarks/symbiflow/place_constr/README.md
  vtr_flow/benchmarks/symbiflow/sdc/README.md
  vtr_flow/scripts/download_symbiflow.py
  vtr_flow/scripts/python_libs/vtr/task.py
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/symbiflow/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/task_list.txt
Labels: build, infra, lang-make
