Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-06, with the labels that each got.

#1324 doc: add Antmicro to contributing companies in README
  README.md
Labels: docs

#1321 doc: Update commit proceedures
  README.developers.md
Labels: docs

#1309 Packable mode support
  doc/src/arch/reference.rst
  doc/src/tutorials/arch/frac_lut_le.png
  doc/src/tutorials/arch/frac_lut_le_dual_lut5_mode.png
  doc/src/tutorials/arch/frac_lut_le_lut6_mode.png
  doc/src/tutorials/arch/index.rst
  doc/src/tutorials/arch/multi_mode_ble.rst
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_router.cpp
  vpr/src/pack/prepack.cpp
  vtr_flow/arch/timing/k6_frac_N10_40nm_disable_packing.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_disable/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_disable/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, VTR Flow, docs, lang-cpp, libarchfpga, tests

#1340 Import vqm2blif into VTR
  libs/CMakeLists.txt
  libs/libvqm/CMakeLists.txt
  libs/libvqm/Makefile
  libs/libvqm/vqm_common.c
  libs/libvqm/vqm_common.h
  libs/libvqm/vqm_dll.cpp
  libs/libvqm/vqm_dll.h
  libs/libvqm/vqm_parser.l
  libs/libvqm/vqm_parser.y
  utils/CMakeLists.txt
  utils/vqm2blif/CMakeLists.txt
  utils/vqm2blif/DOCS/blif_info.pdf
  utils/vqm2blif/DOCS/quip_tutorial.pdf
  utils/vqm2blif/README.txt
  utils/vqm2blif/src/base/cleanup.cpp
  utils/vqm2blif/src/base/cleanup.h
  utils/vqm2blif/src/base/hash.cpp
  utils/vqm2blif/src/base/hash.h
  utils/vqm2blif/src/base/lut_recog.cpp
  utils/vqm2blif/src/base/lut_recog.h
  utils/vqm2blif/src/base/lut_stats.cpp
  utils/vqm2blif/src/base/lut_stats.h
  utils/vqm2blif/src/base/lutmask.h
  utils/vqm2blif/src/base/preprocess.cpp
  utils/vqm2blif/src/base/preprocess.h
  utils/vqm2blif/src/base/vqm2blif.h
  utils/vqm2blif/src/base/vqm2blif_util.cpp
  utils/vqm2blif/src/base/vqm2blif_util.h
  utils/vqm2blif/src/main.cpp
Labels: build, docs, lang-cpp, lang-make

#1342 flow: Update nightly mcnc regression test results
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vpr_reg_mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_bidir/config/golden_results.txt
Labels: VTR Flow, tests

#1346 Update ODIN II Contributors in README
  README.md
Labels: docs

#1345 doc: Add notes on how to speed-up VTR edit-compile-debug cycle
  README.developers.md
Labels: docs

#1349 vpr: Fix uninitialized class data member
  vpr/src/place/timing_place.h
Labels: VPR, lang-cpp

#1350 Fix cmake vqm ipo warnings
  libs/libvqm/CMakeLists.txt
  utils/vqm2blif/CMakeLists.txt
Labels: build, lang-make

#1344 bug fix for memory leakage in prepacking stage for disable packing
  vpr/src/pack/prepack.cpp
Labels: VPR, lang-cpp

#1316 Carry-in effect issue in hard adders
  ODIN_II/SRC/adders.cpp
  ODIN_II/regression_test/benchmark/task/micro/simulation_result.json
  ODIN_II/regression_test/benchmark/task/micro/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/micro/adder_hard_block.v
  ODIN_II/regression_test/benchmark/verilog/micro/adder_hard_block_input
  ODIN_II/regression_test/benchmark/verilog/micro/adder_hard_block_output
  ODIN_II/regression_test/benchmark/verilog/micro/hard_adder_cin_propagation.v
  ODIN_II/regression_test/benchmark/verilog/micro/hard_adder_cin_propagation_input
  ODIN_II/regression_test/benchmark/verilog/micro/hard_adder_cin_propagation_output
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_soft_multipliers/config/golden_results.txt
Labels: Odin, VTR Flow, build, docs, external_libs, lang-cpp, lang-hdl, lang-make, lang-python, tests

#1318 Adding improved error checking for the route file parser
  vpr/src/base/read_route.cpp
Labels: Odin, VPR, build, docs, external_libs, lang-cpp, lang-make, lang-python, tests

#1354 Initial support for API documentation
  .readthedocs.yaml
  doc/README
  doc/_doxygen/ODIN_II.dox
  doc/_doxygen/abc.dox
  doc/_doxygen/ace2.dox
  doc/_doxygen/blifexplorer.dox
  doc/_doxygen/vpr.dox
  doc/requirements.txt
  doc/src/conf.py
Labels: docs, lang-python

#1348 Segment usage name
  vpr/src/route/segment_stats.cpp
Labels: VPR, lang-cpp

#1358 Fix links to markdown files in the documentation
  doc/src/conf.py
Labels: lang-python

#1361 Add VPR profiling procedures to the VTR documentation
  README.developers.md
Labels: docs

#1363 route: profiling: add debugging prints.
  vpr/src/route/route_profiling.cpp
  vpr/src/route/route_profiling.h
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp

#1341 Add -check_incremental_sta_consistency option to regression tests
  vpr/src/base/vpr_types.h
  vtr_flow/scripts/run_vtr_flow.pl
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_timing_update_diff/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_timing_update_diff/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_timing_update_diff_titan/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_timing_update_diff_titan/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_update_diff/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_update_diff/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, VTR Flow, infra, lang-cpp, lang-perl, scripts, tests

#1365 Change VPR place WL estimate fun to linear
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#1364 Coverity scan issues fixes
  vpr/src/base/ShowSetup.cpp
Labels: VPR, lang-cpp

#1360 Change API comments in VPR base to doxygen style
  vpr/src/base/SetupGrid.cpp
  vpr/src/base/SetupGrid.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/atom_lookup.h
  vpr/src/base/atom_lookup_fwd.h
  vpr/src/base/atom_netlist.h
  vpr/src/base/atom_netlist_utils.cpp
  vpr/src/base/atom_netlist_utils.h
  vpr/src/base/check_netlist.cpp
  vpr/src/base/clock_modeling.h
  vpr/src/base/clustered_netlist.cpp
  vpr/src/base/clustered_netlist.h
  vpr/src/base/clustered_netlist_fwd.h
  vpr/src/base/constant_nets.h
  vpr/src/base/device_grid.h
  vpr/src/base/logic_vec.cpp
  vpr/src/base/logic_vec.h
  vpr/src/base/metadata_storage.h
  vpr/src/base/netlist.h
  vpr/src/base/netlist_fwd.h
  vpr/src/base/netlist_utils.h
  vpr/src/base/netlist_walker.cpp
  vpr/src/base/netlist_walker.h
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
  vpr/src/base/place_and_route.cpp
  vpr/src/base/place_and_route.h
  vpr/src/base/read_blif.cpp
  vpr/src/base/read_circuit.h
  vpr/src/base/read_netlist.cpp
  vpr/src/base/read_netlist.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/read_place.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/read_route.h
  vpr/src/base/setup_clocks.cpp
  vpr/src/base/stats.cpp
  vpr/src/base/stats.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_exit_codes.h
  vpr/src/base/vpr_signal_handler.cpp
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
Labels: VPR, lang-cpp

#1384 Fixed a typo in vtr quick start
  doc/src/quickstart/index.rst
Labels: docs

#1376 Speed up Router's calculation of OveruseInfo
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp
