Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-03, with the labels that each got.

#1168 Remove traversal limits from capnp reading.
  libs/libvtrcapnproto/serdes_utils.h
  vpr/src/route/gen/rr_graph_uxsdcxx_capnp.h
Labels: VPR, lang-cpp

#1171 Fix missing <sstream> include for use of std::istringstream
  vpr/src/timing/timing_util.cpp
Labels: VPR, lang-cpp

#1175 Add vtr::array_view object.
  libs/libvtrutil/src/vtr_array_view.h
  libs/libvtrutil/test/test_array_view.cpp
Labels: lang-cpp, libvtrutil, tests

#1176 Refactor ConnectionRouter into seperate file.
  utils/route_diag/src/main.cpp
  vpr/src/base/vpr_context.h
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_timing.h
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node.h
  vpr/src/route/rr_rc_data.cpp
  vpr/src/route/rr_rc_data.h
Labels: VPR, lang-cpp

#1178 Add CMake option to enable/disable building of ODIN.
  CMakeLists.txt
  libs/CMakeLists.txt
Labels: build, lang-make

#1190 Use const version of g_vpr_ctx.device() for genfasm
  utils/fasm/src/main.cpp
Labels: lang-cpp

#1188 Have route_diag use criticality from --max_criticality argument.
  utils/route_diag/src/main.cpp
Labels: lang-cpp

#1187 Some improvements to metadata storage.
  libs/libvtrutil/src/vtr_flat_map.h
  vpr/src/base/metadata_storage.h
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_metadata.cpp
  vpr/src/route/rr_metadata.h
Labels: VPR, lang-cpp, libvtrutil

#1186 Options to enable faster rr graph reading
  utils/fasm/src/main.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/place_and_route.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/route_common.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/test/test_vpr.cpp
Labels: VPR, lang-cpp, tests

#1194 Fix couple small bugs in vtr_string_view.h
  libs/libvtrutil/src/vtr_string_view.h
Labels: lang-cpp, libvtrutil

#1196 Use grid_ reference in ConnectionRouter.
  vpr/src/route/connection_router.cpp
Labels: VPR, lang-cpp

#1202 Add array_view key'd by StrongId.
  libs/libvtrutil/src/vtr_array_view.h
  libs/libvtrutil/test/test_array_view.cpp
Labels: lang-cpp, libvtrutil, tests

#1197 Add vtr::StrongIdRange and use it within ConnectionRouter.
  libs/libvtrutil/src/vtr_strong_id_range.h
  libs/libvtrutil/test/test_strong_id.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/rr_graph_storage.h
Labels: VPR, lang-cpp, libvtrutil, tests

#1201 Use RREdgeId in t_heap
  vpr/src/base/vpr_types.h
  vpr/src/device/rr_graph_fwd.h
  vpr/src/route/binary_heap.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/heap_type.cpp
  vpr/src/route/heap_type.h
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/rr_graph_storage.h
  vpr/src/route/rr_node_fwd.h
Labels: VPR, infra, lang-cpp, libvtrutil, tests

#1210 vpr: Add missing new line in warning
  vpr/src/route/rr_graph.cpp
Labels: VPR, lang-cpp

#1213 vpr: Print pin ranges when describing contiguous ranges of pins
  vpr/src/util/vpr_utils.cpp
Labels: VPR, lang-cpp

#1211 Verify RR Node Indicies are Consistent with RR Graph
  vpr/src/device/rr_graph_fwd.h
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/clock_network_builders.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
  vpr/src/route/rr_graph_clock.cpp
  vpr/src/route/rr_graph_clock.h
Labels: VPR, lang-cpp

#1214 Remove stable sort by defining full element order.
  vpr/src/route/rr_graph_storage.cpp
Labels: VPR, lang-cpp

#1215 docs: Fix typo in cross-ref
  doc/src/vtr/tasks.rst
Labels: docs

#1220 Update Dockerfile and use vars for dict key python
  Dockerfile
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, infra, lang-python, tests

#1217 Added buf keyword to verilog_flex.l
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/task/operators/simulation_result.csv
  ODIN_II/regression_test/benchmark/task/operators/synthesis_result.csv
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_bufnode.v
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_bufnode_input
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_bufnode_output
Labels: Odin, lang-cpp, lang-hdl, tests

#1222 Update Citation for VTR 8
  README.md
Labels: docs

#1093 Add a bitmap to speed up non_configurable look up
  vpr/src/base/vpr_context.h
  vpr/src/route/route_common.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp

#1223 fix verilog file display name
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/regression_test/benchmark/task/FIR/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/arch_sweep/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/cmd_line_args/batch_simulation/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/cmd_line_args/best_coverage/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/cmd_line_args/coverage/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_ast/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_netlist/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/cmd_line_args/parallel_simulation/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/full/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/large/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/micro/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/operators/synthesis_result.csv
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.csv
Labels: Odin, lang-cpp, tests

#1226 ODIN: pluralise circuit_dir and arch_dir bm infra
  ODIN_II/regression_test/.library/conf_generate.sh
  ODIN_II/regression_test/benchmark/task/FIR/task.conf
  ODIN_II/regression_test/benchmark/task/arch_sweep/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/batch_simulation/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/best_coverage/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/coverage/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_ast/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_netlist/task.conf
  ODIN_II/regression_test/benchmark/task/cmd_line_args/parallel_simulation/task.conf
  ODIN_II/regression_test/benchmark/task/full/task.conf
  ODIN_II/regression_test/benchmark/task/large/task.conf
  ODIN_II/regression_test/benchmark/task/micro/task.conf
  ODIN_II/regression_test/benchmark/task/operators/task.conf
  ODIN_II/regression_test/benchmark/task/syntax/task.conf
  ODIN_II/regression_test/benchmark/task/vtr/task.conf
  ODIN_II/regression_test/benchmark/third_party/SymbiFlow/build.sh
  ODIN_II/verify_odin.sh
Labels: Odin, lang-cpp, lang-shell, scripts, tests

#1230 Odin: regression failure (Memleak and uncaught errors)
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/odin_error.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.csv
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, lang-cpp, lang-python, tests

#1228 Removed buf keyword from unsupported tokens
  ODIN_II/SRC/verilog_flex.l
Labels: Odin

#1232 Odin: add lower and upper bound to range during result parsing
  Dockerfile
  ODIN_II/Makefile
  ODIN_II/regression_test/benchmark/task/large/task.conf
  ODIN_II/regression_test/parse_result/conf/basic.toml
  ODIN_II/regression_test/parse_result/conf/sim.toml
  ODIN_II/regression_test/parse_result/conf/synth.toml
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, build, lang-cpp, lang-make, lang-python, tests

#1234 Update pb_type usage log messages
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster.h
Labels: VPR, lang-cpp

#1245 Odin: use ordered dict to preserve ordering in parse script
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, lang-python, tests

#1243 README.md: "How to Cite" was duplicated
  README.md
Labels: docs

#1242 flow: Update weekly golden results
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vpr_ispd/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vtr_reg_fpu_hard_block_arch/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vtr_reg_fpu_soft_logic_arch/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vtr_reg_qor_chain_predictor_off/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vtr_reg_titan/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vtr_reg_titan_he/config/golden_results.txt
Labels: VTR Flow, tests

#1248 Odin: [bugfix] create new lines in regression results with new tests
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, lang-cpp, lang-python, lang-shell, scripts, tests

#1241 vpr: Skip fc=0 pins during placement delay lookup calculation
  vpr/src/place/timing_place_lookup.cpp
Labels: VPR, lang-cpp

#1238 Fixed Segfault for reference types
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/regression_test/benchmark/task/syntax/simulation_result.csv
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.csv
  ODIN_II/regression_test/benchmark/verilog/syntax/vector_and.v
  ODIN_II/regression_test/benchmark/verilog/syntax/vector_and_input
  ODIN_II/regression_test/benchmark/verilog/syntax/vector_and_ouput
  ODIN_II/regression_test/benchmark/verilog/syntax/vector_buf.v
  ODIN_II/regression_test/benchmark/verilog/syntax/vector_buf_input
  ODIN_II/regression_test/benchmark/verilog/syntax/vector_buf_output
Labels: Odin, lang-cpp, lang-hdl, tests

#1251 doc: Add optimization animations to readme
  README.md
Labels: docs
