Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-09, with the labels that each got.

#1398 Added support for multiple driver pins
  ODIN_II/SRC/Hashtable.cpp
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/hard_blocks.cpp
  ODIN_II/SRC/include/node_creation_library.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/SRC/netlist_check.cpp
  ODIN_II/SRC/netlist_cleanup.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_statistic.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/netlist_visualizer.cpp
  ODIN_II/SRC/node_creation_library.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/partial_map.cpp
  ODIN_II/SRC/read_blif.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/subtractions.cpp
  ODIN_II/regression_test/benchmark/task/fpu/hard_logic/simulation_result.json
  ODIN_II/regression_test/benchmark/task/full/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/simulation_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/syntax/multi_assignment.v
  ODIN_II/regression_test/benchmark/verilog/syntax/multi_assignment_input
  ODIN_II/regression_test/benchmark/verilog/syntax/multi_assignment_output
Labels: Odin, lang-cpp, lang-hdl, lang-shell, scripts, tests

#1113 Prevent non-termination with high fanout routing logic
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_timing.h
  vpr/src/route/routing_predictor.cpp
  vpr/src/route/routing_predictor.h
Labels: VPR, lang-cpp

#1516 Apply reordering to node and edge metadata
  vpr/src/base/metadata_storage.h
  vpr/src/route/rr_graph_util.cpp
  vpr/test/test_vpr.cpp
Labels: VPR, lang-cpp, tests

#1521 Fixed Toggle block internal image link
  doc/src/vpr/graphics.rst
Labels: VPR, docs

#1515 Update command_line_usage.rst
  doc/src/vpr/command_line_usage.rst
Labels: VPR, docs

#1525 Documentation Changes to CMakeLists.txt
  CMakeLists.txt
Labels: build, lang-make

#1490 Refactored read_place and read_user_block_loc functions into two new …
  vpr/src/base/read_place.cpp
  vpr/src/base/read_place.h
  vpr/src/place/initial_placement.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_reg_qor_chain_depop/config/golden_results.txt
Labels: VPR, VTR Flow, lang-cpp, tests

#1501 Add raw setup slack analysis to placement quench
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/place.cpp
  vpr/src/place/timing_place.cpp
  vpr/src/place/timing_place.h
  vpr/src/timing/timing_util.cpp
  vpr/src/timing/timing_util.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_quench_slack/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_quench_slack/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, VTR Flow, docs, lang-cpp, tests

#1530 place_constraints: fixed number of tokens when reading place file
  vpr/src/base/read_place.cpp
Labels: VPR, lang-cpp

#1528 Odin: Fixes coverity error in simulation
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#1504 Add Analytic Placer to VPR with new option, test, and dependency
  CMakeLists.txt
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_geometry.tpp
  vpr/CMakeLists.txt
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/analytic_placer.cpp
  vpr/src/place/analytic_placer.h
  vpr/src/place/cut_spreader.cpp
  vpr/src/place/cut_spreader.h
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_analytic_placer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_analytic_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: Odin, VPR, VTR Flow, build, external_libs, lang-cpp, lang-hdl, lang-make, libvtrutil, tests

#1522 Refactor the placer debug code
  .travis.yml
  vpr/src/draw/breakpoint.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_types.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/place.cpp
  vpr/src/place/placer_breakpoint.cpp
  vpr/src/place/placer_breakpoint.h
  vpr/src/route/route_timing.cpp
Labels: VPR, infra, lang-cpp

#1395 Merging RCV branch into master
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_types.h
  vpr/src/main.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/connection_router_interface.h
  vpr/src/route/heap_type.cpp
  vpr/src/route/heap_type.h
  vpr/src/route/route_budgets.cpp
  vpr/src/route/route_budgets.h
  vpr/src/route/route_common.h
  vpr/src/route/route_path_manager.cpp
  vpr/src/route/route_path_manager.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_timing.h
  vpr/src/route/router_lookahead.cpp
  vpr/src/route/router_lookahead.h
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map.h
  vtr_flow/arch/routing_mode/hold_time_test.xml
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_bidir/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_bidir/config/golden_results.txt
Labels: VPR, VTR Flow, lang-cpp, tests

#1529 Refactor place.cpp Part I
  vpr/src/place/place.cpp
  vpr/src/place/place_delay_model.cpp
  vpr/src/place/place_delay_model.h
  vpr/src/place/place_timing_update.cpp
  vpr/src/place/place_timing_update.h
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
  vpr/src/place/placer_context.h
  vpr/src/place/placer_globals.cpp
  vpr/src/place/placer_globals.h
  vpr/src/place/timing_place.cpp
  vpr/src/place/timing_place.h
Labels: VPR, lang-cpp

#1532 run_vtr_flow.py: use VTR exe paths instead of searching on PATH
  vtr_flow/scripts/python_libs/vtr/__init__.py
  vtr_flow/scripts/python_libs/vtr/abc/abc.py
  vtr_flow/scripts/python_libs/vtr/ace/ace.py
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/python_libs/vtr/paths.py
  vtr_flow/scripts/python_libs/vtr/util.py
  vtr_flow/scripts/python_libs/vtr/vpr/vpr.py
  vtr_flow/scripts/run_vtr_flow.py
Labels: ABC, VPR, VTR Flow, infra, lang-python, scripts

#1510 Python requirements added
  .github/kokoro/run-vtr.sh
  .github/kokoro/steps/hostsetup.sh
  .travis.yml
  dev/upgrade_vtr_archs.sh
  requirements.txt
Labels: infra, lang-shell, scripts

#1542 Refactor place.cpp Part II
  vpr/src/place/place.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
Labels: VPR, lang-cpp

#1541 read_place: do not throw error if block name is invalid
  vpr/src/base/read_place.cpp
Labels: VPR, lang-cpp

#1543 Refactor place.cpp Part III
  vpr/src/place/place.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
Labels: VPR, lang-cpp

#1531 arch: additional comments on physical tiles, logical blocks, sub tiles
  libs/libarchfpga/src/physical_types.h
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp, libarchfpga

#1545 Remove temporary files added.
  vpr/packing_pin_util.rpt
  vpr/pre_pack.report_timing.setup.rpt
  vpr/report_timing.hold.rpt
  vpr/report_timing.setup.rpt
  vpr/report_unconstrained_timing.hold.rpt
  vpr/report_unconstrained_timing.setup.rpt
Labels: VPR

#1509 Vtr task and test script python rewrite
  .github/kokoro/continuous/nightly.cfg
  .github/kokoro/continuous/strong.cfg
  .github/kokoro/continuous/strong_sanitized.cfg
  .github/kokoro/continuous/weekly.cfg
  .github/kokoro/presubmit/nightly.cfg
  .github/kokoro/presubmit/strong.cfg
  .github/kokoro/presubmit/strong_sanitized.cfg
  .github/kokoro/steps/vtr-test.sh
  .travis.yml
  Makefile
  ODIN_II/verify_odin.sh
  README.developers.md
  dev/DOCKER_DEPLOY.md
  dev/pylint_check.py
  doc/src/quickstart/index.rst
  doc/src/tutorials/flow/basic_flow.rst
  doc/src/vtr/install_vtr.rst
  doc/src/vtr/parse_vtr_flow.rst
  doc/src/vtr/parse_vtr_task.rst
  doc/src/vtr/pass_requirements.rst
  doc/src/vtr/run_vtr_task.rst
  doc/src/vtr/running_vtr.rst
  run_quick_test.pl
  run_reg_test.py
  vtr_flow/benchmarks/arithmetic/task_and_parser.bash
  vtr_flow/parse/parse_config/common/abc.txt
  vtr_flow/parse/parse_config/common/odin.txt
  vtr_flow/parse/parse_config/common/vpr.common.txt
  vtr_flow/parse/parse_config/common/vpr.pack.txt
  vtr_flow/parse/parse_config/common/vpr.place.txt
  vtr_flow/parse/parse_config/common/vpr.route_fixed_chan_width.txt
  vtr_flow/parse/parse_config/common/vpr.route_min_chan_width.txt
  vtr_flow/parse/parse_config/timing/vpr.route_fixed_chan_width.txt
  vtr_flow/parse/parse_config/timing/vpr.route_relaxed_chan_width.txt
  vtr_flow/parse/parse_config/vpr_chain.txt
  vtr_flow/parse/qor_config/qor_fixed_chan_width.txt
  vtr_flow/parse/qor_config/qor_no_timing.txt
  vtr_flow/parse/qor_config/qor_rr_graph.txt
  vtr_flow/parse/qor_config/qor_standard.txt
  vtr_flow/parse/qor_config/qor_vpr_ispd.txt
  vtr_flow/parse/qor_config/qor_vpr_titan.txt
  vtr_flow/scripts/flow_script_template.txt
  vtr_flow/scripts/populate_after_running_task.sh
  vtr_flow/scripts/python_libs/vtr/__init__.py
  vtr_flow/scripts/python_libs/vtr/inspect.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_flow.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_task.py
  vtr_flow/scripts/python_libs/vtr/paths.py
  vtr_flow/scripts/python_libs/vtr/task.py
  vtr_flow/scripts/python_libs/vtr/util.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/scripts/run_vtr_task.py
  vtr_flow/tasks/regression_tests/README.md
  vtr_flow/tasks/run_all.sh
Labels: Odin, VTR Flow, build, docs, infra, lang-cpp, lang-make, lang-perl, lang-python, lang-shell, scripts, tests

#1554 remove unused variable assignment
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

#1549 Updated documentation for generating new golden results
  README.developers.md
Labels: docs

#1557 Add in-class initializers for t_placer_costs to fix coverity scan defect
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
Labels: VPR, lang-cpp

#1556 prepack: relax assertion on model port clock input pin_number
  vpr/src/pack/prepack.cpp
Labels: VPR, lang-cpp

#1553 Replace lingering references to pl scripts in travis
  .travis.yml
Labels: infra

#1547 Fix initial placement for heterogeneous tiles
  vpr/src/place/initial_placement.cpp
Labels: VPR, lang-cpp

#1561 Add a unit test for the ConnectionRouter
  vpr/test/test_connection_router.cpp
Labels: VPR, lang-cpp, tests

#1559 Remove index >= 0 check from vtr_vector_map.h
  libs/libvtrutil/src/vtr_vector_map.h
Labels: lang-cpp, libvtrutil
