Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-01, with the labels that each got.

#1091 VTR flow: Add hostname and run directory to parse results
  vtr_flow/parse/parse_config/common/vpr.common.txt
  vtr_flow/scripts/run_vtr_flow.pl
Labels: VTR Flow, infra, lang-cpp, lang-perl, scripts

#1092 Fix ISPD benchmark URLs
  vtr_flow/benchmarks/ispd_blif/README.rst
Labels: VTR Flow, docs

#1095 vpr: Improve code formatting of setup_routing_resources()
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp

#1098 Remove empty statement in switch/case. Add missing break in another.
  vpr/src/base/netlist.tpp
  vpr/src/route/check_rr_graph.cpp
Labels: VPR, lang-cpp

#1099 Remove unused local variable.
  vpr/src/place/move_utils.cpp
Labels: VPR, lang-cpp

#1097 vpr: Remove redundant calls to heap_::sift()
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp

#1068 Spelling and formatting fixes
  README.developers.md
  README.md
  run_reg_test.pl
  vpr/src/base/setup_clocks.cpp
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph_clock.cpp
  vtr_flow/arch/titan/README.rst
Labels: VPR, VTR Flow, docs, lang-cpp, lang-perl, scripts, tests

#1074 Refactor vtr::flat_map operator []
  libs/libvtrutil/src/vtr_flat_map.h
Labels: lang-cpp, libvtrutil
