Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-07, with the labels that each got.

#1389 Odin: update regression results
  ODIN_II/regression_test/benchmark/task/large/synthesis_result.json
Labels: Odin, tests

#1388 Update libblifparse
  libs/EXTERNAL/libblifparse/.travis.yml
  libs/EXTERNAL/libblifparse/src/blif_lexer.l
  libs/EXTERNAL/libblifparse/test/eblif/test.eblif
  libs/EXTERNAL/libblifparse/test/test_parser.sh
Labels: external_libs, infra, lang-netlist, lang-shell, scripts, tests

#1390 Odin: documentation update
  ODIN_II/README.md
  ODIN_II/README.rst
  doc/src/odin/dev_guide/contributing.md
  doc/src/odin/dev_guide/regression_test.md
  doc/src/odin/dev_guide/testing.md
  doc/src/odin/dev_guide/verify_script.md
  doc/src/odin/index.rst
  doc/src/odin/quickstart.md
  doc/src/odin/user_guide.md
  doc/src/odin/verilog_support.md
Labels: Odin, build, docs, lang-make, lang-python, tests

#1392 made critical path lines thicker
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

#1393 Odin: fix memory leak in c simple print function
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/regression_test/benchmark/task/test/simulation_result.json
  ODIN_II/regression_test/benchmark/task/test/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/test/task.conf
  ODIN_II/regression_test/benchmark/verilog/FIR/ex1BT16_fir_20_input
  ODIN_II/regression_test/benchmark/verilog/ex1BT16_fir_20_input
  ODIN_II/regression_test/benchmark/verilog/test/ifdef_undefined.v
  ODIN_II/regression_test/benchmark/verilog/test/ifdef_undefined_input
  ODIN_II/regression_test/benchmark/verilog/test/ifdef_undefined_output
Labels: Odin, lang-cpp, lang-hdl, tests

#1399 Improved the verify odin script
  ODIN_II/exec_wrapper.sh
  ODIN_II/verify_odin.sh
  doc/src/odin/dev_guide/verify_script.md
Labels: Odin, docs, lang-shell, scripts

#1403 [WIP] Odin: get verbose output out of bison
  ODIN_II/SRC/verilog_bison.y
Labels: Odin

#1413 Odin: update the banner
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/main.cpp
Labels: Odin, lang-cpp

#1414 Odin: parse sanitizer errors
  ODIN_II/CMakeLists.txt
  ODIN_II/exec_wrapper.sh
  ODIN_II/regression_test/benchmark/task/FIR/simulation_result.json
  ODIN_II/regression_test/benchmark/task/FIR/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/arch_sweep/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/binary/simulation_result.json
  ODIN_II/regression_test/benchmark/task/binary/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/batch_simulation/simulation_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/batch_simulation/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/best_coverage/simulation_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/best_coverage/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/coverage/simulation_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/coverage/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_ast/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/graphviz_netlist/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/parallel_simulation/simulation_result.json
  ODIN_II/regression_test/benchmark/task/cmd_line_args/parallel_simulation/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/full/simulation_result.json
  ODIN_II/regression_test/benchmark/task/full/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/micro/simulation_result.json
  ODIN_II/regression_test/benchmark/task/micro/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/operators/simulation_result.json
  ODIN_II/regression_test/benchmark/task/operators/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/simulation_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.json
  ODIN_II/regression_test/parse_result/conf/basic.toml
  ODIN_II/regression_test/parse_result/conf/hard_blocks.toml
  ODIN_II/regression_test/parse_result/conf/head.toml
  ODIN_II/regression_test/parse_result/conf/net.toml
  ODIN_II/regression_test/parse_result/conf/node.toml
  ODIN_II/regression_test/parse_result/conf/sim.toml
  ODIN_II/regression_test/parse_result/conf/synth.toml
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, build, lang-make, lang-python, lang-shell, scripts, tests

#1418 Odin: add preprocessing hooks to the parse script to allow user made replacement
  ODIN_II/regression_test/benchmark/task/keywords/macromodule/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/keywords/module_endmodule/synthesis_result.json
  ODIN_II/regression_test/parse_result/conf/basic.toml
  ODIN_II/regression_test/parse_result/conf/hooks.py
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, build, lang-make, lang-python, lang-shell, scripts, tests

#1419 Odin: Json print more usefull value mismatch
  ODIN_II/regression_test/parse_result/parse_result.py
Labels: Odin, lang-python, tests

#1420 Odin: fix mem leak in undef
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/task/preprocessor/simulation_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/synthesis_result.json
Labels: Odin, tests

#1421 Odin: Enable xnor task
  ODIN_II/regression_test/benchmark/task/keywords/xnor/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/xnor/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/keywords/xnor/task.conf
Labels: Odin, lang-cpp, tests

#1417 Fix timing cost consistency check bug
  vpr/src/place/timing_place.cpp
Labels: VPR, lang-cpp

#1362 Update list of grad and undergrad contributors to readme.md
  README.md
Labels: docs

#1427 Odin: improve error messages location for ast and netlist
  ODIN_II/SRC/adders.cpp
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/hard_blocks.cpp
  ODIN_II/SRC/implicit_memory.cpp
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/implicit_memory.h
  ODIN_II/SRC/include/netlist_check.h
  ODIN_II/SRC/include/netlist_utils.h
  ODIN_II/SRC/include/node_creation_library.h
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/odin_globals.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/SRC/netlist_check.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/SRC/node_creation_library.cpp
  ODIN_II/SRC/odin_error.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/partial_map.cpp
  ODIN_II/SRC/read_blif.cpp
  ODIN_II/SRC/read_xml_config_file.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/subtractions.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/regression_test/benchmark/task/arch_sweep/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/full/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/keywords/defparam/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/keywords/initial/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/keywords/parameter/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.json
Labels: Odin, lang-cpp

#1428 Increase width of cost_index to support more segment types.
  vpr/src/route/rr_graph_storage.h
Labels: VPR, lang-cpp

#1431 Update file_formats.rst
  doc/src/vpr/file_formats.rst
Labels: VPR, docs

#1438 Remove pres cost
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_types.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_global.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/tuesday.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router_interface.h
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/route_tree_timing.h
  vpr/src/route/router_stats.h
Labels: VPR, lang-cpp

#1442 Odin: fix coverity 211470,211469
  ODIN_II/SRC/simulate_blif.cpp
Labels: Odin, lang-cpp

#1441 Update file_formats.rst
  doc/src/vpr/file_formats.rst
Labels: VPR, docs

#1445 Odin: don't glob for memory architectures in arch_sweep
  ODIN_II/regression_test/benchmark/task/arch_sweep/task.conf
Labels: Odin, lang-cpp, tests

#1446 Update graphics.rst
  doc/src/vpr/graphics.rst
Labels: VPR, docs

#1400 Stratix10 like archs
  vtr_flow/arch/COFFE_22nm/4bit_adder_double_chain_arch.xml
  vtr_flow/arch/COFFE_22nm/4bit_adder_single_chain_arch.xml
  vtr_flow/arch/COFFE_22nm/stratix10_arch.xml
Labels: VTR Flow

#1433 vpr: Add fix_clusters option to allow users to lock down any block to…
  libs/EXTERNAL/libargparse/argparse_test.cpp
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/read_place.cpp
  vpr/src/base/read_place.h
  vpr/src/base/vpr_types.h
  vpr/src/place/initial_placement.cpp
  vpr/src/place/initial_placement.h
  vpr/src/place/place.cpp
  vtr_flow/arch/reg_test_archs/Readme.txt
  vtr_flow/arch/reg_test_archs/fix_clusters_test_arch.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_clusters/apex2_block_locations.place
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_clusters/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_clusters/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_pins_pad_file/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_pins_pad_file/stereovision3.pad
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, VTR Flow, external_libs, lang-cpp, tests

#1454 Prune the heap
  vpr/src/route/binary_heap.cpp
  vpr/src/route/binary_heap.h
  vpr/src/route/bucket.cpp
  vpr/src/route/bucket.h
  vpr/src/route/connection_router.h
  vpr/src/route/heap_type.h
Labels: VPR, lang-cpp

#1457 Update command_line_usage.rst
  doc/src/vpr/command_line_usage.rst
Labels: VPR, docs

#1456 Odin_II: resolve defparams before override
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/regression_test/benchmark/task/keywords/defparam/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/defparam/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/keywords/parameter/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/parameter/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/keywords/defparam/defparam_depth_1.v
  ODIN_II/regression_test/benchmark/verilog/keywords/defparam/override_same_param_name.v
  ODIN_II/regression_test/benchmark/verilog/keywords/defparam/override_same_param_name_input
  ODIN_II/regression_test/benchmark/verilog/keywords/defparam/override_same_param_name_output
Labels: Odin, lang-cpp, lang-hdl, tests

#1429 Vtr flow script py rewrite
  .travis.yml
  dev/tutorial/NewDeveloperTutorial.txt
  doc/src/conf.py
  doc/src/dev/tutorials/new_developer_tutorial.rst
  doc/src/tutorials/flow/basic_flow.rst
  doc/src/vtr/index.rst
  doc/src/vtr/power_estimation/index.rst
  doc/src/vtr/python_libs/vtr.rst
  doc/src/vtr/run_vtr_flow.rst
  doc/src/vtr/running_vtr.rst
  run_reg_test.pl
  vtr_flow/scripts/python_libs/vtr/__init__.py
  vtr_flow/scripts/python_libs/vtr/abc/__init__.py
  vtr_flow/scripts/python_libs/vtr/abc/abc.py
  vtr_flow/scripts/python_libs/vtr/ace/__init__.py
  vtr_flow/scripts/python_libs/vtr/ace/ace.py
  vtr_flow/scripts/python_libs/vtr/error.py
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/inspect.py
  vtr_flow/scripts/python_libs/vtr/odin/__init__.py
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/python_libs/vtr/util.py
  vtr_flow/scripts/python_libs/vtr/vpr/__init__.py
  vtr_flow/scripts/python_libs/vtr/vpr/vpr.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/scripts/run_vtr_task.pl
Labels: ABC, VPR, VTR Flow, build, docs, infra, lang-make, lang-perl, lang-python, scripts, tests

#1455 Print out info/report on overused rr-nodes at the end of a failed routing iteration
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/overuse_report.cpp
  vpr/src/route/overuse_report.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/rr_graph_storage.cpp
  vpr/src/route/rr_graph_storage.h
Labels: VPR, docs, lang-cpp
