Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-08, with the labels that each got.

#1460 Vtr flow max router iteration fix
  vtr_flow/scripts/run_vtr_flow.py
Labels: VTR Flow, infra, lang-python, scripts

#1474 Odin: add a vtr test filter
  ODIN_II/Makefile
  ODIN_II/regression_test/benchmark/suite/vtr_light_suite/task_list.conf
  ODIN_II/regression_test/parse_result/conf/hard_blocks.toml
  ODIN_II/regression_test/parse_result/conf/node.toml
  ODIN_II/verify_odin.sh
Labels: Odin, build, lang-cpp, lang-make, lang-shell, scripts, tests

#1472 Vtr flow failure fix
  vtr_flow/scripts/python_libs/vtr/util.py
Labels: VTR Flow, infra, lang-python, scripts

#1451 Adding contrast to flyline delay text so it's readable now
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

#1447 Added Debugger Documentation
  doc/src/vpr/debug_aids.rst
Labels: VPR, docs

#1463 Iterate bucket heap
  vpr/src/route/bucket.cpp
  vpr/src/route/bucket.h
Labels: VPR, lang-cpp

#1289 Fix some bugs in generating non-configurable edge sets.
  vpr/src/route/edge_groups.cpp
  vpr/src/route/edge_groups.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_storage.h
  vpr/test/test_edge_groups.cpp
Labels: VPR, lang-cpp, tests

#1480 Adding suppression file to the new vtr-flow.py
  vtr_flow/scripts/python_libs/vtr/vpr/vpr.py
Labels: VPR, VTR Flow, infra, lang-python, scripts

#1477 Avoid strcpy inside of atom netlist.
  vpr/src/base/atom_netlist.cpp
  vpr/src/base/atom_netlist.h
  vpr/src/base/read_blif.cpp
Labels: VPR, lang-cpp

#1488 Odin: fix coverity error in bison and flex
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
Labels: Odin

#1481 Fixed a typo
  doc/README
Labels: docs

#1489 Added block information for the IPIN/OPIN grid location in the overuse report
  vpr/src/base/vpr_types.h
  vpr/src/route/overuse_report.cpp
  vpr/src/route/overuse_report.h
Labels: VPR, lang-cpp

#1498 Odin: Improve the AST dot graph
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#1502 librtl: add bufifs and fix strings
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  libs/librtlnumber/main.cpp
  libs/librtlnumber/regression_tests/basic_regression_tests.csv
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/include/rtl_int.hpp
  libs/librtlnumber/src/include/rtl_utils.hpp
  libs/librtlnumber/src/rtl_int.cpp
  libs/librtlnumber/src/rtl_utils.cpp
Labels: Odin, lang-cpp, tests

#1026 Make it easier to use GDB
  CMakeLists.txt
Labels: build, lang-make

#1271 Add flags to reorder RR graph nodes
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/place_and_route.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/edge_groups.cpp
  vpr/src/route/edge_groups.h
  vpr/src/route/route_common.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/src/route/rr_graph_storage.cpp
  vpr/src/route/rr_graph_storage.h
  vpr/src/route/rr_graph_util.cpp
  vpr/src/route/rr_graph_util.h
  vpr/test/test_edge_groups.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_basic/basic_timing/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/basic_timing/config/golden_results.txt
Labels: VPR, VTR Flow, lang-cpp, tests

#1506 Fix call to "empty()" where "clear()" was intended.
  vpr/src/route/bucket.cpp
Labels: VPR, lang-cpp

#1499 Vqm2bliff one lut removal
  utils/vqm2blif/src/base/cleanup.cpp
  utils/vqm2blif/src/base/cleanup.h
  utils/vqm2blif/src/main.cpp
Labels: lang-cpp

#1287 Adding placer debug user interface
  README.md
  doc/src/vpr/debug_aids.rst
  libs/libvtrutil/src/vtr_expr_eval.cpp
  libs/libvtrutil/src/vtr_expr_eval.h
  vpr/main.ui
  vpr/packing_pin_util.rpt
  vpr/pre_pack.report_timing.setup.rpt
  vpr/report_timing.hold.rpt
  vpr/report_timing.setup.rpt
  vpr/report_unconstrained_timing.hold.rpt
  vpr/report_unconstrained_timing.setup.rpt
  vpr/src/draw/b.png
  vpr/src/draw/breakpoint.cpp
  vpr/src/draw/breakpoint.h
  vpr/src/draw/breakpoint_state_globals.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/i.png
  vpr/src/draw/m.png
  vpr/src/draw/n.png
  vpr/src/draw/r.png
  vpr/src/draw/t.png
  vpr/src/draw/trash.png
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/place.cpp
  vpr/src/place/uniform_move_generator.cpp
  vpr/src/route/route_timing.cpp
Labels: Odin, VPR, build, docs, infra, lang-cpp, lang-make, libarchfpga, libvtrutil

#1511 travis: Upgrade OS to Bionic
  .travis.yml
Labels: infra

#1479 Vtr_reg_strong Some Regression tests results are not being checked
  .travis.yml
  vtr_flow/scripts/parse_vtr_task.pl
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/util.py
  vtr_flow/scripts/python_libs/vtr/vpr/vpr.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_clock_aliases_set_delay/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_eblif_vpr/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_disable/config/golden_results.txt
Labels: VPR, VTR Flow, infra, lang-perl, lang-python, scripts, tests

#1514 vpr: Fixing the usage of deprecated GTK methods in drawing code.
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

#1508 Refactor rt node
  utils/route_diag/src/main.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/check_route.cpp
  vpr/src/route/connection_based_routing.cpp
  vpr/src/route/connection_based_routing.h
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_traceback.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/route_tree_timing.h
  vpr/src/route/route_tree_type.h
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/timing/net_delay.cpp
Labels: VPR, lang-cpp
