Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-04, with the labels that each got.

#1254 vpr: Fix GTK warning about duplicate add_canvas
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

#1257 doc: Add animations to documentation (main, VTR, VPR pages)
  doc/src/index.rst
  doc/src/vpr/command_line_usage.rst
  doc/src/vpr/graphics.rst
  doc/src/vpr/index.rst
  doc/src/vtr/index.rst
Labels: VPR, docs

#1260 WIP: Update Travis PPA sources
  .travis.yml
Labels: infra

#1258 vpr: Fix crashes when freeing un-initialized data structures
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/lb_type_rr_graph.cpp
Labels: VPR, lang-cpp

#1269 edge_sort_iterator: also add operator> and >=.
  vpr/src/route/rr_graph_storage.cpp
Labels: VPR, lang-cpp

#1265 Force operator< to be inlined to reduce place time
  vpr/src/place/place_delay_model.h
Labels: VPR, lang-cpp

#1103 Adding documentation for two stage clock routing cmd line option
  doc/src/vpr/command_line_usage.rst
Labels: VPR, docs

#1277 flow: Record additional build info in parse results
  vtr_flow/parse/parse_config/common/vpr.common.txt
Labels: VTR Flow, lang-cpp

#1280 vtrutil: Avoid potential divide by zero in geomean/arithmean
  libs/libvtrutil/src/vtr_math.h
Labels: lang-cpp, libvtrutil

#1282 Fix compilation of vtr_vector for specializations without data().
  libs/libvtrutil/src/vtr_vector.h
Labels: lang-cpp, libvtrutil

#1276 infra: Fix Kokoro nightly run-time failures
  .github/kokoro/continuous/nightly.cfg
  .github/kokoro/continuous/strong.cfg
  .github/kokoro/continuous/weekly.cfg
  .github/kokoro/presubmit/nightly.cfg
  .github/kokoro/presubmit/strong.cfg
  .github/kokoro/steps/hostinfo.sh
  .github/kokoro/steps/vtr-build.sh
  .github/kokoro/steps/vtr-test.sh
Labels: infra, lang-cpp, lang-shell, scripts, tests

#1052 Add base cost option that is bounded.
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/rr_graph_indexed_data.cpp
Labels: VPR, lang-cpp

#1275 Updated RTL tests to cover X and Z
  libs/librtlnumber/CMakeLists.txt
  libs/librtlnumber/regression_tests/basic_regression_tests.csv
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/rtl_int.cpp
  libs/librtlnumber/verify_librtlnumber.sh
Labels: build, lang-cpp, lang-make, lang-shell, scripts, tests

#1284 Placement bb cost computation fix
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#1286 vpr: Update generated rr graph serialization to fix potential FILE* leak
  libs/libvtrcapnproto/gen/rr_graph_uxsdcxx.capnp
  vpr/src/route/gen/rr_graph_uxsdcxx.h
  vpr/src/route/gen/rr_graph_uxsdcxx_capnp.h
  vpr/src/route/gen/rr_graph_uxsdcxx_interface.h
Labels: VPR, lang-cpp

#1290 A script for generating plots of simulated annealing curves
  dev/annealing_curve_plotter.py
Labels: lang-python
