Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-11, with the labels that each got.

#1355 Post routing cluster block pin fix-up
  doc/src/vpr/file_formats.rst
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/output_clustering.cpp
  vpr/src/pack/output_clustering.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/pack/post_routing_pb_pin_fixup.cpp
  vpr/src/pack/post_routing_pb_pin_fixup.h
  vpr/src/route/annotate_routing.cpp
  vpr/src/route/annotate_routing.h
  vpr/src/timing/clb_delay_calc.inl
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vtr_flow/arch/complex_switch/k4_N8_topology-0.85sL2-0.15gL4-on-cb-off-sb_22nm_22nm_nonLR.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_post_routing_sync/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_post_routing_sync/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, docs, lang-cpp

#1591 Chain pack pattern assertion fix
  vpr/src/pack/prepack.cpp
Labels: VPR

#1588 Add Lookahead and Delay Matrix lookup computation times
  vpr/src/base/vpr_api.cpp
  vpr/src/place/place.cpp
  vtr_flow/parse/parse_config/timing/vpr.place.txt
  vtr_flow/parse/parse_config/timing/vpr.route_fixed_chan_width.txt
  vtr_flow/parse/parse_config/timing/vpr.route_relaxed_chan_width.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_check_route_options/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_custom_grid/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_delay_calc_method/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_sub_tiles/config/golden_results.txt
Labels: VPR

#1594 Direct connection lookup fix
  vpr/src/place/place_macro.cpp
Labels: VPR

#1592 rr_nodes: add fan-in list generator
  vpr/src/route/rr_graph_util.cpp
  vpr/src/route/rr_graph_util.h
Labels: VPR

#1596 Remove Legacy Codes about `trim_empty_channels` and `trim_obs_channels`
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
Labels: VPR

#1582 Native Windows Compile Fixes For `vpr`
  libs/libvqm/vqm_common.c
  libs/libvqm/vqm_common.h
  libs/libvqm/vqm_dll.cpp
  libs/libvqm/vqm_parser.l
  libs/libvqm/vqm_parser.y
  libs/libvtrcapnproto/mmap_file.cpp
  libs/libvtrutil/src/vtr_memory.h
Labels: libvtrutil

#1601 rr_graph: avoide div-by-zero issues while getting the delay norm fac
  vpr/src/route/rr_graph_indexed_data.cpp
Labels: VPR

#1598 rr_graph: added comments on the new rr_graph_indexed data calculation
  vpr/src/route/rr_graph_indexed_data.cpp
Labels: VPR

#1595 Code comment for #1591
  vpr/src/pack/prepack.cpp
Labels: VPR
