Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2020-02, with the labels that each got.

#1106 Update libsdcparse
  libs/EXTERNAL/libsdcparse/.travis.yml
  libs/EXTERNAL/libsdcparse/src/sdc_lexer.l
Labels: external_libs, infra

#1107 vpr: Move connection-based routing code into separate file
  vpr/src/route/connection_based_routing.cpp
  vpr/src/route/route_timing.cpp
Labels: VPR, lang-cpp

#1108 build: Don't apply additional flags to external libraries/tools
  CMakeLists.txt
  libs/CMakeLists.txt
Labels: build, lang-make

#1076 Convert 5-level nested vectors to 3-level array/NdMatrix/vector.
  libs/libvtrutil/src/vtr_ndmatrix.h
  vpr/src/base/vpr_types.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph_reader.cpp
Labels: VPR, lang-cpp, libvtrutil

#1110 flow: Improve separator detection in qor_compare.py
  vtr_flow/scripts/qor_compare.py
Labels: VTR Flow, infra, lang-python, scripts

#1111 vpr: Update block pin index to name to match new storage convention
  vpr/src/util/vpr_utils.cpp
Labels: VPR, lang-cpp

#1127 vpr: Fix graphics with --auto 2
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_types.h
Labels: VPR, lang-cpp

#1128 vpr: Fix incorrect indexing in get_rr_node_indices for CHANX
  vpr/src/route/rr_graph2.cpp
Labels: VPR, lang-cpp

#374 Unify shebangs, make script files executable
  ODIN_II/exec_wrapper.sh
  ODIN_II/regression_test/tools/ODIN_CONFIG.py
  ODIN_II/regression_test/tools/benchmark_multithreaded_simulation.sh
  ODIN_II/regression_test/tools/coallesce_result.sh
  ODIN_II/regression_test/tools/odin_bench_configs.sh
  ODIN_II/regression_test/tools/recurse_sub_dir.sh
  ODIN_II/regression_test/tools/regression_test_arch.pl
  ODIN_II/regression_test/tools/regression_test_no_args.pl
  ODIN_II/usefull_tools/download.sh
  ODIN_II/usefull_tools/generate_custom_config.sh
  ODIN_II/usefull_tools/nuke_temporary_files.sh
  ODIN_II/usefull_tools/restore_blackboxed_latches_from_blif_file.py
  ODIN_II/usefull_tools/split_up_verilog_file_into_modules.pl
  ODIN_II/verify_odin.sh
  dev/ammend-format.sh
  dev/check-format.sh
  dev/code_format_fixup.py
  dev/rebase-format.sh
  dev/test_git_bisect.sh
  dev/upgrade_vtr_archs.sh
  dev/vpr_bash_completion.sh
  libs/librtlnumber/verify_librtlnumber.sh
  run_quick_test.pl
  run_reg_test.pl
  vtr_flow/benchmarks/arithmetic/FIR_filters/run_FIR_filters.bash
  vtr_flow/benchmarks/arithmetic/adder_trees/run_adder_trees.bash
  vtr_flow/benchmarks/arithmetic/adder_trees/verilog/duplicate_adder_trees.bash
  vtr_flow/benchmarks/arithmetic/cmu_DFT/run_cmu_DFT.bash
  vtr_flow/benchmarks/arithmetic/figure_8/verilog/duplicate_adders.bash
  vtr_flow/benchmarks/arithmetic/generated_circuits/FIR_filters/run_FIR_filters.bash
  vtr_flow/benchmarks/arithmetic/multless_consts/run_multless_consts.bash
  vtr_flow/benchmarks/arithmetic/multless_consts/verilog/firgen/acm2values.pl
  vtr_flow/benchmarks/arithmetic/multless_consts/verilog/firgen/adderBlockGen.pl
  vtr_flow/benchmarks/arithmetic/multless_consts/verilog/firgen/firGen.pl
  vtr_flow/benchmarks/arithmetic/multless_consts/verilog/firgen/iirGen.pl
  vtr_flow/benchmarks/arithmetic/multless_consts/verilog/firgen/multBlockGen.pl
  vtr_flow/benchmarks/arithmetic/open_cores/run_open_cores.bash
  vtr_flow/scripts/blackbox_latches.pl
  vtr_flow/scripts/blif2vhd.pl
  vtr_flow/scripts/blif_splicer.py
  vtr_flow/scripts/generate_cmos_tech_data.pl
  vtr_flow/scripts/generate_tech_xml_files.sh
  vtr_flow/scripts/mover.sh
  vtr_flow/scripts/parse_vtr_flow.pl
  vtr_flow/scripts/parse_vtr_task.pl
  vtr_flow/scripts/perl_libs/XML-TreePP-0.41/example/envxml.cgi
  vtr_flow/scripts/perl_libs/XML-TreePP-0.41/make-dist.sh
  vtr_flow/scripts/restore_multiclock_latch.pl
  vtr_flow/scripts/restore_multiclock_latch_information.pl
  vtr_flow/scripts/run_vtr_flow.pl
  vtr_flow/scripts/run_vtr_task.pl
Labels: ABC, Odin, VPR, VTR Flow, external_libs, infra, lang-perl, lang-python, lang-shell, scripts, tests

#1125 Avoid memory overrun/underrun in reserve_locally_used_opins.
  vpr/src/base/read_route.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/route_common.cpp
Labels: VPR, lang-cpp

#1119 Bufnode addition
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/simulate_blif.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/regression_test/benchmark/task/operators/task.conf
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_bufnode.v
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_bufnode_input
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_bufnode_output
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_not.v
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_not_input
  ODIN_II/regression_test/benchmark/verilog/operators/unary_bitwise_not_output
Labels: Odin, lang-cpp, lang-hdl, tests

#1140 Fix invalid string cache access
  CMakeLists.txt
  ODIN_II/CMakeLists.txt
  ODIN_II/Makefile
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, build, lang-cpp, lang-make

#1141 remove valgrind flag from test to use ASAN
  ODIN_II/Makefile
  ODIN_II/exec_wrapper.sh
  ODIN_II/regression_test/benchmark/suite/heavy_suite/task_list.conf
  ODIN_II/regression_test/benchmark/suite/pre_commit/task_list.conf
  ODIN_II/regression_test/benchmark/suite/pre_merge/task_list.conf
  ODIN_II/regression_test/benchmark/task/FIR/task.conf
  ODIN_II/regression_test/benchmark/task/arch_sweep/task.conf
  ODIN_II/regression_test/benchmark/task/basic_vtr/task.conf
  ODIN_II/regression_test/benchmark/task/full/task.conf
  ODIN_II/regression_test/benchmark/task/hard_blocks/task.conf
  ODIN_II/regression_test/benchmark/task/large/task.conf
  ODIN_II/regression_test/benchmark/task/micro/task.conf
  ODIN_II/regression_test/benchmark/task/operators/task.conf
  ODIN_II/regression_test/benchmark/task/rs_decoder/task.conf
  ODIN_II/regression_test/benchmark/task/syntax/task.conf
  ODIN_II/regression_test/benchmark/task/valgrind_vtr/task.conf
  ODIN_II/regression_test/benchmark/task/vtr/task.conf
  ODIN_II/verify_odin.sh
  run_reg_test.pl
Labels: Odin, build, lang-cpp, lang-make, lang-perl, lang-shell, scripts, tests

#1145 Typos in README.developers.md
  README.developers.md
Labels: docs

#1149 skip building Blifexplorer if Qt is not found
  blifexplorer/CMakeLists.txt
Labels: Odin, blifexplorer, build, lang-cpp, lang-hdl, lang-make, tests

#1150 Fix missing bracket in Cmake Blifexplorer
  blifexplorer/CMakeLists.txt
Labels: blifexplorer, build, lang-make

#1139 Detect missing name attribute on model port declaration.
  libs/libarchfpga/src/read_xml_arch_file.cpp
Labels: lang-cpp, libarchfpga

#1152 Odin: fix empty module and empty files error
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/netlist_create_from_ast.h
  ODIN_II/SRC/include/odin_globals.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/output_blif.cpp
  ODIN_II/SRC/parse_making_ast.cpp
Labels: Odin, lang-cpp

#1154 Odin: fix sv call __LINE__ and __FILE__'
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_flex.l
Labels: Odin, lang-cpp

#1144 Enable address sanitizer in travis for Odin Microbenchmarks
  .travis.yml
Labels: infra

#1155 Odin: add third party benchmark build step
  ODIN_II/regression_test/benchmark/third_party/.gitignore
  ODIN_II/regression_test/benchmark/third_party/SymbiFlow/build.sh
  ODIN_II/regression_test/benchmark/third_party/SymbiFlow/task.mk
  ODIN_II/verify_odin.sh
Labels: Odin, lang-shell, scripts, tests

#1156 Odin: use glob over ls to itterate over directory content
  ODIN_II/verify_odin.sh
Labels: Odin, lang-shell, scripts

#1153 vpr: Remove extra semicolon
  vpr/src/route/router_lookahead_map.cpp
Labels: VPR, lang-cpp

#1157 use std::map count() to replace insert() in check_rr_graph_obj() to a…
  vpr/src/device/check_rr_graph_obj.cpp
Labels: VPR, lang-cpp

#1158 odin: fix assignment to index 0 in array
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, lang-cpp

#1160 Half NUM_CORES for strong.
  .github/kokoro/continuous/strong.cfg
  .github/kokoro/presubmit/strong.cfg
Labels: infra, lang-cpp

#1163 Limit kokoro VPR_NUM_WORKERS to 1.
  .github/kokoro/steps/vtr-test.sh
Labels: infra, lang-shell, scripts, tests

#1165 hotfix to avoid double look-up in edge_counter
  vpr/src/device/check_rr_graph_obj.cpp
Labels: VPR, lang-cpp

#1164 vpr: Prime router lookahead for placement
  vpr/src/base/vpr_api.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place.h
Labels: VPR, lang-cpp

#1162 Fix Serialization of ptcs
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
Labels: VPR, lang-cpp

#1169 Odin: fix colored output on error
  ODIN_II/regression_test/parse_result/parse_result.sh
Labels: Odin, lang-shell, scripts, tests
