Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-04, with the labels that each got.

#1679 Considering floorplanning constraints in placement
  vpr/src/base/partition_region.cpp
  vpr/src/base/partition_region.h
  vpr/src/base/read_place.cpp
  vpr/src/base/region.cpp
  vpr/src/base/region.h
  vpr/src/base/vpr_constraints.cpp
  vpr/src/pack/cluster.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
  vpr/test/test_vpr_constraints.cpp
Labels: VPR

#1694 Deprecate node_side() API
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_storage.cpp
  vpr/src/route/rr_graph_storage.h
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node.h
  vpr/src/route/rr_node_impl.h
  vpr/src/timing/VprTimingGraphResolver.cpp
Labels: VPR

#1695 Buffered clocks recognized as a different clock than the actual clock
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, Odin Elaboration, bug

#1700 Documentation changes and grammatical/spelling corrections
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/odin_ii.cpp
  README.md
  doc/src/odin/dev_guide/contributing.md
  doc/src/odin/dev_guide/regression_test.md
  doc/src/odin/dev_guide/verify_script.md
Labels: Odin, docs
