Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-02, with the labels that each got.

#1621 Node Sides Patch to Show All the Sides that a RR Node may Appear
  libs/libvtrcapnproto/gen/rr_graph_uxsdcxx.capnp
  vpr/src/route/gen/rr_graph_uxsdcxx.h
  vpr/src/route/gen/rr_graph_uxsdcxx_capnp.h
  vpr/src/route/gen/rr_graph_uxsdcxx_interface.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.xsd
  vpr/src/route/rr_graph_storage.cpp
  vpr/src/route/rr_graph_storage.h
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node.h
  vpr/src/route/rr_node_impl.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_verify_rr_graph_titan/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_verify_rr_graph_titan/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR

#1640 Odin: Fix minor spelling mistakes in documentation
  ODIN_II/README.md
  doc/src/odin/dev_guide/contributing.md
  doc/src/odin/dev_guide/testing.md
  doc/src/odin/index.rst
Labels: Odin

#1597 Adding doxygen documentation for VTR utilities
  doc/_doxygen/vtr.dox
  doc/src/api/vtrutil/container_utils.rst
  doc/src/api/vtrutil/containers.rst
  doc/src/api/vtrutil/geometry.rst
  doc/src/api/vtrutil/ids.rst
  doc/src/api/vtrutil/index.rst
  doc/src/api/vtrutil/logging.rst
  doc/src/api/vtrutil/other.rst
  doc/src/conf.py
  doc/src/index.rst
  libs/libvtrutil/src/vtr_array_view.h
  libs/libvtrutil/src/vtr_assert.h
  libs/libvtrutil/src/vtr_bimap.h
  libs/libvtrutil/src/vtr_cache.h
  libs/libvtrutil/src/vtr_color_map.h
  libs/libvtrutil/src/vtr_digest.h
  libs/libvtrutil/src/vtr_dynamic_bitset.h
  libs/libvtrutil/src/vtr_error.h
  libs/libvtrutil/src/vtr_expr_eval.h
  libs/libvtrutil/src/vtr_flat_map.h
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_hash.h
  libs/libvtrutil/src/vtr_linear_map.h
  libs/libvtrutil/src/vtr_list.h
  libs/libvtrutil/src/vtr_log.h
  libs/libvtrutil/src/vtr_logic.h
  libs/libvtrutil/src/vtr_map_util.h
  libs/libvtrutil/src/vtr_math.cpp
  libs/libvtrutil/src/vtr_math.h
  libs/libvtrutil/src/vtr_memory.h
  libs/libvtrutil/src/vtr_ndmatrix.h
  libs/libvtrutil/src/vtr_ndoffsetmatrix.h
  libs/libvtrutil/src/vtr_ostream_guard.h
  libs/libvtrutil/src/vtr_pair_util.h
  libs/libvtrutil/src/vtr_path.h
  libs/libvtrutil/src/vtr_ragged_matrix.h
  libs/libvtrutil/src/vtr_random.cpp
  libs/libvtrutil/src/vtr_random.h
  libs/libvtrutil/src/vtr_range.h
  libs/libvtrutil/src/vtr_rusage.cpp
  libs/libvtrutil/src/vtr_rusage.h
  libs/libvtrutil/src/vtr_sentinels.h
  libs/libvtrutil/src/vtr_small_vector.h
  libs/libvtrutil/src/vtr_string_interning.h
  libs/libvtrutil/src/vtr_string_view.h
  libs/libvtrutil/src/vtr_strong_id.h
  libs/libvtrutil/src/vtr_strong_id_range.h
  libs/libvtrutil/src/vtr_time.cpp
  libs/libvtrutil/src/vtr_time.h
  libs/libvtrutil/src/vtr_token.cpp
  libs/libvtrutil/src/vtr_token.h
  libs/libvtrutil/src/vtr_util.cpp
  libs/libvtrutil/src/vtr_util.h
  libs/libvtrutil/src/vtr_vec_id_set.h
  libs/libvtrutil/src/vtr_vector.h
  libs/libvtrutil/src/vtr_vector_map.h
Labels: libvtrutil

#1656 Added cleaning of a pb after unsuccessful molecule packing
  vpr/src/pack/cluster.cpp
  vtr_flow/arch/timing/k4_N8_tileable_reset_softadder_register_scan_chain_nonLR_caravel_io_skywater130nm.xml
  vtr_flow/benchmarks/microbenchmarks/reg_4x32.blif
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_task.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_modes/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_modes/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR

#1674 Fix cleanup if `run_vtr_test.py` generates an error.
  .github/kokoro/steps/vtr-test.sh
Labels: infra

#1641 Clusterer feasibility changes
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_geometry.tpp
  vpr/src/base/SetupGrid.cpp
  vpr/src/base/constraints_load.cpp
  vpr/src/base/constraints_load.h
  vpr/src/base/echo_files.cpp
  vpr/src/base/echo_files.h
  vpr/src/base/partition.cpp
  vpr/src/base/partition.h
  vpr/src/base/partition_region.cpp
  vpr/src/base/partition_region.h
  vpr/src/base/region.cpp
  vpr/src/base/region.h
  vpr/src/base/vpr_constraints.cpp
  vpr/src/base/vpr_constraints.h
  vpr/src/base/vpr_constraints_reader.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/output_clustering.cpp
Labels: VPR, libvtrutil
