Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-09, with the labels that each got.

#1795 Manual Moves Timing
  doc/src/vpr/graphics.rst
  vpr/main.ui
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/RL_agent_util.h
  vpr/src/place/manual_move_generator.cpp
  vpr/src/place/manual_move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/place.cpp
  vpr/src/place/place.h
Labels: VPR

#1814 route_common: Fix cost check assertion
  vpr/src/route/route_common.h
Labels: VPR

#1837 Add ``RRGraph``-related API to documentation and clean-up ``RRSpatialLookup`` methods
  doc/src/api/vpr/index.rst
  doc/src/api/vpr/rr_graph.rst
  vpr/src/device/rr_graph_builder.h
  vpr/src/device/rr_spatial_lookup.h
Labels: VPR

#1836 [VPR] allowing for the specification of segment axis in arch file
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
Labels: VPR, libarchfpga

#1819 RRGraphView node_xlow(), node_xhigh(), node_ylow(), node_yhigh() Implementation
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/stats.cpp
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_view.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/power/power.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_util.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_lookahead.cpp
  vpr/src/route/router_lookahead_sampling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_util.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.h
  vpr/src/route/rr_node_impl.h
  vpr/src/route/spatial_route_tree_lookup.cpp
  vpr/src/timing/VprTimingGraphResolver.cpp
  vpr/src/util/vpr_utils.cpp
Labels: VPR

#1842 Updating vtrutil api doc
  doc/src/api/vtrutil/logging.rst
  libs/libvtrutil/src/vtr_error.h
  libs/libvtrutil/src/vtr_list.h
  libs/libvtrutil/src/vtr_log.h
Labels: libvtrutil

#1845 Update libezgl external subtree
  libs/EXTERNAL/libezgl/examples/basic-application/basic_application.cpp
  libs/EXTERNAL/libezgl/examples/basic-application/main.ui
  libs/EXTERNAL/libezgl/include/ezgl/application.hpp
  libs/EXTERNAL/libezgl/include/ezgl/callback.hpp
  libs/EXTERNAL/libezgl/include/ezgl/graphics.hpp
  libs/EXTERNAL/libezgl/include/ezgl/point.hpp
  libs/EXTERNAL/libezgl/src/application.cpp
  libs/EXTERNAL/libezgl/src/callback.cpp
  libs/EXTERNAL/libezgl/src/canvas.cpp
  libs/EXTERNAL/libezgl/src/graphics.cpp
Labels: external_libs

#1853 Add a new API set_node_coordinates() to RRGraphBuilder
  vpr/src/device/rr_graph_builder.cpp
  vpr/src/device/rr_graph_builder.h
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node.h
Labels: VPR
