Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-12, with the labels that each got.

#1925 libs: arch: interchange: add basic device information
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  vpr/test/test_interchange_device.cpp
Labels: VPR, libarchfpga

#1910 RRGraphView rr_segments() Implementation
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_view.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/power/power.cpp
  vpr/src/power/power_sizing.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/util/vpr_utils.cpp
Labels: VPR

#1916 RRGraphView::node_first_edge() Implementation
  .gitignore
  vpr/src/device/rr_graph_view.h
  vpr/src/route/rr_graph_util.cpp
Labels: VPR

#1924 vpr: interchange: add interchange netlist reading support
  .github/kokoro/continuous/strong_sanitized.cfg
  .github/kokoro/presubmit/strong_sanitized.cfg
  .github/kokoro/steps/hostsetup.sh
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libvtrutil/src/vtr_hash.h
  vpr/src/base/atom_netlist_utils.cpp
  vpr/src/base/read_circuit.cpp
  vpr/src/base/read_circuit.h
  vpr/src/base/read_interchange_netlist.cpp
  vpr/src/base/read_interchange_netlist.h
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/util/vpr_error.h
  vpr/test/lut.netlist
  vpr/test/test_interchange_netlist.cpp
Labels: VPR, libarchfpga, infra, libvtrutil

#1917 RRGraphView edges(), num_edges(), configurable_edges(), non_configurable_edges(), num_configurable_edges(), num_non_configurable_edges() Implementation
  utils/fasm/test/test_fasm.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/power/power.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_sampling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node_impl.h
  vpr/src/util/vpr_utils.cpp
  vpr/test/test_vpr.cpp
Labels: VPR

#1942 Updated comments to elaborate configurable/non-configurable edges()
  vpr/src/device/rr_graph_view.h
Labels: VPR

#1930 RRGraphView edge_sink_node()/edge_switch() Implementation
  README.developers.md
  README.md
  utils/fasm/test/test_fasm.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/power/power.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_map_utils.h
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node_impl.h
  vpr/src/util/vpr_utils.cpp
  vpr/test/test_connection_router.cpp
  vpr/test/test_vpr.cpp
Labels: VPR, docs
