Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-03, with the labels that each got.

#1672 vpr: fix direct connections at the same tile location
  libs/libarchfpga/src/physical_types_util.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/route/rr_graph.cpp
  vtr_flow/arch/sub_tiles/heterogeneous_tile.xml
  vtr_flow/benchmarks/microbenchmarks/sub_tile_directs.blif
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_sub_tiles_directs/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_sub_tiles_directs/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, libarchfpga

#1657 Implicit Memory Ports Connection
  ODIN_II/SRC/implicit_memory.cpp
  ODIN_II/SRC/include/implicit_memory.h
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/netlist_utils.cpp
  ODIN_II/regression_test/benchmark/task/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/full/bm_base_memory_output
  ODIN_II/regression_test/benchmark/verilog/syntax/inferred_DPram.v
  ODIN_II/regression_test/benchmark/verilog/syntax/inferred_SPram.v
Labels: Odin, Odin Regression, Odin Simulation, Odin Tech.Mapping

#1661 Deploy new API rr_node.node_sides() to GUI
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/search_bar.cpp
Labels: VPR

#1677 Fix missing include to unbreak build.
  libs/libvtrutil/src/vtr_geometry.h
Labels: libvtrutil

#1685 Update pylint_check.py to check individual files
  README.developers.md
  dev/pylint_check.py
Labels: docs

#1627 issue #388 linked titan benchmarks webpages
  README.developers.md
Labels: docs

#1652 Simplify initialization of vector with a known number of elements.
  vpr/src/route/cb_metrics.cpp
Labels: VPR

#1682 place: fix illegal swap of fixed blocks
  vpr/src/place/critical_uniform_move_generator.cpp
  vpr/src/place/feasible_region_move_generator.cpp
  vpr/src/place/move_utils.cpp
  vpr/test/test_vpr_constraints.cpp
  vpr/test/wire.constraints
Labels: VPR

#1678 Make changes to nightly test output to see how to reduce disk space usage
  .github/kokoro/steps/vtr-test.sh
Labels: infra

#1689 Generating new golden results (titan_quick_qor, vtr_reg_coffe) + implicit ram connections checking
  ODIN_II/SRC/implicit_memory.cpp
  ODIN_II/SRC/memories.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/titan_quick_qor/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly/vtr_reg_coffe/config/golden_results.txt
Labels: Odin

#1667 Deploy new node.side() API to rr_graph builder and router
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
Labels: VPR
