Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-01, with the labels that each got.

#1608 ci: add GitHub Actions workflow 'Test', deprecate Travis CI
  .github/gha/install_dependencies.sh
  .github/travis/after_failure.sh
  .github/travis/after_script.sh
  .github/travis/after_success.sh
  .github/travis/common.sh
  .github/travis/install.sh
  .github/travis/setup.sh
  .github/workflows/test.yml
  .travis.yml
  README.md
Labels: docs, infra

#1631 Reformat python to fix CI.
  ODIN_II/regression_test/parse_result/conf/hooks.py
  ODIN_II/regression_test/tools/ODIN_CONFIG.py
  dev/annealing_curve_plotter.py
  dev/external_subtrees.py
  dev/pylint_check.py
  doc/_exts/sdcdomain/__init__.py
  doc/src/conf.py
  run_reg_test.py
  vpr/scripts/profile/parse_and_plot_detailed.py
  vtr_flow/scripts/benchtracker/flask_cors/core.py
  vtr_flow/scripts/benchtracker/flask_cors/extension.py
  vtr_flow/scripts/benchtracker/interface_db.py
  vtr_flow/scripts/download_symbiflow.py
  vtr_flow/scripts/python_libs/vtr/abc/abc.py
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/inspect.py
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_flow.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_task.py
  vtr_flow/scripts/python_libs/vtr/task.py
  vtr_flow/scripts/python_libs/vtr/util.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/scripts/run_vtr_task.py
  vtr_flow/scripts/upgrade_arch.py
Labels: Odin, VPR, lang-python, scripts, tests

#1614 Use std::string::find(char c) when searching for a single character.
  libs/libarchfpga/src/arch_util.cpp
Labels: libarchfpga

#1635 Refactor the interaction between analytical placer and RL
  vpr/src/place/place.cpp
Labels: VPR

#1633 Add missed contents of source identifiers into local ones
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/regression_test/benchmark/task/operators/simulation_result.json
  ODIN_II/regression_test/benchmark/task/operators/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/operators/signed_16bits_asr_int_wide_input
  ODIN_II/regression_test/benchmark/verilog/operators/signed_16bits_asr_int_wide_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_1bit_asr_indexed_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_1bit_asr_wire_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_2bits_asr_wide_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_64bits_asr_ultra_wide_input
  ODIN_II/regression_test/benchmark/verilog/operators/signed_64bits_asr_ultra_wide_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_indexed_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_int_wide_input
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_int_wide_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_ultra_wide_input
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_ultra_wide_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_wide_output
  ODIN_II/regression_test/benchmark/verilog/operators/signed_variable_asr_wire_output
  doc/src/odin/verilog_support.md
Labels: Odin
