Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-06, with the labels that each got.

#1741 Floorplan constraints tuning
  vpr/src/base/gen/vpr_constraints_uxsdcxx.h
  vpr/src/base/partition_region.cpp
  vpr/src/base/partition_region.h
  vpr/src/base/region.cpp
  vpr/src/base/region.h
  vpr/src/pack/cluster.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
Labels: VPR

#1749 aligned_allocator: add operator==
  libs/libvtrutil/src/vtr_memory.h
Labels: libvtrutil

#1747 Deploy RRGraphBuilder in place of rr_node_indices in routing resource graph builder functions
  vpr/src/device/rr_spatial_lookup.cpp
  vpr/src/device/rr_spatial_lookup.h
  vpr/src/route/rr_edge.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
  vpr/src/route/rr_graph_storage.h
Labels: VPR

#1750 CI: Test compatibility with recent compilers
  .github/gha/install_dependencies.sh
  .github/workflows/test.yml
  BUILDING.md
  Dockerfile
Labels: docs, infra

#1757 CI: Drop GCC 5&6 support
  .github/gha/install_dependencies.sh
  .github/workflows/test.yml
  BUILDING.md
  Dockerfile
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/odin_error.cpp
  vpr/CMakeLists.txt
  vpr/src/base/vpr_types.h
Labels: Odin, VPR, docs, infra

#1760 Makefile: fix BUILD_TYPE=*_strict
  .github/travis/build.sh
  .github/travis/setup.sh
  .github/workflows/test.yml
  Makefile
Labels: build, infra, lang-make

#1763 Add gitpod support
  .gitpod.Dockerfile
  .gitpod.yml
  README.md
Labels: docs

#1762 Add a template submission script for SLURM-managed clusters
  README.developers.md
  vtr_flow/scripts/slurm/README.md
  vtr_flow/scripts/slurm/submission_template.sh
Labels: docs

#1766 Gitpod configuration
  .gitpod.Dockerfile
  .gitpod.yml
  README.md
Labels: docs

#1761 Connecting untouched nets to the pad node in resolving subtraction node
  ODIN_II/SRC/subtractions.cpp
Labels: Odin, Odin Tech.Mapping

#1772 Adding includes_dir and include_list_add to task config file
  doc/src/vtr/tasks.rst
  vtr_flow/benchmarks/hdl_include/ch_intrinsics_modified.v
  vtr_flow/benchmarks/hdl_include/include/README.md
  vtr_flow/benchmarks/hdl_include/include/generic_definitions1.vh
  vtr_flow/benchmarks/hdl_include/include/generic_definitions2.vh
  vtr_flow/benchmarks/hdl_include/include/memory_controller.v
  vtr_flow/scripts/python_libs/vtr/flow.py
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/python_libs/vtr/task.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/task_list.txt
Labels: infra, scripts

#1742 RRGraphView::node_type() Implementation
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/stats.cpp
  vpr/src/device/rr_graph_view.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/power/power.cpp
  vpr/src/route/annotate_routing.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/route_util.cpp
  vpr/src/route/router_lookahead.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_sampling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_util.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_node.h
  vpr/src/route/rr_node_impl.h
  vpr/src/route/segment_stats.cpp
  vpr/src/timing/VprTimingGraphResolver.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/test/test_vpr.cpp
Labels: VPR

#1751 Add constraints propagation to update the PartitionRegions of blocks …
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
  vpr/test/test_vpr_constraints.cpp
Labels: VPR

#1778 Improve region intersect function
  vpr/src/base/region.cpp
  vpr/src/place/initial_placement.cpp
Labels: VPR

#1776 Updating docs to mention vtr_reg_nightly parallelism strategy
  README.developers.md
  vtr_flow/tasks/regression_tests/README.md
  vtr_flow/tasks/regression_tests/README_nightly_regression_parallelism.md
Labels: docs

#1780 RRGraphView::node_capacity() Implementation
  utils/route_diag/src/main.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/route_util.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_lookahead_sampling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.h
  vpr/src/route/rr_node_impl.h
  vpr/src/route/segment_stats.cpp
Labels: VPR

#1777 Deploy ``RRGraphBuilder`` in Regular Routing Resource Graph Building Functions to replace the use of ``rr_node_indices``
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
Labels: VPR

#1759 Mark fixed blocks
  vpr/src/base/read_place.cpp
  vpr/src/base/region.cpp
  vpr/src/base/region.h
  vpr/src/base/vpr_api.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
  vpr/test/test_vpr_constraints.cpp
Labels: VPR

#1773 Print not specified for floorplan constraints file when running vpr w…
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/vpr_constraints.h
Labels: VPR

#1785 docs: fix wrong markdown links
  .github/kokoro/continuous/nightly_test1.cfg
  .github/kokoro/continuous/nightly_test2.cfg
  .github/kokoro/continuous/nightly_test3.cfg
  .github/kokoro/continuous/nightly_test4.cfg
  doc/requirements.txt
  doc/src/conf.py
Labels: infra

#1779 Deploy ``RRGraphBuilder`` in Client Functions to replace the use of ``rr_node_indices``
  vpr/src/device/rr_spatial_lookup.cpp
  vpr/src/device/rr_spatial_lookup.h
  vpr/src/pack/post_routing_pb_pin_fixup.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
Labels: VPR
