Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2021-05, with the labels that each got.

#1710 [Odin]: Sorting the instance ports based on the related module, function or task
  ODIN_II/SRC/netlist_create_from_ast.cpp
Labels: Odin, Odin Elaboration, bug

#1722 [Odin]: Adding new test to verify unordered port in an instance
  ODIN_II/regression_test/benchmark/task/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/syntax/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/syntax/unordered_ports.v
  ODIN_II/regression_test/benchmark/verilog/syntax/unordered_ports_input
  ODIN_II/regression_test/benchmark/verilog/syntax/unordered_ports_output
Labels: Odin, Odin Regression

#1732 Header line: Fixing up spelling mistakes within the VTR documentation
  README.developers.md
Labels: docs

#1660 Neglecting concatenation case for signedness
  ODIN_II/SRC/ast_elaborate.cpp
Labels: Odin, Odin Elaboration

#1734 Ading odin_reg_full to CI
  .github/kokoro/continuous/odin_strong.cfg
  .github/kokoro/presubmit/odin_strong.cfg
  .github/kokoro/run-vtr.sh
  .github/workflows/test.yml
  README.developers.md
  run_reg_test.py
Labels: Odin Regression, docs, infra, lang-python, scripts, tests

#1715 Add routine to initialize cluster_constraints data structure in the c…
  vpr/src/base/vpr_api.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
Labels: VPR

#1701 Updated files for artifact collection to include zipped files in the …
  .github/kokoro/continuous/nightly.cfg
  .github/kokoro/continuous/strong.cfg
  .github/kokoro/continuous/strong_sanitized.cfg
  .github/kokoro/continuous/weekly.cfg
Labels: infra

#1692 Fix warning messages about mismatched tool versions
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
Labels: VPR

#1646 CMake: append to LINK_FLAGS instead of replacing them
  ODIN_II/CMakeLists.txt
  blifexplorer/CMakeLists.txt
  libs/EXTERNAL/libblifparse/CMakeLists.txt
  libs/EXTERNAL/libsdcparse/CMakeLists.txt
  libs/libarchfpga/CMakeLists.txt
  utils/fasm/CMakeLists.txt
  utils/route_diag/CMakeLists.txt
  vpr/CMakeLists.txt
Labels: Odin, VPR, blifexplorer, external_libs, libarchfpga

#1637 Vtr log changes
  libs/libvtrutil/src/vtr_vector_map.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/SetupVPR.h
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
Labels: VPR, libvtrutil

#1744 Add artifact collection of files ending in .gz to nightly presubmit runs
  .github/kokoro/presubmit/nightly.cfg
Labels: infra

#1645 CMake: do not install test binaries
  libs/EXTERNAL/libblifparse/CMakeLists.txt
  libs/EXTERNAL/libsdcparse/CMakeLists.txt
  libs/liblog/CMakeLists.txt
Labels: external_libs, liblog

#1733 Fixing the generated vtr_flow.sh scripts
  dev/pylint_check.py
  run_reg_test.py
  vtr_flow/scripts/flow_script_template.txt
  vtr_flow/scripts/python_libs/vtr/log_parse.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_task.py
  vtr_flow/scripts/python_libs/vtr/task.py
  vtr_flow/scripts/python_libs/vtr/util.py
  vtr_flow/scripts/run_vtr_task.py
Labels: lang-python, scripts, tests
