Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-05, with the labels that each got.

#2022 [Yosys+Odin]: creating extra pins to extend the mult output port
  ODIN_II/SRC/BLIFElaborate.cpp
  ODIN_II/SRC/include/multipliers.h
  ODIN_II/SRC/multipliers.cpp
Labels: Odin

#2020 Removed 3 unused if conditions from ODIN's partial_map.cpp.
  ODIN_II/SRC/partial_map.cpp
Labels: Odin

#2026 (Bug-Fix) No default search type
  vpr/src/draw/draw.cpp
  vpr/src/draw/search_bar.cpp
Labels: VPR

#2029 Pb graph bug fixes
  .gitignore
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
Labels: libarchfpga

#2035 Performing the Yosys "autoname" pass after netlist optimizations
  ODIN_II/SRC/YYosys.cpp
  ODIN_II/regression_test/benchmark/task/yosys+odin/full/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/full/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/input/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/output/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/koios/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/micro/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/micro/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/syntax/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/vtr/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/keywords/input/multiple_declarations_yosys_input
  ODIN_II/regression_test/benchmark/verilog/keywords/input/multiple_declarations_yosys_output
  ODIN_II/regression_test/benchmark/verilog/keywords/output/multiple_declarations_yosys_input
  ODIN_II/regression_test/benchmark/verilog/keywords/output/multiple_declarations_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match1_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match4_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/syntax/expression_in_chain_modules_yosys_output
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/vtr_benchmarks/config/golden_results.txt
Labels: Odin

#2032 Added Auto-Complete Functionality for Block Names (VPR)
  vpr/main.ui
  vpr/src/draw/draw.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
Labels: VPR

#2033 Switching All Mallocs to News in VPR
  vpr/src/base/echo_files.cpp
  vpr/src/base/stats.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/intra_logic_block.cpp
  vpr/src/place/place.cpp
  vpr/src/power/power.cpp
  vpr/src/power/power_callibrate.cpp
  vpr/src/power/power_components.cpp
  vpr/src/power/power_sizing.cpp
  vpr/src/power/power_utils.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/segment_stats.cpp
Labels: VPR

#2034 Refactoring clustering/packing code and building re-cluster API
  vpr/src/base/read_netlist.cpp
  vpr/src/base/read_netlist.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster.h
  vpr/src/pack/cluster_placement.cpp
  vpr/src/pack/cluster_placement.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/prepack.cpp
  vpr/src/pack/prepack.h
  vpr/src/pack/re_cluster.cpp
  vpr/src/pack/re_cluster.h
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/pack/re_cluster_util.h
  vpr/src/place/initial_placement.cpp
  vpr/src/place/initial_placement.h
  vpr/src/place/place.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/place/place_macro.h
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vpr/test/test_connection_router.cpp
  vpr/test/test_post_verilog.cpp
  vpr/test/test_vpr.cpp
  vpr/test/test_vpr_constraints.cpp
Labels: VPR

#2044 Re-clustering API (follow-up PR)
  vpr/src/pack/pack.cpp
  vpr/src/pack/prepack.cpp
  vpr/src/pack/prepack.h
  vpr/src/pack/re_cluster_util.h
  vpr/src/place/place.cpp
Labels: VPR

#2045 VPR Graphics Crash Fixed
  vpr/src/draw/buttons.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.cpp
  vpr/src/power/power_utils.h
Labels: VPR
