Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-09, with the labels that each got.

#2136 Placement command line options is updated in documentation
  doc/src/vpr/command_line_usage.rst
Labels: docs

#2067 Addition of switch_override feature to custom SB
  doc/src/arch/reference.rst
  libs/libarchfpga/src/parse_switchblocks.cpp
  libs/libarchfpga/src/physical_types.h
  vpr/src/route/build_switchblocks.cpp
  vtr_flow/arch/xilinx/simple-7series_diagonal.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_xilinx_support/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_xilinx_support/config/golden_results.txt
Labels: VPR, libarchfpga

#2138 Declare unconnected wires before cell instances
  vpr/src/base/netlist_writer.cpp
  vpr/test/test_post_verilog.cpp
  vpr/test/test_post_verilog_i_gnd_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_nets_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_unconnected_o_nets.golden.v
  vpr/test/test_post_verilog_i_unconnected_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_vcc_o_unconnected.golden.v
Labels: VPR

#2119 Build on M1
  abc/src/misc/util/abc_global.h
  cmake/modules/FindTBB.cmake
  libs/EXTERNAL/libtatum/cmake/modules/FindTBB.cmake
  libs/EXTERNAL/libtatum/libtatum/CMakeLists.txt
  libs/libarchfpga/src/arch_check.cpp
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libvqm/vqm_common.c
  libs/libvqm/vqm_dll.h
  libs/libvqm/vqm_parser.y
  utils/vqm2blif/src/base/preprocess.h
  vpr/CMakeLists.txt
  vpr/src/base/read_interchange_netlist.cpp
Labels: VPR, libarchfpga, ABC, external_libs

#2157 Updating the Odin-II maintainers
  ODIN_II/README.md
Labels: Odin

#2159 Fixing a bug in receiving .sv extensions without Yosys plugins installed
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
Labels: Odin

#2160 fix #2089 Cluster attraction groups for tight floorplan constraints n…
  vpr/src/pack/cluster_util.cpp
Labels: VPR
