Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-06, with the labels that each got.

#2030 Add Document on QoR Gathering for CI Tests
  .gitignore
  README.developers.md
  doc/src/dev/eval_qor/action_button.png
  doc/src/dev/eval_qor/artifact.png
  doc/src/dev/eval_qor/cancel_workflow.png
  doc/src/dev/eval_qor/parse_result_dir.png
  doc/src/dev/eval_qor/re_run_tests.png
  doc/src/dev/eval_qor/test.png
Labels: docs

#1971 Update k4_N4_90nm.xml
  vtr_flow/arch/timing/k4_N4_90nm.xml
Labels: kokoro:force-run

#2046 analytical placement's bugs are fixed
  vpr/src/place/analytic_placer.cpp
  vpr/src/place/cut_spreader.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
Labels: VPR

#1883 Generalizing channels & segments to horizontal and vertical in rr_graph
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/base/echo_files.cpp
  vpr/src/base/echo_files.h
  vpr/src/base/place_and_route.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/build_switchblocks.cpp
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/clock_network_builders.h
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
  vpr/src/route/rr_graph_clock.cpp
  vpr/src/route/rr_graph_clock.h
  vpr/src/route/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_indexed_data.h
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_sbox.cpp
  vpr/src/route/rr_graph_sbox.h
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_types.h
Labels: VPR, libarchfpga

#2049 Refactored vpr/src/draw
  .gitignore
  vpr/src/draw/buttons.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_basic.h
  vpr/src/draw/draw_mux.cpp
  vpr/src/draw/draw_mux.h
  vpr/src/draw/draw_rr.cpp
  vpr/src/draw/draw_rr.h
  vpr/src/draw/draw_rr_edges.cpp
  vpr/src/draw/draw_rr_edges.h
  vpr/src/draw/draw_searchbar.cpp
  vpr/src/draw/draw_searchbar.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/draw_triangle.cpp
  vpr/src/draw/draw_triangle.h
  vpr/src/draw/draw_types.cpp
  vpr/src/draw/draw_types.h
  vpr/src/draw/intra_logic_block.cpp
  vpr/src/draw/intra_logic_block.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/search_bar.cpp
Labels: VPR

#2055 Graphics Command Documentation Updated
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/read_options.cpp
Labels: VPR

#2062 Speeding up the compile process in a docker build
  Dockerfile
Labels: infra

#2063 Fixed Bug Causing Selected Nets and Blocks to be unselected on pans
  libs/EXTERNAL/libezgl/src/callback.cpp
Labels: external_libs

#2050 Fix Broken Links in CI Test Documentation
  README.developers.md
Labels: docs

#2073 Fixed CI tests fail due to failure in installing required python packages
  .github/scripts/hostsetup.sh
Labels: infra

#2077 Odin report removed unused nodes
  ODIN_II/SRC/include/odin_error.h
  ODIN_II/SRC/include/odin_globals.h
  ODIN_II/SRC/netlist_cleanup.cpp
  ODIN_II/SRC/netlist_statistic.cpp
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/regression_test/benchmark/task/fpu/hard_logic/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/always/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/defparam/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/if/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/initial/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/input/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/integer/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/output/simulation_result.json
  ODIN_II/regression_test/benchmark/task/keywords/signed_unsigned/simulation_result.json
  ODIN_II/regression_test/benchmark/task/preprocessor/simulation_result.json
  ODIN_II/regression_test/benchmark/task/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/and/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/nand/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/syntax/simulation_result.json
Labels: Odin

#2070 Add missing iterator header.
  libs/libvtrutil/src/vtr_flat_map.h
Labels: libvtrutil
