Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-11, with the labels that each got.

#2183 Changed the GitHub automated test to install external libraries for analytical placement
  .github/workflows/test.yml
Labels: infra

#2175 Centroid placement
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/initial_placement.h
  vpr/src/place/place.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
  vpr/src/place/place_util.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_basic/basic_timing/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock/func_multiclock/blanket/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock/func_multiclock/once/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/figure_8/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/multless_consts/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/power_extended_arch_list/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/power_extended_circuit_list/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/koios/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_blocks_with_no_inputs/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_cin_tie_off/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_clock_aliases_set_delay/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_custom_grid/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_eblif_vpr/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_equivalent_sites/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fc_abs/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_multiclock/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_post_routing_sync/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_post_routing_sync/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_power/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_sdc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_soft_multipliers/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_sub_tiles_directs/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_target_pin_util/config/golden_results.txt
Labels: VPR

#2194 add comments for setting errno=0
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx.h
  vpr/src/base/gen/vpr_constraints_uxsdcxx.h
Labels: VPR

#2185 Fix for Dangling Interconnect and removal of fully unidirectional/bidirectional arch
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_rr.cpp
  vpr/src/draw/draw_rr_edges.cpp
  vpr/src/draw/draw_rr_edges.h
Labels: VPR

#2208 Add missing instruction to run tests to the documentation
  README.developers.md
Labels: docs
