Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-02, with the labels that each got.

#1964 CI: fix kokoro failures
  .github/kokoro/steps/hostsetup.sh
Labels: infra

#1952 Data structure rr_node_metadata/rr_edge_metadata owner change
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_builder.cpp
  vpr/src/device/rr_graph_builder.h
  vpr/src/device/rr_graph_view.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/rr_metadata.cpp
  vpr/test/test_vpr.cpp
Labels: VPR

#1962 Clean-up DeviceContext (Remove shadowed data structure)
  utils/route_diag/src/main.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_builder.cpp
  vpr/src/device/rr_graph_builder.h
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/pack/post_routing_pb_pin_fixup.cpp
  vpr/src/power/power.cpp
  vpr/src/route/annotate_routing.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_sampling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_util.cpp
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/spatial_route_tree_lookup.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/test/test_connection_router.cpp
  vpr/test/test_vpr.cpp
Labels: VPR

#1980 Doc update building
  BUILDING.md
Labels: docs

#1972 Now rr_graph -related source files are placed in a separated library ``librrgraph``
  doc/_doxygen/librrgraph.dox
  doc/src/api/vpr/rr_graph.rst
  doc/src/conf.py
  libs/CMakeLists.txt
  libs/librrgraph/CMakeLists.txt
  libs/librrgraph/src/base/check_rr_graph_obj.cpp
  libs/librrgraph/src/base/check_rr_graph_obj.h
  libs/librrgraph/src/base/metadata_storage.h
  libs/librrgraph/src/base/rr_edge.h
  libs/librrgraph/src/base/rr_graph_builder.cpp
  libs/librrgraph/src/base/rr_graph_builder.h
  libs/librrgraph/src/base/rr_graph_fwd.h
  libs/librrgraph/src/base/rr_graph_obj.cpp
  libs/librrgraph/src/base/rr_graph_obj.h
  libs/librrgraph/src/base/rr_graph_obj_utils.h
  libs/librrgraph/src/base/rr_graph_storage.cpp
  libs/librrgraph/src/base/rr_graph_storage.h
  libs/librrgraph/src/base/rr_graph_util.cpp
  libs/librrgraph/src/base/rr_graph_util.h
  libs/librrgraph/src/base/rr_graph_utils.h
  libs/librrgraph/src/base/rr_graph_view.cpp
  libs/librrgraph/src/base/rr_graph_view.h
  libs/librrgraph/src/base/rr_node.cpp
  libs/librrgraph/src/base/rr_node.h
  libs/librrgraph/src/base/rr_node_fwd.h
  libs/librrgraph/src/base/rr_node_impl.h
  libs/librrgraph/src/base/rr_node_types.h
  libs/librrgraph/src/base/rr_spatial_lookup.cpp
  libs/librrgraph/src/base/rr_spatial_lookup.h
  vpr/CMakeLists.txt
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/draw/draw.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/overuse_report.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/rr_node.cpp
  vpr/src/route/rr_rc_data.h
  vpr/src/util/vpr_utils.h
Labels: VPR

#1973 ci: transition to GH custom runners for nightly builds
  .github/scripts/hostsetup.sh
  .github/scripts/run-vtr.sh
  .github/scripts/vtr-build.sh
  .github/scripts/vtr-full-setup.sh
  .github/scripts/vtr-test.sh
  .github/workflows/large-tests.yml
  CMakeLists.txt
  libs/librrgraph/CMakeLists.txt
Labels: infra, build, lang-make

#1970 Fixed root Dockerfile for building vtr container
  Dockerfile
Labels: infra

#1974 ci: add GitHub Actions workflow 'Containers'
  .github/workflows/containers.yml
Labels: infra

#1985 gha: prevent from running large tests on forks
  .github/workflows/large-tests.yml
Labels: infra

#1969 Fixed small syntax errors in ODIN's Makefile test target.
  ODIN_II/Makefile
Labels: Odin

#1983 Optimize floorplan checks during place moves
  vpr/src/pack/attraction_groups.cpp
  vpr/src/pack/attraction_groups.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/pack.cpp
  vpr/src/place/centroid_move_generator.cpp
  vpr/src/place/critical_uniform_move_generator.cpp
  vpr/src/place/feasible_region_move_generator.cpp
  vpr/src/place/median_move_generator.cpp
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/uniform_move_generator.cpp
  vpr/src/place/weighted_centroid_move_generator.cpp
  vpr/src/place/weighted_median_move_generator.cpp
Labels: VPR
