Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-03, with the labels that each got.

#1940 added flags to ignore warnings when compiling unit tests that use the catch2 framework
  libs/EXTERNAL/CMakeLists.txt
Labels: external_libs

#1991 Removing "-nomem2reg" for input Verilog circuits in Yosys+Odin-II
  ODIN_II/SRC/YYosys.cpp
Labels: Odin

#1992 Add missing include for <algorithm>.
  libs/libvtrutil/src/vtr_ndmatrix.h
Labels: libvtrutil

#1958 FPGA Interchange: add constant synthetic tiles
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  vpr/src/base/read_interchange_netlist.cpp
  vpr/test/test_interchange_device.cpp
  vpr/test/testarch.device
Labels: VPR, libarchfpga

#1984 ci: merge workflow 'large-tests' into 'test'
  .github/workflows/large-tests.yml
  .github/workflows/test.yml
Labels: infra

#1663 EBLIF cell parameter interpretation
  doc/src/vpr/file_formats.rst
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/read_blif.cpp
  vpr/src/base/read_blif.h
  vtr_flow/benchmarks/tests/test_eblif.eblif
Labels: VPR

#2002 Corrected handling of unconnected ports in output Verilog netlist
  vpr/src/base/netlist_writer.cpp
  vpr/test/test_post_verilog.cpp
  vpr/test/test_post_verilog_arch.xml
  vpr/test/test_post_verilog_i_gnd_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_nets_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_unconnected_o_nets.golden.v
  vpr/test/test_post_verilog_i_unconnected_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_vcc_o_unconnected.golden.v
  vpr/test/unconnected.eblif
Labels: VPR
