Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-10, with the labels that each got.

#2057 Fix build errors with VERBOSE
  .github/workflows/test.yml
  CMakeLists.txt
  Makefile
  vpr/src/base/read_circuit.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place.cpp
  vpr/src/place/timing_place_lookup.cpp
Labels: VPR, infra, build, lang-make

#2166 migrate to oneTBB
  .github/scripts/hostsetup.sh
  .github/scripts/install_dependencies.sh
  cmake/modules/FindTBB.cmake
  libs/EXTERNAL/libtatum/cmake/modules/FindTBB.cmake
  vpr/src/base/vpr_api.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
Labels: VPR, external_libs

#2168 Wirelength Estimation is printed after placement
  vpr/src/place/place.cpp
Labels: VPR

#2158 router lookahead: fix criticality multiplication bug
  comparison_output.xlsx
  libs/libarchfpga/src/physical_types_util.cpp
  vpr/src/route/router_lookahead_map.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/multless_consts/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/vpr_reg_mcnc_equiv/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_bidir/config/golden_results.txt
Labels: VPR, libarchfpga

#2181 Remove temporary file.
  vpr/#main.ui#
Labels: VPR

#2180 Remove unnecessary std::move of temporary object.
  vpr/src/place/simpleRL_move_generator.cpp
Labels: VPR

#2179 Print WL Information Based on Direction and Length
  vpr/src/route/segment_stats.cpp
Labels: VPR
