Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-01, with the labels that each got.

#1923 Enhance Yosys+Odin subcircuits support
  ODIN_II/Makefile
  ODIN_II/SRC/BLIFElaborate.cpp
  ODIN_II/SRC/BLIFReader.cpp
  ODIN_II/SRC/Division.cpp
  ODIN_II/SRC/YYosys.cpp
  ODIN_II/SRC/include/BLIF.hpp
  ODIN_II/SRC/include/multipliers.h
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/regression_test/benchmark/task/yosys+odin/common/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/common/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/full/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/full/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/integer/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/integer/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/koios/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/micro/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/micro/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/syntax/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/syntax/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/vtr/synthesis_result.json
  ODIN_II/regression_test/benchmark/verilog/common/shiftx.v
  ODIN_II/regression_test/benchmark/verilog/full/stereovision1_yosys_output
  ODIN_II/regression_test/benchmark/verilog/keywords/integer/integer_port_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match1_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match2_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match3_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match4_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match5_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/micro/bm_match6_str_arch_yosys_output
  ODIN_II/regression_test/benchmark/verilog/syntax/expression_in_chain_modules_yosys_output
  ODIN_II/regression_test/benchmark/verilog/syntax/unordered_ports_yosys_output
  ODIN_II/regression_test/tools/synth.tcl
  doc/src/yosys+odin/dev_guide/contributing.rst
  doc/src/yosys+odin/user_guide.rst
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/vtr_benchmarks/config/golden_results.txt
Labels: Odin, Yosys+Odin-II

#1945 RRGraphView rr_switches() Implementation
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_view.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/power/power.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_storage.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_node.cpp
  vpr/src/util/vpr_utils.cpp
Labels: VPR

#1932 RRGraphView nodes() Implementation
  utils/fasm/test/test_fasm.cpp
  vpr/src/device/rr_graph_view.h
  vpr/src/draw/draw.cpp
  vpr/src/power/power.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_profiling.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_util.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/route/segment_stats.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/test/test_vpr.cpp
Labels: VPR

#1939 API reorder_rr_graph_node() created in rr_graph_util.cpp
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_builder.cpp
  vpr/src/device/rr_graph_builder.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_util.cpp
  vpr/src/route/rr_graph_util.h
Labels: VPR

#1914 Refactor build/dependency documentation + new markdown parser (myst-parser)
  .gitignore
  BUILDING.md
  CMakeLists.txt
  CONTRIBUTING.md
  README.developers.md
  cmake/modules/PyEnv.cmake
  doc/requirements.txt
  doc/src/BUILDING.md
  doc/src/CONTRIBUTING.md
  doc/src/LICENSE.md
  doc/src/README.developers.md
  doc/src/SUPPORT.md
  doc/src/building/building.md
  doc/src/building/index.rst
  doc/src/conf.py
  doc/src/contact.md
  doc/src/contact.rst
  doc/src/dev/contributing/contributing.md
  doc/src/dev/contributing/index.rst
  doc/src/dev/developing.md
  doc/src/dev/index.rst
  doc/src/dev/license.md
  doc/src/dev/support.md
  doc/src/index.rst
  doc/src/odin/dev_guide/contributing.md
  doc/src/quickstart/index.rst
  doc/src/vtr/get_vtr.rst
  doc/src/vtr/index.rst
  doc/src/vtr/install_vtr.rst
  doc/src/vtr/optional_build_info.md
  doc/src/vtr/power_estimation/index.rst
  install_apt_packages.sh
Labels: docs, build, scripts, lang-make, lang-shell

#1954 Refactor the Clustering code
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
Labels: VPR

#1937 FPGA Interchange: improve arch reader
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/arch_util.h
  libs/libarchfpga/src/physical_types.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_interchange_netlist.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/pb_type_graph.cpp
  vpr/test/lut.netlist
  vpr/test/test_interchange_device.cpp
  vpr/test/testarch.device
Labels: VPR, libarchfpga

#1789 Add unconnected port options for Verilog netlist
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
Labels: VPR

#1951 Add APIs rr_switch and rr_segment() to RRGraphBuilder
  utils/route_diag/src/main.cpp
  vpr/src/base/stats.cpp
  vpr/src/base/vpr_context.h
  vpr/src/device/rr_graph_builder.cpp
  vpr/src/device/rr_graph_builder.h
  vpr/src/device/rr_graph_view.h
  vpr/src/power/power_sizing.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_storage.cpp
  vpr/src/route/rr_graph_writer.cpp
  vpr/test/test_connection_router.cpp
Labels: VPR

#1953 Fix DSP blocks synthesis bug in Yosys+Odin-II
  ODIN_II/SRC/BLIFElaborate.cpp
  ODIN_II/SRC/BLIFReader.cpp
  ODIN_II/SRC/BLIFWriter.cpp
  ODIN_II/SRC/GenericIO.cpp
  ODIN_II/SRC/GenericWriter.cpp
  ODIN_II/SRC/VerilogWriter.cpp
  ODIN_II/SRC/YYosys.cpp
  ODIN_II/SRC/hard_blocks.cpp
  ODIN_II/SRC/include/BLIF.hpp
  ODIN_II/SRC/include/GenericIO.hpp
  ODIN_II/SRC/include/GenericWriter.hpp
  ODIN_II/SRC/include/Verilog.hpp
  ODIN_II/SRC/include/YYosys.hpp
  ODIN_II/SRC/include/config_t.h
  ODIN_II/SRC/include/odin_util.h
  ODIN_II/SRC/odin_ii.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/regression_test/benchmark/task/yosys+odin/koios/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/large/synthesis_result.json
  ODIN_II/regression_test/tools/synth.tcl
  vtr_flow/arch/COFFE_22nm/k6FracN10LB_mem20K_complexDSP_customSB_22nm.xml
Labels: Odin, Yosys+Odin-II

#1947 VPR: Add options for writing machine readable summary files
  doc/src/vpr/command_line_usage.rst
  doc/src/vpr/file_formats.rst
  vpr/src/analysis/timing_reports.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/ShowSetup.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/place/place.cpp
  vpr/src/timing/timing_util.cpp
  vpr/src/timing/timing_util.h
Labels: VPR
