Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-07, with the labels that each got.

#2093 Odin detailed report num of nodes
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/netlist_statistic.cpp
Labels: Odin

#2081 Support "include" feature for the Yosys frontend in run vtr flow scripts
  .github/workflows/test.yml
  .gitignore
  doc/src/vtr/tasks.rst
  doc/src/yosys/dev_guide.rst
  doc/src/yosys/structure.rst
  libs/EXTERNAL/CMakeLists.txt
  libs/EXTERNAL/libyosys/CMakeLists.txt
  vtr_flow/benchmarks/hdl_include/include/memory_controller.v
  vtr_flow/misc/yosyslib/synthesis.tcl
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/python_libs/vtr/paths.py
  vtr_flow/scripts/python_libs/vtr/yosys/yosys.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include_odin/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include_yosys/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include_yosys_odin/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/task_list.txt
Labels: infra, external_libs

#2086 Node naming, including hierarchical history in Yosys+Odin-II
  ODIN_II/SRC/BLIFReader.cpp
  ODIN_II/SRC/include/config_t.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/odin_ii.cpp
  doc/src/yosys+odin/user_guide.rst
  libs/EXTERNAL/CMakeLists.txt
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include_odin/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include_yosys/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic/hdl_include_yosys_odin/config/config.txt
Labels: Odin, external_libs, Yosys+Odin-II

#2085 Graphics Update/New UI for VPR
  vpr/main.ui
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/draw/ui_setup.h
Labels: VPR

#2051 Building a re-clustering API (cont.)
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/prepack.h
  vpr/src/pack/re_cluster.cpp
  vpr/src/pack/re_cluster.h
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/pack/re_cluster_util.h
Labels: VPR

#2083 Noc traffic flows parser final
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/clustered_netlist.cpp
  vpr/src/base/clustered_netlist.h
  vpr/src/base/echo_files.cpp
  vpr/src/base/echo_files.h
  vpr/src/base/netlist.h
  vpr/src/base/netlist.tpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/setup_noc.cpp
  vpr/src/base/setup_noc.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/noc/noc_data_types.h
  vpr/src/noc/noc_link.cpp
  vpr/src/noc/noc_link.h
  vpr/src/noc/noc_router.cpp
  vpr/src/noc/noc_router.h
  vpr/src/noc/noc_storage.cpp
  vpr/src/noc/noc_storage.h
  vpr/src/noc/noc_traffic_flows.cpp
  vpr/src/noc/noc_traffic_flows.h
  vpr/src/noc/read_xml_noc_traffic_flows_file.cpp
  vpr/src/noc/read_xml_noc_traffic_flows_file.h
  vpr/test/packing_pin_util.rpt
  vpr/test/pre_pack.report_timing.setup.rpt
  vpr/test/test_clustered_netlist.cpp
  vpr/test/test_noc_traffic_flows.cpp
  vpr/test/test_read_xml_noc_traffic_flows_file.cpp
  vtr_flow/benchmarks/noc/Readme.txt
  vtr_flow/benchmarks/noc/Test_Designs/test_design_for_noc_traffic_flows_feature/multiple_noc_routers.blif
  vtr_flow/benchmarks/noc/Test_Designs/test_design_for_noc_traffic_flows_feature/multiple_noc_routers.flows
Labels: VPR, libarchfpga

#2109 Increase Odin-II stack size
  ODIN_II/main.cpp
Labels: Odin

#1975 ci/test: remove unused matrix field
  .github/workflows/test.yml
Labels: infra

#2092 Issue #2078
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/route_tree_timing.h
Labels: VPR

#2084 Pack malloc to new
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libvtrutil/src/vtr_memory.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.cpp
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_feasibility_filter.cpp
  vpr/src/pack/cluster_placement.cpp
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/lb_type_rr_graph.cpp
  vpr/src/pack/output_clustering.cpp
  vpr/src/pack/pb_type_graph.cpp
  vpr/src/pack/pb_type_graph_annotations.cpp
  vpr/src/pack/prepack.cpp
  vpr/src/util/vpr_utils.cpp
  vtr_flow/sdc/samples/H.sdc
Labels: VPR, libarchfpga, libvtrutil
