Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-08, with the labels that each got.

#2102 Search Update + NoC GUI Update
  vpr/main.ui
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/draw/ui_setup.h
Labels: VPR

#2116 Deleting Kokoro configuration files
  .github/kokoro/continuous/nightly_test1.cfg
  .github/kokoro/continuous/nightly_test2.cfg
  .github/kokoro/continuous/nightly_test3.cfg
  .github/kokoro/continuous/nightly_test4.cfg
  .github/kokoro/continuous/odin_strong.cfg
  .github/kokoro/continuous/odin_tech_strong.cfg
  .github/kokoro/continuous/strong.cfg
  .github/kokoro/continuous/strong_sanitized.cfg
  .github/kokoro/continuous/weekly.cfg
  .github/kokoro/continuous/yosys_odin_test.cfg
  .github/kokoro/continuous/yosys_test.cfg
  .github/kokoro/presubmit/nightly_test1.cfg
  .github/kokoro/presubmit/nightly_test2.cfg
  .github/kokoro/presubmit/nightly_test3.cfg
  .github/kokoro/presubmit/nightly_test4.cfg
  .github/kokoro/presubmit/odin_strong.cfg
  .github/kokoro/presubmit/odin_tech_strong.cfg
  .github/kokoro/presubmit/strong.cfg
  .github/kokoro/presubmit/strong_sanitized.cfg
  .github/kokoro/presubmit/yosys_odin_test.cfg
  .github/kokoro/presubmit/yosys_test.cfg
  .github/kokoro/run-vtr.sh
  .github/kokoro/steps/git.sh
  .github/kokoro/steps/hostinfo.sh
  .github/kokoro/steps/hostsetup.sh
  .github/kokoro/steps/vtr-build.sh
  .github/kokoro/steps/vtr-full-setup.sh
  .github/kokoro/steps/vtr-min-setup.sh
  .github/kokoro/steps/vtr-test.sh
Labels: infra

#2118 Fix dsp models port sizes in the Verilog file generated by Odin-II
  ODIN_II/SRC/VerilogWriter.cpp
Labels: Odin

#2113 Dense initial placement
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/initial_placement.h
Labels: VPR

#2114 Addressing route_timing Offset
  vpr/src/route/route_timing.cpp
Labels: VPR

#2100 Remaining malloc to new
  ODIN_II/SRC/adders.cpp
  libs/libvtrutil/src/vtr_list.cpp
  libs/libvtrutil/src/vtr_memory.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_types.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/power/power.cpp
  vpr/src/power/power.h
  vpr/src/power/power_cmos_tech.cpp
  vpr/src/power/power_sizing.cpp
  vpr/src/power/power_util.cpp
  vpr/src/route/binary_heap.cpp
  vpr/src/route/binary_heap.h
  vpr/src/route/bucket.cpp
  vpr/src/util/hash.cpp
  vpr/src/util/hash.h
  vpr/src/util/vpr_utils.cpp
  vtr_flow/parse/pass_requirements/common/pass_requirements.vpr_route_fixed_chan_width.txt
Labels: VPR, Odin, libvtrutil

#2110 Providing Yosys Frontend with the Declaration of Custom Complex Blocks
  .gitignore
  doc/src/yosys+odin/dev_guide/contributing.rst
  doc/src/yosys/dev_guide.rst
  libs/EXTERNAL/libyosys/CMakeLists.txt
  libs/libarchfpga/CMakeLists.txt
  libs/libarchfpga/src/main.cpp
  libs/libarchfpga/src/write_arch_bb.cpp
  libs/libarchfpga/src/write_models_bb.cpp
  libs/libarchfpga/src/write_models_bb.h
  vtr_flow/misc/yosyslib/synthesis.tcl
  vtr_flow/scripts/python_libs/vtr/paths.py
  vtr_flow/scripts/python_libs/vtr/yosys/yosys.py
Labels: libarchfpga, external_libs, Yosys

#2129 Fixed Bug where VPR UI was not changing when switching mode
  vpr/src/draw/draw.cpp
  vpr/src/draw/ui_setup.cpp
Labels: VPR

#2096 Revert "vpr: base: netlist writer: escape '[' and ']' for black boxes…
  vpr/src/base/netlist_writer.cpp
Labels: VPR

#2060 Terminate if timing fails
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/timing/timing_fail_error.cpp
  vpr/src/timing/timing_fail_error.h
  vpr/src/timing/timing_util.cpp
  vpr/src/util/vpr_utils.cpp
  vtr_flow/parse/pass_requirements/pass_requirements.timing_fail.txt
  vtr_flow/sdc/samples/easy_pass_timing.sdc
  vtr_flow/sdc/samples/impossible_pass_timing.sdc
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_fail/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_fail/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_no_fail/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_no_fail/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR

#2069 Update dead FASM specification url
  README.md
Labels: docs

#2121 Documentation Updates for VPR Graphics
  doc/src/api/vprinternals/draw_files.rst
  doc/src/api/vprinternals/draw_structs.rst
  doc/src/api/vprinternals/index.rst
  doc/src/api/vprinternals/vpr_ui.rst
  doc/src/dev/tutorials/edit_vpr_ui.rst
  doc/src/dev/tutorials/index.rst
  doc/src/index.rst
  vpr/src/draw/breakpoint.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_basic.h
  vpr/src/draw/draw_color.h
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_global.h
  vpr/src/draw/draw_mux.h
  vpr/src/draw/draw_noc.h
  vpr/src/draw/draw_rr.h
  vpr/src/draw/draw_rr_edges.h
  vpr/src/draw/draw_searchbar.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/draw_triangle.cpp
  vpr/src/draw/draw_triangle.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/hsl.h
  vpr/src/draw/intra_logic_block.cpp
  vpr/src/draw/intra_logic_block.h
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/draw/ui_setup.h
Labels: VPR

#2117 Noc routing
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/noc/bfs_routing.cpp
  vpr/src/noc/bfs_routing.h
  vpr/src/noc/noc_link.cpp
  vpr/src/noc/noc_link.h
  vpr/src/noc/noc_routing.h
  vpr/src/noc/noc_routing_algorithm_creator.cpp
  vpr/src/noc/noc_routing_algorithm_creator.h
  vpr/src/noc/noc_storage.cpp
  vpr/src/noc/noc_storage.h
  vpr/src/noc/xy_routing.cpp
  vpr/src/noc/xy_routing.h
  vpr/test/test_bfs_routing.cpp
  vpr/test/test_noc_storage.cpp
  vpr/test/test_xy_routing.cpp
Labels: VPR

#2141 fix a UHDM parser bug for the Yosys+Odin-II front-end
  ODIN_II/Makefile
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/odin_util.cpp
  ODIN_II/regression_test/tools/run_yosys.sh
  ODIN_II/verify_odin.sh
  libs/EXTERNAL/CMakeLists.txt
  vtr_flow/scripts/python_libs/vtr/__init__.py
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/python_libs/vtr/yosys/__init__.py
  vtr_flow/scripts/python_libs/vtr/yosys/yosys.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/FX68K/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/f4pga_button_controller/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/f4pga_pulse_width_led/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/f4pga_timer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_odin/hdmi/config/config.txt
Labels: Odin, external_libs

#2144 Decoding BitwiseOps in Yosys+Odin-II
  ODIN_II/Makefile
  ODIN_II/SRC/BLIFElaborate.cpp
  ODIN_II/SRC/BLIFReader.cpp
  ODIN_II/SRC/BitwiseOps.cpp
  ODIN_II/SRC/include/BitwiseOps.hpp
Labels: Odin

#2146 Fix rr_graph direct link
  vpr/src/route/rr_graph.cpp
Labels: VPR
