Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-04, with the labels that each got.

#1957 Netlist Writer: write post synthesis netlist that can be simulated
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
Labels: VPR

#1996 Speciy used hardblocks to print their model in the blif generation phase
  ODIN_II/SRC/BLIFReader.cpp
  ODIN_II/SRC/hard_blocks.cpp
Labels: Odin

#2013 Handle Multiplication Operation Output Size
  ODIN_II/SRC/BLIFElaborate.cpp
  ODIN_II/SRC/include/multipliers.h
  ODIN_II/SRC/multipliers.cpp
  ODIN_II/regression_test/benchmark/task/yosys+odin/koios/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/large/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/micro/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/micro/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/vtr/synthesis_result.json
Labels: Odin, kokoro:force-run, Yosys+Odin-II

#2015 SystemVerilog file support added to yosys; Added support to provide t…
  ODIN_II/SRC/YYosys.cpp
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/input/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/output/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/reg/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/reg/synthesis_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/signed_unsigned/simulation_result.json
  ODIN_II/regression_test/benchmark/task/yosys+odin/keywords/signed_unsigned/synthesis_result.json
  ODIN_II/regression_test/tools/run_yosys.sh
  ODIN_II/regression_test/tools/synth.tcl
  vtr_flow/benchmarks/verilog/koios/robot_rl.v
  vtr_flow/misc/yosyslib/synthesis.ys
  vtr_flow/scripts/python_libs/vtr/odin/odin.py
  vtr_flow/scripts/run_vtr_flow.py
Labels: Odin, Yosys+Odin-II
