Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2022-12, with the labels that each got.

#2210 t_capacity_range structure comment typo correction
  libs/libarchfpga/src/physical_types.h
Labels: libarchfpga

#2215 Add Support for Parmys plugin in VTR/Yosys
  .github/workflows/test.yml
  CMakeLists.txt
  ODIN_II/regression_test/tools/run_yosys.sh
  README.developers.md
  doc/src/vtr/run_vtr_flow.rst
  libs/EXTERNAL/CMakeLists.txt
  vtr_flow/misc/yosyslib/synthesis_parmys.tcl
  vtr_flow/scripts/python_libs/vtr/paths.py
  vtr_flow/scripts/python_libs/vtr/yosys/yosys.py
  vtr_flow/scripts/run_vtr_flow.py
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_parmys/koios/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_parmys/koios/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_parmys/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_parmys/vtr_benchmarks/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_yosys_parmys/vtr_benchmarks/config/golden_results.txt
Labels: Odin, docs, infra, build, lang-make, external_libs

#2217 install `LIB_HEADERS` to `CMAKE_INSTALL_INCLUDEDIR`
  libs/EXTERNAL/libpugixml/CMakeLists.txt
  libs/libarchfpga/CMakeLists.txt
  libs/liblog/CMakeLists.txt
  libs/libpugiutil/CMakeLists.txt
  libs/librtlnumber/CMakeLists.txt
  libs/libvtrutil/CMakeLists.txt
Labels: libarchfpga, libvtrutil, external_libs, liblog, libpugiutil
