Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2023-12, with the labels that each got.

#2461 StrongIdIterator Operator Overloading
  libs/libvtrutil/src/vtr_strong_id_range.h
Labels: libvtrutil

#2456 Routing Stats
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/route.cpp
  vpr/src/route/router_stats.h
  vtr_flow/parse/parse_config/common/vpr.route_fixed_chan_width.txt
  vtr_flow/parse/parse_config/timing/vpr.route_relaxed_chan_width.txt
Labels: VPR

#2466 Update labeler.yml to v5 syntax
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: infra

#2462 Debug Router Lookahead For 3D Architecture
  vpr/src/route/router_lookahead_map.cpp
Labels: VPR

#2470 Increase CI tests run-time limit
  .github/workflows/test.yml
Labels: infra
