Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2023-04, with the labels that each got.

#2258 Migrate to Ubuntu 22.04 LTS
  .github/scripts/hostsetup.sh
  .github/scripts/install_dependencies.sh
  .github/workflows/build_dependency_ubuntu-22.04.sh
  .github/workflows/test.yml
  cmake/modules/AutoClangFormat.cmake
  libs/libvtrutil/src/vtr_vector.h
Labels: infra, libvtrutil

#2274 Cpp format Fix-up
  cmake/modules/AutoClangFormat.cmake
  libs/librtlnumber/src/include/internal_bits.hpp
  libs/librtlnumber/src/rtl_int.cpp
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_pair_util.h
  libs/libvtrutil/src/vtr_strong_id.h
  odin_ii/src/core/adders.cpp
  odin_ii/src/simulate/simulate_blif.cpp
  odin_ii/src/utils/atomic_buffer.h
  vpr/src/power/power_sizing.cpp
  vpr/src/util/vpr_utils.cpp
Labels: VPR, Odin, libvtrutil

#2273 missing packages added from Yosys build page
  install_apt_packages.sh
Labels: scripts, lang-shell

#2254 Spec Rand
  CMakeLists.txt
  libs/libvtrutil/src/specrand.cpp
  libs/libvtrutil/src/specrand.h
  libs/libvtrutil/src/vtr_random.cpp
Labels: build, lang-make, libvtrutil

#2279 Parmys doc update
  doc/src/parmys/quickstart.rst
  install_apt_packages.sh
Labels: scripts, lang-shell

#2288 TBB setting for ubuntu 22.04
  .github/scripts/hostsetup.sh
  .github/scripts/install_dependencies.sh
Labels: infra

#2283 check libtbb-dev.
  .github/scripts/install_dependencies.sh
Labels: infra

#2290 Route constraint dev
  doc/src/vpr/command_line_usage.rst
  doc/src/vpr/route_constraints.rst
  vpr/src/base/gen/vpr_constraints_uxsdcxx.h
  vpr/src/base/vpr_api.cpp
  vpr/src/util/vpr_utils.cpp
  vtr_flow/arch/timing/k4_frac_N4_fracff_localClkGen_40nm.xml
  vtr_flow/benchmarks/microbenchmarks/and_clk.blif
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_vpr_constraint/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_vpr_constraint/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_vpr_constraint/floor_plan.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_vpr_constraint/route_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR

#2291 Update CMake version in "CMakeLists.txt" files
  CMakeLists.txt
  ace2/CMakeLists.txt
  blifexplorer/CMakeLists.txt
  doc/src/parmys/quickstart.rst
  libs/EXTERNAL/libargparse/CMakeLists.txt
  libs/EXTERNAL/libblifparse/CMakeLists.txt
  libs/EXTERNAL/libpugixml/CMakeLists.txt
  libs/EXTERNAL/libsdcparse/CMakeLists.txt
  libs/EXTERNAL/libtatum/CMakeLists.txt
  libs/libarchfpga/CMakeLists.txt
  libs/liblog/CMakeLists.txt
  libs/libpugiutil/CMakeLists.txt
  libs/librrgraph/CMakeLists.txt
  libs/librtlnumber/CMakeLists.txt
  libs/libvqm/CMakeLists.txt
  libs/libvtrutil/CMakeLists.txt
  odin_ii/CMakeLists.txt
  parmys/CMakeLists.txt
  utils/fasm/CMakeLists.txt
  utils/route_diag/CMakeLists.txt
  utils/vqm2blif/CMakeLists.txt
  vpr/CMakeLists.txt
  yosys/CMakeLists.txt
Labels: VPR, Odin, libarchfpga, ACE2, build, lang-make, libvtrutil, external_libs, blifexplorer, liblog, libpugiutil, Parmys

#2297 Add missing include; remove unused variable.
  vpr/src/util/vpr_utils.cpp
Labels: VPR

#2227 This is a fix to avoid division by zero in initial_placement.
  vpr/src/place/initial_placement.cpp
Labels: VPR

#2186 Don't std::move a temporary object, as it prevents copy elision.
  vpr/src/place/static_move_generator.cpp
Labels: VPR

#2188 Remove unused variables.
  vpr/src/place/move_utils.cpp
  vpr/src/place/timing_place.cpp
Labels: VPR

#2298 Make delete calls not look like function calls.
  vpr/src/base/echo_files.cpp
  vpr/src/draw/draw.cpp
  vpr/src/pack/pb_type_graph.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/power/power_components.cpp
  vpr/src/power/power_sizing.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_graph_timing_params.cpp
  vpr/src/util/vpr_utils.cpp
Labels: VPR

#2189 Tell compiler about intentional fallthrough.
  vpr/src/pack/pb_type_graph.cpp
Labels: VPR

#2187 Initialized enums that might not be assigned depending on NO_GRAPHICS macro
  vpr/src/place/place.cpp
Labels: VPR
