Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2023-10, with the labels that each got.

#2410 disable Parmys in Odin tests
  .github/workflows/test.yml
Labels: infra

#2408 Fix Segment Usage Message
  vpr/src/route/segment_stats.cpp
Labels: VPR

#2418 Add 'not found' check for finding file extension of arch xml
  .github/scripts/hostsetup.sh
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/libpugiutil/src/pugixml_util.cpp
Labels: libarchfpga, infra, libpugiutil
