Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2023-11, with the labels that each got.

#2430 Separate flat router test
  .github/workflows/test.yml
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test3/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/titan_other_run_flat/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/titan_other_run_flat/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/verify_router_lookahead_run_flat/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/verify_router_lookahead_run_flat/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/verify_rr_graph_run_flat/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/verify_rr_graph_run_flat/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/vtr_reg_qor_large_depop_run_flat/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/vtr_reg_qor_large_depop_run_flat/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/vtr_reg_qor_large_run_flat/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/vtr_reg_qor_large_run_flat/config/golden_results.txt
Labels: infra

#2432 Update README.developers.md with more current reg test info
  README.developers.md
Labels: docs

#2348 Enhanced 3D Placement Cost and Router Lookahead with Cross-Die Delay
  doc/src/vpr/command_line_usage.rst
  libs/librrgraph/src/base/rr_graph_utils.cpp
  libs/librrgraph/src/base/rr_graph_utils.h
  libs/librrgraph/src/base/rr_graph_view.h
  utils/route_diag/src/main.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/noc/noc_storage.cpp
  vpr/src/noc/noc_storage.h
  vpr/src/place/centroid_move_generator.cpp
  vpr/src/place/critical_uniform_move_generator.cpp
  vpr/src/place/directed_moves_util.cpp
  vpr/src/place/feasible_region_move_generator.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/median_move_generator.cpp
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/noc_place_utils.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_delay_model.cpp
  vpr/src/place/place_delay_model.h
  vpr/src/place/placer_context.h
  vpr/src/place/simpleRL_move_generator.h
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/place/timing_place_lookup.h
  vpr/src/place/uniform_move_generator.cpp
  vpr/src/place/weighted_centroid_move_generator.cpp
  vpr/src/place/weighted_median_move_generator.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_parallel.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_delay_profiling.h
  vpr/src/route/router_lookahead_cost_map.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_extended_map.h
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map.h
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_map_utils.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vpr/test/test_connection_router.cpp
  vpr/test/test_place_delay_model_serdes.cpp
  vpr/test/test_vpr_constraints.cpp
  vtr_flow/arch/multi_die/aman_3d_coffe.xml
  vtr_flow/arch/multi_die/aman_3d_limited.xml
  vtr_flow/parse/parse_config/common/vpr.place.txt
Labels: VPR

#2438 quick fix for CI
  libs/EXTERNAL/libcatch2/src/catch2/catch_test_case_info.hpp
  libs/EXTERNAL/libcatch2/src/catch2/internal/catch_xmlwriter.cpp
  libs/librtlnumber/src/include/rtl_utils.hpp
Labels: external_libs

#2440 Add instructions on initializing submodules
  BUILDING.md
  doc/src/quickstart/index.rst
Labels: docs

#2445 6D Router Lookahead
  libs/librrgraph/src/base/rr_graph_view.h
  vpr/src/route/connection_router.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_extended_map.h
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map.h
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_map_utils.h
  vpr/test/test_map_lookahead_serdes.cpp
Labels: VPR
