Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-05, with the labels that each got.

#2550 Quickstart, requirements, and flow tutorial update
  doc/src/quickstart/index.rst
  doc/src/tutorials/flow/basic_flow.rst
  requirements.txt
Labels: docs, external_libs, Parmys

#2542 Specify available moves explicitly
  libs/libarchfpga/src/device_grid.cpp
  libs/libvtrutil/src/vtr_ndmatrix.h
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/SetupGrid.cpp
  vpr/src/base/SetupGrid.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/RL_agent_util.h
  vpr/src/place/move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/place.cpp
  vpr/src/place/simpleRL_move_generator.cpp
  vpr/src/place/simpleRL_move_generator.h
  vpr/src/place/static_move_generator.cpp
  vpr/src/place/static_move_generator.h
Labels: VPR, libarchfpga, lang-cpp, libvtrutil

#2549 Fixing ODIN II and blifexplorer Compiler Warnings.
  blifexplorer/src/container.cpp
  blifexplorer/src/mainwindow.cpp
  libs/libvqm/vqm_dll.cpp
  libs/libvqm/vqm_parser.y
  odin_ii/src/ast/ast_loop_unroll.cpp
Labels: Odin, lang-cpp, external_libs, blifexplorer

#2552 Architecture Seg Fault Issue
  libs/libarchfpga/src/echo_arch.cpp
Labels: libarchfpga, lang-cpp

#2313 Fixed inconsistency between dev/DOCKER_DEPLOY.md and root Dockerfile
  Dockerfile
  dev/DOCKER_DEPLOY.md
Labels: infra

#2525 Replace all sort functions with stable sort
  libs/librrgraph/src/base/rr_graph_obj.cpp
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_rr.cpp
  vpr/src/place/compressed_grid.cpp
  vpr/src/place/cut_spreader.cpp
  vpr/src/place/median_move_generator.cpp
  vpr/src/place/noc_place_utils.cpp
  vpr/src/place/place.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/place/weighted_median_move_generator.cpp
  vpr/src/route/DecompNetlistRouter.tpp
  vpr/src/route/ParallelNetlistRouter.tpp
  vpr/src/route/SerialNetlistRouter.tpp
  vpr/src/route/cb_metrics.cpp
  vpr/src/route/route_net.tpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_sampling.cpp
  vpr/src/route/rr_graph.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/figure_8/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/multless_consts/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/multless_consts/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2/vtr_bidir/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2_odin/vtr_timing_update_diff/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fc_abs/config/golden_results.txt
Labels: VPR, lang-cpp

#2524 Fix the crash in graphics when run-flat is used
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libarchfpga/src/read_fpga_interchange_arch.h
  vpr/src/base/read_interchange_netlist.cpp
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_rr.cpp
  vpr/src/noc/noc_link.cpp
  vpr/src/noc/noc_link.h
  vpr/src/noc/noc_storage.cpp
  vpr/src/noc/noc_storage.h
  vpr/src/place/initial_noc_placement.cpp
  vpr/src/place/noc_place_utils.cpp
  vpr/src/place/noc_place_utils.h
  vpr/src/place/place.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
  vpr/src/route/connection_router.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vpr/test/test_noc_place_utils.cpp
Labels: VPR, libarchfpga, lang-cpp

#2554 Added a tutorial for running and creating unit tests.
  README.developers.md
  libs/libarchfpga/CMakeLists.txt
  libs/libvtrutil/CMakeLists.txt
Labels: libarchfpga, docs, lang-make, libvtrutil

#2397 Re-clustering API bug fixes
  vpr/src/pack/re_cluster.cpp
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/pack/re_cluster_util.h
Labels: VPR, lang-cpp

#2558 Removed Simple Uses of STD Iterator
  libs/librrgraph/src/base/rr_node_impl.h
  libs/librrgraph/src/base/rr_node_types.h
  libs/libvtrutil/src/vtr_ragged_matrix.h
Labels: lang-cpp, libvtrutil

#2555 [CI] Made the Regression Tests Error on Warning
  .github/workflows/test.yml
  vpr/src/route/connection_router.cpp
Labels: VPR, lang-cpp, infra, lang-make, external_libs

#2561 Removed Less-Simple Uses of STD Iterator
  libs/EXTERNAL/libtatum/libtatum/tatum/tags/TimingTags.hpp
  libs/libvtrutil/src/vtr_array_view.h
  libs/libvtrutil/src/vtr_vector.h
Labels: lang-cpp, libvtrutil, external_libs

#2567 [Docs] Updated Subtree Docs
  README.developers.md
Labels: docs

#2563 Minor router lookahed cleanup
  libs/libarchfpga/src/physical_types.h
  libs/librrgraph/src/base/rr_graph_view.h
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_delay_profiling.h
  vpr/src/route/router_lookahead.cpp
  vpr/src/route/router_lookahead.h
  vpr/src/route/router_lookahead_compressed_map.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_map_utils.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
Labels: VPR, libarchfpga, lang-cpp

#2514 Bug fix: asymmetric grid with bidirectional routing
  vpr/src/route/rr_graph.cpp
Labels: VPR, lang-cpp

#2568 [CI] Upgraded Actions
  .github/workflows/containers.yml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
Labels: infra
