Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-12, with the labels that each got.

#2844 Simple Place Delay Model Read/Write
  vpr/src/place/place_delay_model.cpp
  vpr/src/place/place_delay_model.h
Labels: VPR, lang-cpp

#2846 Update docs for parallel router
  doc/src/vpr/command_line_usage.rst
  doc/src/z_references.bib
Labels: docs

#2843 IPIN Cost Multiplier
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
Labels: lang-cpp

#2834 [CI] Added GCC-13 on Ubuntu Noble as a Compatibility Test
  .github/workflows/test.yml
  libs/EXTERNAL/libezgl/src/application.cpp
Labels: lang-cpp, infra, external_libs
