Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-07, with the labels that each got.

#2626 Remove `has_path_to_sink`
  vpr/src/route/connection_router.cpp
Labels: VPR, lang-cpp

#2596 Yosys Update -> v0.42
  .github/workflows/test.yml
Labels: lang-cpp, infra, lang-python, lang-make, lang-hdl, lang-shell, Parmys

#2643 Revert "Yosys Update -> v0.42"
  .github/workflows/test.yml
Labels: infra

#2605 [Docs] Updated Profiling VTR Section in Developer Guide
  README.developers.md
Labels: docs

#1997 Fixed wrong path for current directory
  BUILDING.md
Labels: docs

#1919 Corrected typo of abosrb to absorb
  vpr/src/base/ShowSetup.cpp
Labels: VPR, lang-cpp

#2396 Placement Refactoring
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/physical_types_util.cpp
  libs/libvtrutil/src/vtr_vec_id_set.h
  vpr/src/base/vpr_types.h
  vpr/src/pack/pb_type_graph.cpp
  vpr/src/pack/re_cluster.cpp
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/place/move_transactions.cpp
  vpr/src/place/move_transactions.h
  vpr/src/place/move_utils.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vpr/src/place/place.cpp
  vpr/src/place/place_util.h
  vpr/src/util/vpr_utils.cpp
Labels: VPR, libarchfpga, lang-cpp, libvtrutil

#2639 Improve SINK Node Locations
  doc/src/api/vpr/grid.rst
  doc/src/api/vpr/index.rst
  doc/src/api/vpr/rr_graph.rst
  doc/src/api/vprinternals/router_lookahead.rst
  doc/src/api/vprinternals/vpr_router.rst
  libs/libarchfpga/src/device_grid.h
  libs/librrgraph/src/base/check_rr_graph.cpp
  libs/librrgraph/src/base/rr_graph_utils.cpp
  libs/librrgraph/src/base/rr_graph_utils.h
  libs/librrgraph/src/base/rr_spatial_lookup.cpp
  libs/librrgraph/src/base/rr_spatial_lookup.h
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_geometry.tpp
  libs/libvtrutil/src/vtr_strong_id.h
  vpr/src/base/vpr_types.h
  vpr/src/place/place.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_debug.cpp
  vpr/src/route/router_lookahead_map.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/vtr_reg_fpu_hard_block_arch/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/FIR_filters_frac/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/open_cores_frac/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/vtr_reg_fpu_hard_block_arch/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test3_odin/vtr_reg_qor_chain_predictor_off/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_router_lookahead/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_custom_grid/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_router_lookahead/config/config.txt
Labels: VPR, libarchfpga, docs, lang-cpp, libvtrutil

#2662 [CI] Separated Out NightlyTests
  .github/workflows/nightly_test.yml
  .github/workflows/test.yml
Labels: infra

#2663 [CI] Added a Workflow Dispatch Trigger for NightlyTest
  .github/workflows/nightly_test.yml
Labels: infra

#2667 [CI] Turned On NightlyTests on PR
  .github/workflows/nightly_test.yml
Labels: infra

#2659 [vpr][place] Placement move primitive refactoring
  vpr/src/place/initial_noc_placement.cpp
  vpr/src/place/move_transactions.cpp
  vpr/src/place/move_transactions.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vpr/src/place/noc_place_utils.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_constraints.h
  vpr/src/place/placer_breakpoint.cpp
  vpr/src/place/placer_breakpoint.h
  vpr/test/test_noc_place_utils.cpp
Labels: VPR, lang-cpp

#2629 Removing warnings from libencrypt and libdecrypt
  libs/libdecrypt/CMakeLists.txt
  libs/libdecrypt/src/decryption.cpp
  libs/libdecrypt/src/decryption.h
  libs/libdecrypt/test/CMakeLists.txt
  libs/libdecrypt/test/src/main.cpp
  libs/libdecrypt/test/src/test.cpp
  libs/libdecrypt/test/src/test.h
  libs/libencrypt/CMakeLists.txt
  libs/libencrypt/src/encryption.cpp
  libs/libencrypt/src/encryption.h
  libs/libpugiutil/src/pugixml_loc.cpp
Labels: lang-cpp, infra, lang-make, libpugiutil

#2601 [Route] Added astar_offset Parameter
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router_interface.h
  vpr/src/route/route_net.tpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/test/test_connection_router.cpp
Labels: VPR, docs, lang-cpp
