Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-09, with the labels that each got.

#2707 Fix compilation error with VTR_ASSERT_LEVEL=4
  .github/workflows/test.yml
  vpr/src/place/place_timing_update.cpp
Labels: VPR, lang-cpp, infra

#2709 [ClusterLegalizer] Cluster Legalizer API
  vpr/src/base/SetupGrid.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_constraints_writer.cpp
  vpr/src/base/vpr_constraints_writer.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster.h
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/constraints_report.cpp
  vpr/src/pack/constraints_report.h
  vpr/src/pack/noc_aware_cluster_util.cpp
  vpr/src/pack/noc_aware_cluster_util.h
  vpr/src/pack/output_clustering.cpp
  vpr/src/pack/output_clustering.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/pack/re_cluster.cpp
  vpr/src/pack/re_cluster.h
  vpr/src/pack/re_cluster_util.cpp
  vpr/src/pack/re_cluster_util.h
  vpr/src/place/place_constraints.cpp
  vpr/src/route/route_common.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vpr/test/test_connection_router.cpp
  vpr/test/test_post_verilog.cpp
  vpr/test/test_vpr.cpp
Labels: VPR, libarchfpga, lang-cpp

#2725 [ClusterLegalizer] Fixed Memory Leak
  vpr/src/pack/cluster_legalizer.cpp
Labels: VPR, lang-cpp

#2714 optimize computation in librrgraph utils
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
Labels: lang-cpp

#2723 Route-verbosity
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/route/rr_graph.cpp
Labels: VPR, docs, lang-cpp

#2711 Update Netlist Creation Function Documentation to Prevent Duplicates
  vpr/src/base/atom_netlist.h
  vpr/src/base/clustered_netlist.h
Labels: VPR, lang-cpp

#2728 [ClusterLegalizer] Cleaned Up Cluster Placement Stats
  libs/libarchfpga/src/physical_types.h
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_placement.cpp
  vpr/src/pack/cluster_placement.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vtr_flow/tasks/regression_tests/vtr_reg_basic/basic_no_timing/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/figure_8/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/arithmetic_tasks/multless_consts/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/power_extended_arch_list/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/vpr_reg_mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/figure_8/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/figure_8/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/multless_consts/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/arithmetic_tasks/open_cores_frac/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/vpr_reg_mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1_odin/vtr_reg_fpu_hard_block_arch/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2/vtr_bidir/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2/vtr_reg_multiclock_mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2_odin/vtr_bidir/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test2_odin/vtr_reg_multiclock_mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test3/vtr_reg_qor_chain/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test3/vtr_reg_qor_chain_predictor_off/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test4/koios_medium/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test4/koios_medium_no_hb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test4/titan_s10_qor/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test4_odin/koios_medium/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test4_odin/koios_medium_no_hb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_titan_other_full_opin_auto_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_titan_other_full_opin_cube_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/titan_other_run_flat/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_cin_tie_off/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_clusters/apex2_block_locations.place
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_fix_clusters/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_delay_calc_method/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_delay_model/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_power/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_routing_differing_modes/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_soft_multipliers/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_titan_s10/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_cin_tie_off/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_clock_modeling/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_fix_clusters/apex2_block_locations.place
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_fix_clusters/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_place_delay_calc_method/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_place_delay_model/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_routing_differing_modes/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_soft_multipliers/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_verify_rr_graph_titan/config/config.txt
Labels: VPR, libarchfpga, lang-cpp

#2738 Slightly clarified description of --place_delay_model simple in the docs
  doc/src/vpr/command_line_usage.rst
Labels: docs

#2733 [AP] Created The APNetlist Class
  vpr/src/analytical_place/ap_netlist.cpp
  vpr/src/analytical_place/ap_netlist.h
  vpr/src/analytical_place/ap_netlist_fwd.h
  vpr/test/test_ap_netlist.cpp
Labels: VPR, lang-cpp

#2676 NetCostHandler class
  libs/libvtrutil/src/vtr_memory.h
  vpr/src/base/blk_loc_registry.cpp
  vpr/src/base/blk_loc_registry.h
  vpr/src/base/vpr_types.h
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/centroid_move_generator.cpp
  vpr/src/place/centroid_move_generator.h
  vpr/src/place/critical_uniform_move_generator.cpp
  vpr/src/place/critical_uniform_move_generator.h
  vpr/src/place/directed_moves_util.h
  vpr/src/place/feasible_region_move_generator.cpp
  vpr/src/place/feasible_region_move_generator.h
  vpr/src/place/initial_noc_placement.cpp
  vpr/src/place/manual_move_generator.cpp
  vpr/src/place/manual_move_generator.h
  vpr/src/place/median_move_generator.cpp
  vpr/src/place/median_move_generator.h
  vpr/src/place/move_generator.cpp
  vpr/src/place/move_generator.h
  vpr/src/place/move_transactions.cpp
  vpr/src/place/move_transactions.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vpr/src/place/place.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/place/place_timing_update.cpp
  vpr/src/place/simpleRL_move_generator.cpp
  vpr/src/place/simpleRL_move_generator.h
  vpr/src/place/static_move_generator.cpp
  vpr/src/place/static_move_generator.h
  vpr/src/place/timing_place.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/place/uniform_move_generator.cpp
  vpr/src/place/uniform_move_generator.h
  vpr/src/place/weighted_centroid_move_generator.cpp
  vpr/src/place/weighted_centroid_move_generator.h
  vpr/src/place/weighted_median_move_generator.cpp
  vpr/src/place/weighted_median_move_generator.h
  vpr/src/util/vpr_utils.cpp
Labels: VPR, lang-cpp, libvtrutil, external_libs

#2746 [AP] Added AP Flow to VPR
  doc/src/arch/reference.rst
  doc/src/vpr/command_line_usage.rst
  libs/libvtrutil/src/vpr_error.h
  utils/fasm/src/main.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/analytical_placement_flow.h
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/CheckSetup.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/SetupVPR.h
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_types.h
Labels: VPR, docs, lang-cpp, libvtrutil

#2749 [AP] Added Ability to Read The Atom Netlist
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_netlist.cpp
  vpr/src/analytical_place/ap_netlist.h
  vpr/src/analytical_place/gen_ap_netlist_from_atoms.cpp
  vpr/src/analytical_place/gen_ap_netlist_from_atoms.h
Labels: VPR, lang-cpp

#2742 [AP] Added Partial Placement Object
  vpr/src/analytical_place/partial_placement.cpp
  vpr/src/analytical_place/partial_placement.h
  vpr/test/test_ap_partial_placement.cpp
Labels: VPR, lang-cpp

#2745 Add some overview to the RRGraphView doxygen documentation
  doc/src/api/vpr/rr_graph.rst
  libs/librrgraph/src/base/rr_graph_builder.h
  libs/librrgraph/src/base/rr_graph_view.h
Labels: docs, lang-cpp

#2744 [TestScript] Enhanced the Robustness of the VTR Flow Log Parser Script
  vtr_flow/scripts/python_libs/vtr/log_parse.py
  vtr_flow/scripts/python_libs/vtr/parse_vtr_flow.py
Labels: lang-python

#2721 Update Wire Cost Map
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/router_lookahead_map.h
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/test/test_map_lookahead_serdes.cpp
Labels: VPR, lang-cpp
