Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-03, with the labels that each got.

#2498 Fix division by zero on arches with many different channel widths
  vpr/src/route/rr_graph.cpp
Labels: VPR, lang-cpp

#2506 Fix CI failures in master
  .github/workflows/test.yml
Labels: infra

#2508 Link stdc++fs for older gcc versions
  CMakeLists.txt
  libs/EXTERNAL/libargparse/README.md
  libs/libarchfpga/CMakeLists.txt
  libs/librrgraph/CMakeLists.txt
  libs/libvtrutil/CMakeLists.txt
  libs/libvtrutil/src/vtr_util.cpp
  libs/libvtrutil/src/vtr_util.h
  utils/fasm/CMakeLists.txt
  utils/vqm2blif/CMakeLists.txt
  vpr/CMakeLists.txt
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/ShowSetup.h
Labels: VPR, libarchfpga, lang-cpp, build, lang-make, libvtrutil, external_libs

#2502 [Route][Types] Clean Up rr_node_route_inf
  libs/librrgraph/src/base/rr_graph_storage.h
  libs/librrgraph/src/base/rr_graph_view.h
  vpr/src/base/vpr_types.h
  vpr/src/route/connection_router.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_net.cpp
  vpr/src/route/route_net.tpp
  vpr/src/route/route_path_manager.cpp
  vpr/src/route/route_tree.cpp
Labels: VPR, lang-cpp

#2511 [CAPNPROTO][CMake] Fixed Build When CAPNPROTO is Disabled
  libs/libarchfpga/CMakeLists.txt
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libarchfpga/src/read_fpga_interchange_arch.h
  vpr/CMakeLists.txt
  vpr/src/base/read_interchange_netlist.cpp
  vpr/src/route/router_lookahead_map.cpp
Labels: VPR, libarchfpga, lang-cpp, lang-make

#2512 [Route][Heap] Removed prev_node From t_heap
  vpr/src/route/connection_router.cpp
  vpr/src/route/heap_type.cpp
  vpr/src/route/heap_type.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
Labels: VPR, lang-cpp

#2513 [CI][Capnproto] Added Basic Regression Test with CAPNPROTO Disabled
  .github/workflows/test.yml
Labels: infra

#2515 Fixed a Couple Simple Warnings
  libs/libvtrutil/cmake/modules/configure_version.cmake
  vpr/src/route/router_lookahead_extended_map.cpp
Labels: VPR, lang-cpp, libvtrutil

#2519 [NO_GRAPHICS][Warnings] Resolved Unused Variables
  vpr/src/draw/draw.cpp
  vpr/src/place/place.cpp
  vpr/src/route/route_utilization.cpp
Labels: VPR, lang-cpp

#2520 [Yosys][Warnings] Fixed Fatal Not Git Repo Warning
  yosys/Makefile
Labels: lang-make, Parmys

#2521 Removed Warnings in libvtrutil and vqm2blif
  libs/libvtrutil/test/test_array_view.cpp
  utils/vqm2blif/src/base/cleanup.cpp
Labels: lang-cpp, libvtrutil
