Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-04, with the labels that each got.

#2522 [RR_GRAPH] Fixed Bug in LLVM17 Build
  libs/librrgraph/src/base/rr_graph_storage.cpp
Labels: lang-cpp

#2528 Update benchmarks.rst to fix a typo where we said VTR instead of Koios
  doc/src/vtr/benchmarks.rst
Labels: docs

#2530 [Yosys][Warnings] Fixed Make Being Called With Multiple Threads
  CMakeLists.txt
  yosys/CMakeLists.txt
Labels: build, lang-make, Parmys

#2531 [CI][XML] Added XMLLINT to CI Dependencies
  .github/scripts/install_dependencies.sh
Labels: infra, lang-shell

#2535 Fix fasm warnings
  blifexplorer/CMakeLists.txt
  libs/libvtrutil/src/vtr_util.cpp
  libs/libvtrutil/src/vtr_util.h
  utils/fasm/src/fasm.cpp
  utils/fasm/src/fasm.h
  utils/fasm/src/fasm_utils.cpp
  utils/fasm/src/fasm_utils.h
  vpr/src/base/read_blif.cpp
  vpr/src/base/vpr_api.cpp
Labels: VPR, lang-cpp, lang-make, libvtrutil, blifexplorer

#2537 [vqm2blif][Warnings] Removed std::regex and strncpy Warnings
  utils/vqm2blif/src/base/hard_block_recog.cpp
  utils/vqm2blif/src/base/preprocess.cpp
  utils/vqm2blif/src/base/vqm2blif_util.cpp
Labels: lang-cpp

#2538 Astar Profiler Document
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/read_options.cpp
Labels: VPR, docs, lang-cpp

#2441 Typo
  doc/src/vpr/basic_flow.rst
Labels: docs

#2540 Fix a minor issue in document
  doc/src/vpr/command_line_usage.rst
Labels: docs
