Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2024-11, with the labels that each got.

#2792 [CI] Turned Off Nightly Tests on PR and Merge
  .github/workflows/nightly_test.yml
Labels: infra

#2766 Update NoC options in command_line_usage.rst
  doc/src/vpr/command_line_usage.rst
Labels: docs

#2797 Remove calls to floor() in median move generators
  vpr/src/place/median_move_generator.cpp
  vpr/src/place/weighted_median_move_generator.cpp
Labels: VPR, lang-cpp

#2793 Random number generation classes
  libs/libvtrutil/src/specrand.cpp
  libs/libvtrutil/src/specrand.h
  libs/libvtrutil/src/vtr_random.cpp
  libs/libvtrutil/src/vtr_random.h
  libs/libvtrutil/test/test_random.cpp
  vpr/src/base/CheckArch.cpp
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/CheckSetup.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/RL_agent_util.h
  vpr/src/place/centroid_move_generator.cpp
  vpr/src/place/centroid_move_generator.h
  vpr/src/place/critical_uniform_move_generator.cpp
  vpr/src/place/critical_uniform_move_generator.h
  vpr/src/place/feasible_region_move_generator.cpp
  vpr/src/place/feasible_region_move_generator.h
  vpr/src/place/initial_noc_placement.cpp
  vpr/src/place/initial_noc_placment.h
  vpr/src/place/initial_placement.cpp
  vpr/src/place/initial_placement.h
  vpr/src/place/manual_move_generator.cpp
  vpr/src/place/manual_move_generator.h
  vpr/src/place/median_move_generator.cpp
  vpr/src/place/median_move_generator.h
  vpr/src/place/move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/noc_place_utils.cpp
  vpr/src/place/noc_place_utils.h
  vpr/src/place/place.cpp
  vpr/src/place/simpleRL_move_generator.cpp
  vpr/src/place/simpleRL_move_generator.h
  vpr/src/place/static_move_generator.cpp
  vpr/src/place/static_move_generator.h
  vpr/src/place/uniform_move_generator.cpp
  vpr/src/place/uniform_move_generator.h
  vpr/src/place/weighted_centroid_move_generator.cpp
  vpr/src/place/weighted_centroid_move_generator.h
  vpr/src/place/weighted_median_move_generator.cpp
  vpr/src/place/weighted_median_move_generator.h
  vpr/src/route/build_switchblocks.cpp
  vpr/src/route/build_switchblocks.h
  vpr/src/route/cb_metrics.cpp
  vpr/src/route/rr_graph.cpp
Labels: VPR, lang-cpp, libvtrutil

#2796 [Prepacker] Removed Valid Flag From Molecules
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/prepack.cpp
  vpr/src/pack/prepack.h
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp

#2794 3D SB
  libs/librrgraph/src/base/rr_graph_view.h
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/router_lookahead_map.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_cb_titan_other_auto_bb/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_cb_titan_other_auto_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_cb_titan_other_cube_bb/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_cb_titan_other_cube_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_sb_titan_other_auto_bb/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_sb_titan_other_auto_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_sb_titan_other_per_layer_bb/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_sb_titan_other_per_layer_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/task_list.txt
Labels: VPR, lang-cpp

#2781 Chan z prefix sum
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_manual_annealing/config/golden_results.txt
Labels: VPR, lang-cpp

#2769 [Place] Independent Placement Verification
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_constraints.cpp
  vpr/src/place/place_constraints.h
  vpr/src/place/verify_placement.cpp
  vpr/src/place/verify_placement.h
Labels: VPR, lang-cpp

#2771 [Clustering] Independent Clustering Verification
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/verify_clustering.cpp
  vpr/src/pack/verify_clustering.h
Labels: VPR, lang-cpp

#2804 Fix segmentation fault when moving blocks manually
  vpr/src/place/manual_move_generator.cpp
Labels: VPR, lang-cpp

#2805 Fix manual move
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#2799 Chan x/y placement cost factors using prefix sum
  libs/libvtrutil/src/vtr_ndoffsetmatrix.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/vpr_types.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vtr_flow/tasks/regression_tests/vtr_reg_basic/basic_no_timing/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_basic_odin/basic_no_timing/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_clock_buf/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_clock_modeling/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_eblif_vpr/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_sdc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_target_pin_util/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_clock_buf/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_eblif_vpr/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_global_nonuniform/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_sdc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_target_pin_util/config/golden_results.txt
Labels: VPR, lang-cpp, libvtrutil

#2802 [Placement] Resolved Inconsistency with Placing at Root Tile Locs
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/sync_netlists_to_routing_flat.cpp
  vpr/src/place/verify_placement.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp

#2765 [AP] Partial Legalizer
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/analytical_place/primitive_vector.h
  vpr/test/test_ap_primitive_vector.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/ch_intrinsics/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/diffeq1/config/golden_results.txt
Labels: VPR, lang-cpp

#2807 Fix name conflicts in sync_netlists_to_routing_flat
  vpr/src/pack/sync_netlists_to_routing_flat.cpp
Labels: VPR, lang-cpp

#2806 [AP] Global Placer
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
Labels: VPR, lang-cpp

#2812 [CMake] Upgrade Minimum Version to 3.10
  libs/EXTERNAL/libezgl/CMakeLists.txt
  libs/EXTERNAL/libezgl/examples/basic-application/CMakeLists.txt
  utils/route_diag/CMakeLists.txt
Labels: lang-make, external_libs

#2808 [AP] Testing Infrastructure
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vtr_flow/arch/timing/k6_frac_N10_40nm.xml
  vtr_flow/arch/timing/k6_frac_N10_frac_chain_mem32K_40nm.xml
  vtr_flow/parse/pass_requirements/pass_requirements_ap_fixed_chan_width.txt
  vtr_flow/parse/qor_config/qor_ap_fixed_chan_width.txt
  vtr_flow/scripts/python_libs/vtr/task.py
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/constraints/apex4_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/constraints/des_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/constraints/ex1010_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/constraints/seq_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/constraints/boundtop_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/constraints/ch_intrinsics_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/constraints/or1200_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/constraints/spree_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/constraints/stereovision3_io_constraint.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, lang-cpp, lang-python

#2776 [QuickStart] Yosys/Parmys Update
  doc/src/quickstart/blink_implementation.png
  doc/src/quickstart/index.rst
  doc/src/quickstart/tseng_blk1.png
  doc/src/quickstart/tseng_nets.png
Labels: docs

#2816 [Packer] Created GreedyClusterer Class
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/cluster.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_clusterer.h
  vpr/src/pack/pack.cpp
Labels: VPR, lang-cpp

#2822 [Packer] Created GreedySeedSelector Class
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_seed_selector.cpp
  vpr/src/pack/greedy_seed_selector.h
Labels: VPR, lang-cpp

#2817 move_generators directory
  vpr/src/place/move_generators/centroid_move_generator.cpp
  vpr/src/place/move_generators/centroid_move_generator.h
  vpr/src/place/move_generators/critical_uniform_move_generator.cpp
  vpr/src/place/move_generators/critical_uniform_move_generator.h
  vpr/src/place/move_generators/feasible_region_move_generator.cpp
  vpr/src/place/move_generators/feasible_region_move_generator.h
  vpr/src/place/move_generators/manual_move_generator.cpp
  vpr/src/place/move_generators/manual_move_generator.h
  vpr/src/place/move_generators/median_move_generator.cpp
  vpr/src/place/move_generators/median_move_generator.h
  vpr/src/place/move_generators/move_generator.cpp
  vpr/src/place/move_generators/move_generator.h
  vpr/src/place/move_generators/simpleRL_move_generator.cpp
  vpr/src/place/move_generators/simpleRL_move_generator.h
  vpr/src/place/move_generators/static_move_generator.cpp
  vpr/src/place/move_generators/static_move_generator.h
  vpr/src/place/move_generators/uniform_move_generator.cpp
  vpr/src/place/move_generators/uniform_move_generator.h
  vpr/src/place/move_generators/weighted_centroid_move_generator.cpp
  vpr/src/place/move_generators/weighted_centroid_move_generator.h
  vpr/src/place/move_generators/weighted_median_move_generator.cpp
  vpr/src/place/move_generators/weighted_median_move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
Labels: VPR, lang-cpp

#2819 Router Lookahead Sampling
  vpr/src/route/router_lookahead_map_utils.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock_odin/func_multiclock/blanket/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock_odin/func_multiclock/once/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_delay_calc_method/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_place_delay_model/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_target_pin_util/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_place_delay_calc_method/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_place_delay_model/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_target_pin_util/config/golden_results.txt
Labels: VPR, lang-cpp

#2824 [NDMatrix] Removed Template ID From Constructors
  libs/libvtrutil/src/vtr_ndmatrix.h
Labels: lang-cpp, libvtrutil

#2823 [Packer] Clean Up Clustering Algorithm
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/attraction_groups.cpp
  vpr/src/pack/attraction_groups.h
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_clusterer.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack_types.h
Labels: VPR, lang-cpp

#2516 Net decomposition: tuning and polishing
  vpr/src/route/DecompNetlistRouter.h
  vpr/src/route/DecompNetlistRouter.tpp
  vpr/src/route/ParallelNetlistRouter.h
  vpr/src/route/ParallelNetlistRouter.tpp
  vpr/src/route/SerialNetlistRouter.h
  vpr/src/route/SerialNetlistRouter.tpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/netlist_routers.h
  vpr/src/route/partition_tree.cpp
  vpr/src/route/partition_tree.h
  vpr/src/route/route.cpp
  vpr/src/route/route_utils.cpp
  vpr/src/route/route_utils.h
  vpr/src/route/sink_sampling.h
  vpr/src/route/spatial_route_tree_lookup.cpp
Labels: VPR, lang-cpp

#2827 [NDMatrix] Resolved Dangling Reference Warning
  libs/libvtrutil/src/vtr_ndmatrix.h
Labels: lang-cpp, libvtrutil

#2828 Net decomposing router: hotfix
  vpr/src/route/DecompNetlistRouter.tpp
Labels: VPR

#2813 Placer class
  libs/EXTERNAL/libtatum/libtatum/tatum/SetupAnalysis.hpp
  libs/EXTERNAL/libtatum/libtatum/tatum/TimingConstraints.cpp
  libs/EXTERNAL/libtatum/libtatum/tatum/TimingConstraints.hpp
  libs/EXTERNAL/libtatum/libtatum/tatum/graph_visitors/CommonAnalysisOps.hpp
  libs/EXTERNAL/libtatum/libtatum/tatum/graph_visitors/CommonAnalysisVisitor.hpp
  libs/EXTERNAL/libtatum/libtatum/tatum/graph_visitors/SetupAnalysisOps.hpp
  libs/EXTERNAL/libtatum/libtatum/tatum/graph_walkers/ParallelLevelizedWalker.hpp
  libs/librrgraph/src/base/rr_spatial_lookup.cpp
  libs/libvtrutil/src/vtr_time.h
  vpr/src/base/clustered_netlist_utils.h
  vpr/src/base/read_options.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/place/annealer.cpp
  vpr/src/place/compressed_grid.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place.h
  vpr/src/place/place_checkpoint.cpp
  vpr/src/place/place_checkpoint.h
  vpr/src/place/place_timing_update.cpp
  vpr/src/place/placement_log_printer.cpp
  vpr/src/place/placement_log_printer.h
  vpr/src/place/placer.cpp
  vpr/src/place/placer.h
  vpr/src/place/timing_place.cpp
  vpr/src/place/timing_place.h
  vpr/src/route/route.cpp
  vpr/src/route/route_net.h
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/timing/NetPinTimingInvalidator.h
  vpr/src/timing/concrete_timing_info.h
  vpr/src/timing/timing_info.h
  vpr/src/timing/timing_util.cpp
  vpr/src/timing/timing_util.h
  vpr/src/util/vpr_utils.h
Labels: VPR, libarchfpga, lang-cpp, libvtrutil, external_libs

#2830 [Warnings] Resolved Basic Warnings for GCC13
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx.h
  vpr/src/base/gen/vpr_constraints_uxsdcxx.h
  vpr/src/draw/draw_rr.cpp
  vpr/src/draw/search_bar.cpp
Labels: VPR, lang-cpp

#2832 [Warnings] Fixed Minor Warnings
  libs/libvtrutil/src/specrand.cpp
  vpr/src/base/netlist_writer.cpp
Labels: VPR, lang-cpp, libvtrutil
