Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-04, with the labels that each got.

#2949 [AP][GlobalPlacment] Added Bound2Bound Solver
  doc/src/vpr/command_line_usage.rst
  doc/src/z_references.bib
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/ap_flow_enums.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/pack/appack_context.h
  vtr_flow/parse/qor_config/qor_ap_fixed_chan_width.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/annealer_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/appack_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_global_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_partial_legalizer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_global_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_partial_legalizer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/lp_b2b_analytical_solver/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/lp_b2b_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/none_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/qp_hybrid_analytical_solver/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/qp_hybrid_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/unrelated_clustering/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, docs, lang-cpp

#2961 [AP] Tuned the AP Flow
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/base/read_options.cpp
  vpr/src/pack/appack_context.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/greedy_candidate_selector.h
  vpr/src/place/initial_placement.cpp
  vtr_flow/parse/qor_config/qor_ap_fixed_chan_width.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/annealer_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/appack_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/lp_b2b_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/none_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/qp_hybrid_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/unrelated_clustering/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
Labels: VPR, docs, lang-cpp

#2962 [Prepacker] Moved the Prepacker Out of Try Pack
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/pack/prepack.cpp
Labels: VPR, lang-cpp

#2955 [Place] rename get_initial_move_lim to get_place_inner_loop_num_move
  vpr/src/place/annealer.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
Labels: VPR, lang-cpp

#2965 [Pack][Timing] Abstracted How Timing is Used in the Packer
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/greedy_candidate_selector.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_clusterer.h
  vpr/src/pack/greedy_seed_selector.cpp
  vpr/src/pack/greedy_seed_selector.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/timing/PreClusterTimingManager.cpp
  vpr/src/timing/PreClusterTimingManager.h
Labels: VPR, lang-cpp

#2969 [AP][Timing] Added Basic Net Weighting
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/timing/PreClusterTimingManager.cpp
  vpr/src/timing/PreClusterTimingManager.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/annealer_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/appack_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/lp_b2b_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/none_detailed_placer/config/golden_results.txt
Labels: VPR, docs, lang-cpp

#2968 add docs for `vtr::thread_pool`
  doc/src/api/vtrutil/index.rst
  doc/src/api/vtrutil/parallel.rst
  libs/libvtrutil/src/vtr_thread_pool.h
Labels: docs, lang-cpp, libvtrutil

#2977 Clean RR graph generation code
  libs/libarchfpga/src/device_grid.h
  libs/libarchfpga/src/physical_types.h
  libs/librrgraph/src/base/check_rr_graph.cpp
  libs/librrgraph/src/base/check_rr_graph.h
  libs/librrgraph/src/base/get_parallel_segs.cpp
  libs/librrgraph/src/base/get_parallel_segs.h
  libs/librrgraph/src/base/rr_graph_type.h
  libs/librrgraph/src/base/rr_node_types.h
  libs/librrgraph/src/io/rr_graph_reader.cpp
  libs/librrgraph/src/io/rr_graph_reader.h
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  libs/librrgraph/src/io/rr_graph_writer.cpp
  vpr/src/base/place_and_route.cpp
  vpr/src/base/place_and_route.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/build_switchblocks.cpp
  vpr/src/route/build_switchblocks.h
  vpr/src/route/route.cpp
  vpr/src/route/route_utils.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
  vpr/src/route/rr_types.h
  vpr/test/test_connection_router.cpp
Labels: VPR, libarchfpga, lang-cpp

#2985 Write routing channel occupancies to files.
  vpr/src/base/stats.cpp
  vpr/src/base/stats.h
Labels: VPR, lang-cpp

#2980 Fix 3D Tests
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_3d/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_3d/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, lang-cpp

#2981 Add Github action to close stale issues
  .github/workflows/stale.yml
  CONTRIBUTING.md
Labels: docs, infra

#2987 Change some internal packer APIs to not use C-style arrays
  libs/libarchfpga/src/cad_types.h
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_placement.cpp
  vpr/src/pack/cluster_placement.h
  vpr/src/pack/prepack.cpp
Labels: VPR, libarchfpga, lang-cpp

#2986 [STA] Updated SDF File Generation to Include Min Delays
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
Labels: VPR, lang-cpp

#2988 [AP][InitialPlacement] Created Isolated AP Flow
  vpr/src/place/initial_placement.cpp
Labels: VPR, lang-cpp

#2930 Override edge attributes in RR graph
  Makefile
  doc/src/vpr/command_line_usage.rst
  doc/src/vpr/file_formats.rst
  libs/libarchfpga/src/physical_types.cpp
  libs/libarchfpga/src/physical_types.h
  libs/librrgraph/src/base/rr_graph_builder.h
  libs/librrgraph/src/base/rr_graph_storage.cpp
  libs/librrgraph/src/base/rr_graph_storage.h
  libs/librrgraph/src/base/rr_graph_view.h
  libs/librrgraph/src/io/rr_graph_reader.cpp
  libs/librrgraph/src/io/rr_graph_reader.h
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  libs/librrgraph/src/io/rr_graph_writer.cpp
  utils/route_diag/CMakeLists.txt
  utils/route_diag/src/main.cpp
  utils/vqm2blif/test/scripts/test_vqm2blif.sh
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/route/rr_graph.cpp
  vpr/test/test_connection_router.cpp
  vpr/test/test_read_rr_edge_override.txt
  vpr/test/test_vpr.cpp
Labels: VPR, libarchfpga, docs, lang-cpp, build, lang-make, lang-shell

#2989 Remove PlacerMoveContext
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/RL_agent_util.h
  vpr/src/place/annealer.cpp
  vpr/src/place/move_generators/centroid_move_generator.cpp
  vpr/src/place/move_generators/centroid_move_generator.h
  vpr/src/place/move_generators/critical_uniform_move_generator.cpp
  vpr/src/place/move_generators/critical_uniform_move_generator.h
  vpr/src/place/move_generators/feasible_region_move_generator.cpp
  vpr/src/place/move_generators/feasible_region_move_generator.h
  vpr/src/place/move_generators/manual_move_generator.cpp
  vpr/src/place/move_generators/manual_move_generator.h
  vpr/src/place/move_generators/median_move_generator.cpp
  vpr/src/place/move_generators/median_move_generator.h
  vpr/src/place/move_generators/move_generator.cpp
  vpr/src/place/move_generators/move_generator.h
  vpr/src/place/move_generators/simpleRL_move_generator.h
  vpr/src/place/move_generators/static_move_generator.cpp
  vpr/src/place/move_generators/static_move_generator.h
  vpr/src/place/move_generators/uniform_move_generator.cpp
  vpr/src/place/move_generators/uniform_move_generator.h
  vpr/src/place/move_generators/weighted_centroid_move_generator.cpp
  vpr/src/place/move_generators/weighted_centroid_move_generator.h
  vpr/src/place/move_generators/weighted_median_move_generator.cpp
  vpr/src/place/move_generators/weighted_median_move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vpr/src/place/placer.cpp
  vpr/src/place/placer_state.cpp
  vpr/src/place/placer_state.h
Labels: VPR, lang-cpp

#2984 Remove atom_net global context mutation from packer
  vpr/src/pack/pack.cpp
Labels: VPR, lang-cpp

#2990 [AP] General Fixed/Unfixed Blocks Cleanup
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/ap_netlist.h
  vpr/src/analytical_place/gen_ap_netlist_from_atoms.cpp
  vtr_flow/parse/qor_config/qor_ap_fixed_chan_width.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/annealer_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/appack_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_partial_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/lp_b2b_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/none_detailed_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/qp_hybrid_analytical_solver/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/unrelated_clustering/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
Labels: VPR, lang-cpp

#2999 [packages] add clang-format
  Dockerfile
  doc/src/quickstart/index.rst
  install_apt_packages.sh
Labels: docs, infra, scripts, lang-shell

#3005 [AP][HotFix] Fixed Bug With Solver Putting Blocks Off-Device
  vpr/src/analytical_place/analytical_solver.cpp
Labels: VPR, lang-cpp

#2529 [Bison] Raised Minimum Bison Version to 3.3
  libs/EXTERNAL/libblifparse/CMakeLists.txt
  libs/EXTERNAL/libblifparse/src/blif_parser.y
  libs/EXTERNAL/libsdcparse/CMakeLists.txt
  libs/EXTERNAL/libsdcparse/src/sdc_parser.y
Labels: lang-make, external_libs

#3006 Increase the daily stale issue action API call limit
  .github/workflows/stale.yml
Labels: infra

#2867 More fixes to sync_netlists_to_routing_flat
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_router.cpp
  vpr/src/pack/cluster_router.h
  vpr/src/pack/post_routing_pb_pin_fixup.cpp
  vpr/src/pack/sync_netlists_to_routing_flat.cpp
  vpr/src/route/annotate_routing.cpp
  vpr/src/route/annotate_routing.h
Labels: VPR, lang-cpp

#2997 [AP][MassLegalizer] Revistited Mass Legalizer
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/analytical_place/primitive_vector.h
  vpr/test/test_ap_primitive_vector.cpp
Labels: VPR, lang-cpp

#3000 [STA] Added Option to Remove Parameters from Post-Implementation Netlist
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/test/test_post_verilog_i_gnd_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_nets_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_unconnected_o_nets.golden.v
  vpr/test/test_post_verilog_i_unconnected_o_unconnected.golden.v
  vpr/test/test_post_verilog_i_vcc_o_unconnected.golden.v
Labels: VPR, docs, lang-cpp, lang-hdl

#3009 [AP][HotFix] Placed Fixed Blocks First During IP
  vpr/src/place/initial_placement.cpp
Labels: VPR, lang-cpp

#3008 [Hotfix][CI] Remove PR staling
  .github/workflows/stale.yml
Labels: infra

#2998 Invert use of macro_can_be_placed argument in check_all_legality
  vpr/src/place/analytic_placer.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
Labels: bug, VPR, lang-cpp
