Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-01, with the labels that each got.

#2848 [CI] Upgraded Runners to Ubuntu 24.04
  .github/scripts/install_dependencies.sh
  .github/scripts/install_jammy_dependencies.sh
  .github/workflows/noble.yml
  .github/workflows/test.yml
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/place/analytic_placer.cpp
Labels: VPR, lang-cpp, infra, lang-shell

#2855 convert switch id check with architecture to warning instead of error
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
Labels: lang-cpp

#2856 [Packer] Greedy Clustering Candidate Selector Class
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/greedy_candidate_selector.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_clusterer.h
  vpr/src/pack/greedy_seed_selector.cpp
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack_types.h
  vpr/src/pack/prepack.cpp
  vpr/src/pack/prepack.h
  vpr/src/util/vpr_utils.cpp
Labels: VPR, lang-cpp

#2857 [FlatPlacement] Updated Flat Placement Writing Code
  doc/src/vpr/command_line_usage.rst
  libs/libvtrutil/src/vtr_vector_map.h
  vpr/src/base/load_flat_place.cpp
  vpr/src/base/load_flat_place.h
  vpr/src/base/vpr_api.cpp
Labels: VPR, docs, lang-cpp, libvtrutil

#2865 Fixed segfault in draw_routing_costs
  vpr/src/draw/draw_basic.cpp
Labels: VPR, lang-cpp

#2713 fixed issue with warning being thrown for short switch types
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
Labels: lang-cpp

#2861 [APPack] Added read_flat_place Option and Verifier
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/FlatPlacementInfo.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/load_flat_place.cpp
  vpr/src/base/load_flat_place.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
  vpr/src/pack/verify_flat_placement.cpp
  vpr/src/pack/verify_flat_placement.h
Labels: VPR, docs, lang-cpp

#2863 Remove place_cost_exp from documentation
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_types.h
  vpr/src/place/net_cost_handler.h
Labels: VPR, docs, lang-cpp

#2862 Increase C++ version from 17 to 20
  .github/workflows/test.yml
  CMakeLists.txt
  libs/EXTERNAL/libezgl/include/ezgl/point.hpp
  libs/EXTERNAL/libezgl/include/ezgl/rectangle.hpp
  libs/EXTERNAL/libtatum/libtatum/tatum/util/tatum_strong_id.hpp
  libs/libarchfpga/CMakeLists.txt
  libs/libarchfpga/src/cad_types.h
  libs/libarchfpga/src/parse_switchblocks.cpp
  libs/libarchfpga/src/physical_types.h
  libs/librrgraph/src/base/rr_graph_utils.h
  libs/libvtrutil/src/vtr_flat_map.h
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_geometry.tpp
  libs/libvtrutil/src/vtr_ndoffsetmatrix.h
  libs/libvtrutil/src/vtr_strong_id.h
  libs/libvtrutil/src/vtr_strong_id_range.h
  vpr/src/base/setup_noc.h
  vpr/src/noc/noc_traffic_flows.h
  vpr/src/pack/pack_types.h
  vpr/src/place/grid_tile_lookup.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/timing/PreClusterDelayCalculator.h
Labels: VPR, libarchfpga, lang-cpp, infra, build, lang-make, libvtrutil, external_libs

#2860 Added dependency installer script for Fedora
  doc/src/quickstart/index.rst
  install_dnf_packages.sh
Labels: docs, scripts, lang-shell

#2854 Get VTR working on macOS again
  libs/libarchfpga/src/read_xml_arch_file_noc_tag.cpp
  parmys/CMakeLists.txt
  vpr/src/base/vpr_types.cpp
  vpr/src/noc/noc_storage.cpp
  vpr/test/test_compressed_grid.cpp
Labels: VPR, libarchfpga, lang-cpp, lang-make, Parmys

#2789 Update flow.py in delete_intermediate_files to fix the if statement a…
  vtr_flow/scripts/python_libs/vtr/flow.py
Labels: lang-python

#2871 Changed the random number generator in packer to deterministic vtr::irand
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/greedy_candidate_selector.h
Labels: VPR, lang-cpp

#2872 Remove a few remaning global variables from the placement stage
  libs/libvtrutil/src/vtr_log.h
  vpr/src/base/blk_loc_registry.h
  vpr/src/base/vpr_context.h
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/move_generators/move_generator.cpp
  vpr/src/place/move_generators/move_generator.h
  vpr/src/place/move_generators/simpleRL_move_generator.cpp
  vpr/src/place/move_generators/simpleRL_move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vpr/src/place/placement_log_printer.cpp
  vpr/src/place/placement_log_printer.h
  vpr/src/place/placer.cpp
Labels: VPR, lang-cpp, libvtrutil

#2839 Faster check_non_configurable_edges
  vpr/src/base/vpr_types.h
  vpr/src/route/check_route.cpp
  vpr/src/route/edge_groups.cpp
  vpr/test/test_edge_groups.cpp
Labels: VPR, lang-cpp

#2841 Synlig, new system-verilog tool integration
  .github/workflows/nightly_test.yml
  .gitpod.Dockerfile
  CMakeLists.txt
  Dockerfile
  doc/src/parmys/quickstart.rst
  doc/src/vtr/run_vtr_flow.rst
  install_apt_packages.sh
  libs/EXTERNAL/CMakeLists.txt
  vtr_flow/benchmarks/system_verilog/f4pga/README.md
  vtr_flow/benchmarks/system_verilog/f4pga/button_controller/flattened_button_controller.sv
  vtr_flow/benchmarks/system_verilog/f4pga/make_sv_flattened.py
  vtr_flow/benchmarks/system_verilog/f4pga/pulse_width_led/flattened_pulse_width_led.sv
  vtr_flow/benchmarks/system_verilog/f4pga/timer/flattened_timer.sv
  vtr_flow/misc/yosys/synthesis.tcl
  vtr_flow/scripts/python_libs/vtr/parmys/parmys.py
  vtr_flow/scripts/python_libs/vtr/paths.py
  vtr_flow/tasks/regression_tests/vtr_reg_system_verilog/f4pga_button_controller/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_system_verilog/f4pga_pulse_width_led/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_system_verilog/f4pga_timer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_system_verilog/task_list.txt
Labels: docs, infra, build, scripts, lang-python, lang-make, lang-hdl, lang-shell, external_libs

#2873 Add initial nightly test workflow
  .github/workflows/nightly_test_manual.yml
Labels: infra
