Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-05, with the labels that each got.

#3013 Add functions to p_tb_type for checking if it's root or primitive
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/analytical_place/flat_placement_mass_calculator.cpp
  vpr/src/base/netlist_walker.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/draw/intra_logic_block.cpp
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/lb_type_rr_graph.cpp
  vpr/src/pack/output_clustering.cpp
  vpr/src/pack/pb_type_graph.cpp
  vpr/src/pack/pb_type_graph_annotations.cpp
  vpr/src/pack/prepack.cpp
  vpr/src/power/power_sizing.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/test/test_vpr.cpp
Labels: VPR, libarchfpga, lang-cpp

#2920 [Router] Upstream Fine-Grained Parallel Router (FPT'24)
  doc/src/api/vprinternals/router_connection_router.rst
  doc/src/api/vprinternals/vpr_router.rst
  doc/src/vpr/command_line_usage.rst
  utils/route_diag/src/main.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/route/DecompNetlistRouter.h
  vpr/src/route/DecompNetlistRouter.tpp
  vpr/src/route/NestedNetlistRouter.h
  vpr/src/route/NestedNetlistRouter.tpp
  vpr/src/route/ParallelNetlistRouter.h
  vpr/src/route/ParallelNetlistRouter.tpp
  vpr/src/route/SerialNetlistRouter.h
  vpr/src/route/SerialNetlistRouter.tpp
  vpr/src/route/connection_router.cpp
  vpr/src/route/connection_router.h
  vpr/src/route/connection_router.tpp
  vpr/src/route/connection_router_interface.h
  vpr/src/route/d_ary_heap.h
  vpr/src/route/multi_queue_d_ary_heap.h
  vpr/src/route/multi_queue_d_ary_heap.tpp
  vpr/src/route/netlist_routers.h
  vpr/src/route/parallel_connection_router.cpp
  vpr/src/route/parallel_connection_router.h
  vpr/src/route/partition_tree.cpp
  vpr/src/route/partition_tree.h
  vpr/src/route/route_net.tpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_delay_profiling.h
  vpr/src/route/serial_connection_router.cpp
  vpr/src/route/serial_connection_router.h
  vpr/test/test_connection_router.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/koios_test/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/koios_test/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_flat_router/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_flat_router/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_multiclock/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_multiclock/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_update_type/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_update_type/config/golden_results.txt
Labels: VPR, docs, lang-cpp

#3011 [Tatum][Parse] Fixed Extraneous Warning With get_clocks
  vpr/src/timing/read_sdc.cpp
Labels: VPR, lang-cpp

#3016 [STA] Generating SDC Commands Post-Implementation
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
Labels: VPR, docs, lang-cpp

#3017 [STA] Added Tutorial for Post-Implementation Timing Analysis
  doc/src/tutorials/index.rst
  doc/src/tutorials/timing_analysis/index.rst
  doc/src/tutorials/timing_analysis/timing_analysis_design_cycle.png
  vtr_flow/primitives.lib
Labels: VPR, docs, lang-cpp

#3032 Pass t_det_routing_arch with refernece
  utils/route_diag/src/main.cpp
  vpr/src/analytical_place/detailed_placer.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/SetupVPR.h
  vpr/src/base/place_and_route.cpp
  vpr/src/base/place_and_route.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/place/delay_model/PlacementDelayModelCreator.cpp
  vpr/src/place/delay_model/PlacementDelayModelCreator.h
  vpr/src/place/place.cpp
  vpr/src/place/place.h
  vpr/src/power/power.cpp
  vpr/src/power/power.h
  vpr/src/power/power_callibrate.h
  vpr/src/route/route.cpp
  vpr/src/route/route.h
  vpr/src/route/route_utils.cpp
  vpr/src/route/route_utils.h
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_delay_profiling.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
Labels: VPR, lang-cpp

#3028 Add artifact upload to nightly test workflow
  .github/workflows/nightly_test_manual.yml
Labels: infra

#3033 Update README.md to point to VTR 9 paper
  README.md
Labels: docs

#3035 Add pointer to VTR9 paper in the readme
  README.md
Labels: docs

#3037 [AP][Solver] Enabled Parallel Eigen
  vpr/CMakeLists.txt
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/vpr_types.h
Labels: VPR, lang-cpp, lang-make

#3044 Add references to the main VTR papers in the documentation.
  README.md
  doc/src/zreferences.rst
Labels: docs

#3043 Add references to the main VTR papers in the documentation.
  README.md
  doc/src/zreferences.rst
Labels: docs

#3046 [Infra] Updated Install Packages Script For Backwards Compatibility
  .github/scripts/install_dependencies.sh
  .github/scripts/install_jammy_dependencies.sh
  Dockerfile
  install_apt_packages.sh
Labels: infra, scripts, lang-shell

#3023 [Analysis] Printing Nets timing Information
  doc/src/vpr/command_line_usage.rst
  vpr/src/analysis/timing_reports.cpp
  vpr/src/analysis/timing_reports.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_report_detail/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_timing_report_detail/config/golden_results.txt
Labels: VPR, docs, lang-cpp

#3042 Clean up confusing rr-node lookup convention for x/y location of CHANX nodes
  libs/librrgraph/src/base/rr_graph_builder.cpp
  libs/librrgraph/src/base/rr_graph_view.h
  libs/librrgraph/src/base/rr_spatial_lookup.cpp
  libs/librrgraph/src/base/rr_spatial_lookup.h
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
Labels: VPR, lang-cpp

#3048 Add documentation for include sanitization
  README.developers.md
Labels: docs

#3041 Add documentation to explain which parts of VPR are parellel
  doc/src/vpr/command_line_usage.rst
Labels: docs

#3051 [Infra] Cleaned Up Include Files in VPR Base Directory
  libs/libarchfpga/src/arch_types.h
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/librrgraph/src/base/rr_graph_storage.cpp
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
  vpr/src/base/CheckArch.cpp
  vpr/src/base/CheckArch.h
  vpr/src/base/atom_lookup.h
  vpr/src/base/atom_netlist.cpp
  vpr/src/base/atom_netlist.h
  vpr/src/base/clock_modeling.cpp
  vpr/src/base/clustered_netlist.cpp
  vpr/src/base/clustered_netlist.h
  vpr/src/base/constant_nets.cpp
  vpr/src/base/constraints_load.h
  vpr/src/base/echo_files.h
  vpr/src/base/netlist.h
  vpr/src/base/netlist.tpp
  vpr/src/base/partition.h
  vpr/src/base/partition_region.h
  vpr/src/base/place_and_route.h
  vpr/src/base/read_netlist.h
  vpr/src/base/read_options.h
  vpr/src/base/read_place.h
  vpr/src/base/setup_noc.h
  vpr/src/base/stats.cpp
  vpr/src/base/stats.h
  vpr/src/base/user_route_constraints.cpp
  vpr/src/base/user_route_constraints.h
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_constraints_reader.cpp
  vpr/src/base/vpr_constraints_serializer.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/lb_type_rr_graph.cpp
  vpr/src/pack/noc_aware_cluster_util.cpp
  vpr/src/power/power_sizing.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/connection_router.tpp
  vpr/src/route/overuse_report.cpp
  vpr/src/route/route.cpp
  vpr/src/route/route_utilization.cpp
  vpr/src/route/route_utils.cpp
  vpr/src/route/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/test/test_compressed_grid.cpp
Labels: VPR, libarchfpga, lang-cpp

#3053 [Infra] Cleaned Up Header Files in Pack Folder
  vpr/src/pack/atom_pb_bimap.cpp
  vpr/src/pack/cluster_feasibility_filter.cpp
  vpr/src/pack/cluster_feasibility_filter.h
  vpr/src/pack/cluster_placement.cpp
  vpr/src/pack/cluster_router.cpp
  vpr/src/pack/cluster_router.h
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/pack_report.cpp
  vpr/src/pack/pack_types.h
  vpr/src/pack/pb_type_graph.cpp
  vpr/src/pack/pb_type_graph.h
  vpr/src/pack/pb_type_graph_annotations.cpp
  vpr/src/pack/pb_type_graph_annotations.h
  vpr/src/pack/sync_netlists_to_routing_flat.h
  vpr/src/pack/verify_flat_placement.cpp
Labels: VPR, lang-cpp

#3055 [Infra] Cleaned Up Header Files in Place Folder
  vpr/src/place/compressed_grid.h
  vpr/src/place/grid_tile_lookup.cpp
  vpr/src/place/grid_tile_lookup.h
  vpr/src/place/initial_noc_placement.cpp
  vpr/src/place/move_transactions.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/noc_place_checkpoint.h
  vpr/src/place/place_checkpoint.h
  vpr/src/place/place_constraints.h
  vpr/src/place/place_util.h
  vpr/src/place/placement_log_printer.h
  vpr/src/place/placer_breakpoint.cpp
  vpr/src/place/placer_breakpoint.h
Labels: VPR, lang-cpp

#3054 [AP] Removed Old Cluster-Level AP Flow
  CMakeLists.txt
  vpr/CMakeLists.txt
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/analytic_placer.cpp
  vpr/src/place/analytic_placer.h
  vpr/src/place/cut_spreader.cpp
  vpr/src/place/cut_spreader.h
  vpr/src/place/placer.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_analytic_placer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_analytic_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_analytic_placer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/strong_analytic_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong_odin/task_list.txt
Labels: VPR, lang-cpp, build, lang-make

#3050 RR graph generation directory
  libs/libarchfpga/src/physical_types.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/physical_types_util.cpp
  libs/libarchfpga/src/physical_types_util.h
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/check_netlist.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/stats.cpp
  vpr/src/pack/appack_max_dist_th_manager.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/router_lookahead_map.cpp
  vpr/src/route/rr_graph_generation/build_switchblocks.cpp
  vpr/src/route/rr_graph_generation/build_switchblocks.h
  vpr/src/route/rr_graph_generation/cb_metrics.cpp
  vpr/src/route/rr_graph_generation/cb_metrics.h
  vpr/src/route/rr_graph_generation/clock_connection_builders.cpp
  vpr/src/route/rr_graph_generation/clock_connection_builders.h
  vpr/src/route/rr_graph_generation/clock_fwd.h
  vpr/src/route/rr_graph_generation/clock_network_builders.cpp
  vpr/src/route/rr_graph_generation/clock_network_builders.h
  vpr/src/route/rr_graph_generation/rr_graph.cpp
  vpr/src/route/rr_graph_generation/rr_graph.h
  vpr/src/route/rr_graph_generation/rr_graph2.cpp
  vpr/src/route/rr_graph_generation/rr_graph2.h
  vpr/src/route/rr_graph_generation/rr_graph_area.cpp
  vpr/src/route/rr_graph_generation/rr_graph_area.h
  vpr/src/route/rr_graph_generation/rr_graph_clock.cpp
  vpr/src/route/rr_graph_generation/rr_graph_clock.h
  vpr/src/route/rr_graph_generation/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_generation/rr_graph_indexed_data.h
  vpr/src/route/rr_graph_generation/rr_graph_sbox.cpp
  vpr/src/route/rr_graph_generation/rr_graph_sbox.h
  vpr/src/route/rr_graph_generation/rr_graph_timing_params.cpp
  vpr/src/route/rr_graph_generation/rr_graph_timing_params.h
  vpr/src/route/rr_graph_generation/rr_node_indices.cpp
  vpr/src/route/rr_graph_generation/rr_node_indices.h
  vpr/src/route/rr_graph_generation/rr_types.h
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, libarchfpga, lang-cpp

#3059 add router_lookahead directory
  vpr/src/route/router_lookahead/router_lookahead.cpp
  vpr/src/route/router_lookahead/router_lookahead.h
  vpr/src/route/router_lookahead/router_lookahead_compressed_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_compressed_map.h
  vpr/src/route/router_lookahead/router_lookahead_cost_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_cost_map.h
  vpr/src/route/router_lookahead/router_lookahead_extended_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_extended_map.h
  vpr/src/route/router_lookahead/router_lookahead_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_map.h
  vpr/src/route/router_lookahead/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead/router_lookahead_map_utils.h
  vpr/src/route/router_lookahead/router_lookahead_sampling.cpp
  vpr/src/route/router_lookahead/router_lookahead_sampling.h
Labels: VPR, lang-cpp

#3065 [Infra] Cleaned Up Header Files in Route Folder
  vpr/src/route/NestedNetlistRouter.h
  vpr/src/route/SerialNetlistRouter.tpp
  vpr/src/route/annotate_routing.cpp
  vpr/src/route/annotate_routing.h
  vpr/src/route/check_route.h
  vpr/src/route/connection_based_routing.h
  vpr/src/route/connection_router.h
  vpr/src/route/connection_router.tpp
  vpr/src/route/connection_router_interface.h
  vpr/src/route/edge_groups.cpp
  vpr/src/route/edge_groups.h
  vpr/src/route/heap_type.h
  vpr/src/route/multi_queue_d_ary_heap.h
  vpr/src/route/netlist_routers.h
  vpr/src/route/overuse_report.cpp
  vpr/src/route/overuse_report.h
  vpr/src/route/parallel_connection_router.cpp
  vpr/src/route/parallel_connection_router.h
  vpr/src/route/partition_tree.cpp
  vpr/src/route/partition_tree.h
  vpr/src/route/route_budgets.cpp
  vpr/src/route/route_budgets.h
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_export.h
  vpr/src/route/route_net.cpp
  vpr/src/route/route_net.h
  vpr/src/route/route_net.tpp
  vpr/src/route/route_path_manager.cpp
  vpr/src/route/route_path_manager.h
  vpr/src/route/route_tree.h
  vpr/src/route/route_utilization.cpp
  vpr/src/route/route_utilization.h
  vpr/src/route/route_utils.cpp
  vpr/src/route/route_utils.h
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/router_delay_profiling.h
  vpr/src/route/routing_predictor.cpp
  vpr/src/route/segment_stats.cpp
  vpr/src/route/segment_stats.h
  vpr/src/route/serial_connection_router.cpp
  vpr/src/route/serial_connection_router.h
  vpr/src/route/sink_sampling.h
  vpr/src/route/spatial_route_tree_lookup.h
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp

#3052 [FGParallelRouter] Updated Barrier to C++20 Std Barrier
  vpr/src/route/parallel_connection_router.h
  vtr_flow/parse/qor_config/qor_fg_parallel_router_fixed_chan_width.txt
Labels: VPR, lang-cpp

#3068 [Infra] Cleaned Up Includes in Analysis, Power, and Util Dirs
  vpr/src/analysis/timing_reports.cpp
  vpr/src/analysis/timing_reports.h
  vpr/src/power/PowerSpicedComponent.h
  vpr/src/power/power.h
  vpr/src/power/power_callibrate.cpp
  vpr/src/power/power_callibrate.h
  vpr/src/power/power_cmos_tech.cpp
  vpr/src/power/power_cmos_tech.h
  vpr/src/power/power_components.cpp
  vpr/src/power/power_components.h
  vpr/src/power/power_lowlevel.h
  vpr/src/power/power_sizing.cpp
  vpr/src/power/power_sizing.h
  vpr/src/power/power_util.cpp
  vpr/src/power/power_util.h
  vpr/src/util/hash.cpp
  vpr/src/util/hash.h
  vpr/src/util/vpr_net_pins_matrix.h
Labels: VPR, lang-cpp

#3067 [FASM] Fixed Bug With Wire Creation
  utils/fasm/src/fasm.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/route/route_utils.cpp
Labels: VPR, lang-cpp

#3071 [Infra] Cleaned Up Includes in Draw Dir
  vpr/src/base/vpr_api.cpp
  vpr/src/draw/breakpoint.cpp
  vpr/src/draw/breakpoint.h
  vpr/src/draw/breakpoint_state_globals.h
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_basic.h
  vpr/src/draw/draw_color.h
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_floorplanning.cpp
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/draw_global.h
  vpr/src/draw/draw_mux.cpp
  vpr/src/draw/draw_mux.h
  vpr/src/draw/draw_noc.cpp
  vpr/src/draw/draw_noc.h
  vpr/src/draw/draw_rr.cpp
  vpr/src/draw/draw_rr.h
  vpr/src/draw/draw_rr_edges.cpp
  vpr/src/draw/draw_rr_edges.h
  vpr/src/draw/draw_searchbar.cpp
  vpr/src/draw/draw_searchbar.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/draw_triangle.cpp
  vpr/src/draw/draw_triangle.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/gtkcomboboxhelper.h
  vpr/src/draw/hsl.h
  vpr/src/draw/intra_logic_block.cpp
  vpr/src/draw/intra_logic_block.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/draw/ui_setup.h
  vpr/src/place/annealer.cpp
  vpr/src/place/move_generators/manual_move_generator.cpp
  vpr/src/place/placer.cpp
  vpr/src/route/route_utils.cpp
Labels: VPR, lang-cpp

#3069 [CI] Added Serial Execution Engine Test
  .github/workflows/test.yml
Labels: VPR, lang-cpp, infra

#3061 add show-resource-usage mode
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/main.cpp
Labels: VPR, docs, lang-cpp

#3063 fix Draw crit path contour for crit path routing mode
  vpr/src/draw/draw_basic.cpp
Labels: VPR, lang-cpp

#3024 Change GreedySeedSelector to work with molecules instead of atoms
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_seed_selector.cpp
  vpr/src/pack/greedy_seed_selector.h
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test5/vpr_tight_floorplan/config/golden_results.txt
Labels: VPR, lang-cpp

#3080 Fixing documentation build
  .readthedocs.yaml
Labels: docs, lang-python

#3045 Add ezgl Doxygen api documentation to to the VTR docs
  doc/_doxygen/ezgl.dox
  doc/src/api/ezgl/application.rst
  doc/src/api/ezgl/callback.rst
  doc/src/api/ezgl/camera.rst
  doc/src/api/ezgl/canvas.rst
  doc/src/api/ezgl/color.rst
  doc/src/api/ezgl/control.rst
  doc/src/api/ezgl/graphics.rst
  doc/src/api/ezgl/index.rst
  doc/src/api/ezgl/point.rst
  doc/src/api/ezgl/rectangle.rst
  doc/src/conf.py
  doc/src/index.rst
Labels: docs, lang-python

#3083 Added basic information on building with debug information and verbose output to developer guide
  README.developers.md
Labels: docs

#3084 [HotFix] Fix Failing Python Formatting Check
  doc/src/conf.py
Labels: docs, lang-python

#3022 [LibArchFPGA] Added Library Model IDs as constexpr
  libs/libarchfpga/src/logic_types.cpp
  libs/libarchfpga/src/logic_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  vpr/src/base/atom_netlist.cpp
  vpr/src/base/atom_netlist.h
  vpr/src/base/atom_netlist_utils.cpp
  vpr/src/base/check_netlist.cpp
  vpr/src/base/clustered_netlist.cpp
  vpr/src/base/clustered_netlist.h
  vpr/src/base/read_blif.cpp
  vpr/src/base/read_circuit.cpp
  vpr/src/base/read_interchange_netlist.cpp
  vpr/src/pack/cluster_util.cpp
  vpr/src/pack/cluster_util.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/prepack.cpp
  vpr/src/pack/prepack.h
Labels: VPR, libarchfpga, lang-cpp

#3038 [STA] Enabled Dedicated Routing SDC Generation
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
  vpr/src/base/vpr_api.cpp
Labels: VPR, lang-cpp

#3070 Vpr viewer and flat routing on
  vpr/src/base/vpr_api.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_searchbar.cpp
  vpr/src/draw/draw_types.h
  vpr/src/draw/search_bar.cpp
  vpr/src/route/route_utils.cpp
  vpr/src/route/route_utils.h
Labels: VPR, lang-cpp

#3088 Clean up the usage tracking in grid blocks.
  vpr/src/base/blk_loc_registry.cpp
  vpr/src/base/grid_block.cpp
  vpr/src/base/grid_block.h
  vpr/src/place/noc_place_checkpoint.cpp
Labels: VPR, lang-cpp

#3094 [Router] Fixed the Segfault Bug in Parallel Connection Router
  vpr/src/route/parallel_connection_router.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_multiclock/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_multiclock/config/golden_results.txt
Labels: VPR, lang-cpp

#3095 [AP][Legalizer] Added Ability to Generate a Mass Report
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_mass_report.cpp
  vpr/src/analytical_place/ap_mass_report.h
  vpr/src/analytical_place/flat_placement_density_manager.cpp
  vpr/src/analytical_place/flat_placement_density_manager.h
  vpr/src/analytical_place/flat_placement_mass_calculator.cpp
  vpr/src/analytical_place/flat_placement_mass_calculator.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/gen_mass_report/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/gen_mass_report/config/golden_results.txt
Labels: VPR, docs, lang-cpp

#3040 Eliminate vtr_free and vtr_malloc/vtr_calloc/vtr_realloc
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/echo_arch.cpp
  libs/libarchfpga/src/logic_types.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/vpr_context.h
  vpr/src/pack/pb_type_graph_annotations.cpp
  vpr/src/power/power.cpp
Labels: VPR, libarchfpga, lang-cpp

#3098 [Infra] Fixed False Forward Declarations
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/base/ShowSetup.h
  vpr/src/pack/greedy_clusterer.h
  vpr/src/pack/pack_types.h
  vpr/src/place/timing/place_timing_update.h
Labels: VPR, lang-cpp

#3086 [AP][Timing] Used Flat Placement Info to Compute Setup Criticalities
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/ap_netlist.cpp
  vpr/src/analytical_place/ap_netlist.h
  vpr/src/analytical_place/gen_ap_netlist_from_atoms.cpp
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/analytical_place/partial_placement.cpp
  vpr/src/timing/PreClusterDelayCalculator.h
  vpr/src/timing/PreClusterTimingManager.cpp
  vpr/src/timing/PreClusterTimingManager.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
Labels: VPR, lang-cpp
