Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-09, with the labels that each got.

#3264 Cleanups in RR graph generation
  libs/libarchfpga/src/device_grid.h
  libs/libarchfpga/src/physical_types_util.cpp
  libs/libarchfpga/src/physical_types_util.h
  libs/libvtrutil/src/vtr_math.h
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/blk_loc_registry.cpp
  vpr/src/base/load_flat_place.cpp
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/setup_grid.cpp
  vpr/src/base/stats.cpp
  vpr/src/base/vpr_types.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/draw_types.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/place/delay_model/compute_delta_delays_utils.cpp
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/place_util.cpp
  vpr/src/power/power.cpp
  vpr/src/route/edge_groups.h
  vpr/src/route/overuse_report.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_utils.cpp
  vpr/src/route/router_lookahead/router_lookahead_compressed_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_extended_map.h
  vpr/src/route/router_lookahead/router_lookahead_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead/router_lookahead_map_utils.h
  vpr/src/route/rr_graph_generation/build_switchblocks.cpp
  vpr/src/route/rr_graph_generation/rr_graph.cpp
  vpr/src/route/rr_graph_generation/rr_graph.h
  vpr/src/route/rr_graph_generation/rr_graph2.cpp
  vpr/src/route/rr_graph_generation/rr_node_indices.cpp
  vpr/src/route/rr_graph_generation/rr_node_indices.h
  vpr/src/route/serial_connection_router.cpp
  vpr/src/timing/net_delay.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, libarchfpga, lang-cpp, libvtrutil

#3180 Stratix 10 Quad Port Ram Support
  libs/libvqm/vqm_parser.l
  utils/vqm2blif/src/base/vqm2blif_util.cpp
  utils/vqm2blif/src/base/vqm2blif_util.h
  vtr_flow/arch/titan/stratix10_arch.timing.xml
Labels: lang-cpp

#3280 Remove vtr::string_view
  doc/src/api/vtrutil/containers.rst
  libs/libarchfpga/src/grid_types.h
  libs/libarchfpga/src/interposer_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/libarchfpga/src/read_xml_arch_file_interposer.cpp
  libs/libarchfpga/src/read_xml_util.cpp
  libs/librrgraph/src/base/rr_metadata.cpp
  libs/librrgraph/src/base/rr_metadata.h
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  libs/libvtrutil/src/vtr_expr_eval.cpp
  libs/libvtrutil/src/vtr_expr_eval.h
  libs/libvtrutil/src/vtr_string_interning.h
  libs/libvtrutil/src/vtr_string_view.h
  libs/libvtrutil/test/test_strings.cpp
  utils/fasm/src/fasm.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/base/vpr_types.h
  vpr/src/place/annealer.h
  vpr/src/route/overuse_report.cpp
  vpr/src/route/rr_graph_generation/build_switchblocks.cpp
  vpr/src/route/rr_graph_generation/rr_types.h
  vpr/test/test_undefined_value.cpp
  vpr/test/test_vpr.cpp
Labels: VPR, libarchfpga, docs, lang-cpp, libvtrutil

#3281 Refactor: Move intra-cluster RR graph code into dedicated files
  libs/libarchfpga/src/echo_arch.cpp
  libs/libarchfpga/src/physical_types.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_fpga_interchange_arch.cpp
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/librrgraph/src/base/check_rr_graph.cpp
  libs/librrgraph/src/base/rr_edge.h
  libs/librrgraph/src/base/rr_graph_obj.h
  libs/librrgraph/src/base/rr_graph_storage.h
  libs/librrgraph/src/base/rr_switch.cpp
  libs/librrgraph/src/base/rr_switch.h
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
  libs/librtlnumber/src/include/internal_bits.hpp
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/place_and_route.cpp
  vpr/src/base/setup_vpr.cpp
  vpr/src/draw/draw_rr_edges.cpp
  vpr/src/route/rr_graph_generation/rr_graph.cpp
  vpr/src/route/rr_graph_generation/rr_graph.h
  vpr/src/route/rr_graph_generation/rr_graph_area.cpp
  vpr/src/route/rr_graph_generation/rr_graph_intra_cluster.cpp
  vpr/src/route/rr_graph_generation/rr_graph_intra_cluster.h
  vpr/src/route/rr_graph_generation/rr_graph_switch_utils.cpp
  vpr/src/route/rr_graph_generation/rr_graph_switch_utils.h
  vpr/src/route/rr_graph_generation/rr_graph_tile_nodes.cpp
  vpr/src/route/rr_graph_generation/rr_graph_tile_nodes.h
  vpr/src/route/rr_graph_generation/tileable_rr_graph/tileable_rr_graph_builder.cpp
  vpr/src/util/vpr_utils.cpp
Labels: VPR, libarchfpga, lang-cpp
