Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-02, with the labels that each got.

#2874 Update VTR 9 branch with faster check_non_configurable_edges
  vpr/src/base/vpr_types.h
  vpr/src/route/check_route.cpp
  vpr/src/route/edge_groups.cpp
  vpr/test/test_edge_groups.cpp
Labels: VPR, lang-cpp

#2876 [APPack] Added Max Displacement Metric
  vpr/src/base/load_flat_place.cpp
Labels: VPR, lang-cpp

#2887 Fix DeviceGrid doxygen
  doc/_doxygen/vpr.dox
  libs/libarchfpga/src/device_grid.h
Labels: libarchfpga, docs, lang-cpp

#2881 [Pack] Cleaned Up try_pack API
  vpr/src/base/vpr_api.cpp
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
Labels: VPR, lang-cpp

#2882 Add documentation for NightlyTestManual
  README.developers.md
  doc/src/dev/run_ci_manual/run_workflow.png
  doc/src/dev/run_ci_manual/select_actions.png
  doc/src/dev/run_ci_manual/select_workflow.png
Labels: docs

#2892 [AP] Added APPack to the AP Flow as a Full Legalizer
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_flow_enums.h
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_types.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/appack_full_legalizer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/appack_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/mcnc/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, docs, lang-cpp

#2894 [Pack] Removed Global Overfilled Partition Regions
  vpr/src/base/vpr_context.h
  vpr/src/pack/attraction_groups.cpp
  vpr/src/pack/attraction_groups.h
  vpr/src/pack/constraints_report.cpp
  vpr/src/pack/constraints_report.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/pack.cpp
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_timing_params.cpp
Labels: VPR, lang-cpp

#2895 Improve nightly test manual and regenerate QoR results
  .github/workflows/nightly_test_manual.yml
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test1/power_extended_arch_list/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_cb_titan_other_auto_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_cb_titan_other_cube_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_sb_titan_other_auto_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/3d_sb_titan_other_per_layer_bb/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/titan_other_run_flat/config/golden_results.txt
Labels: infra

#2900 Change NightlyTest workflow to not run automatically
  .github/workflows/nightly_test.yml
Labels: infra

#2896 [Place] Moved PlaceMacros Out of BlkLocRegistry
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/base/blk_loc_registry.cpp
  vpr/src/base/blk_loc_registry.h
  vpr/src/base/place_and_route.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/base/vpr_context.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_types.h
  vpr/src/place/RL_agent_util.cpp
  vpr/src/place/RL_agent_util.h
  vpr/src/place/analytic_placer.cpp
  vpr/src/place/analytic_placer.h
  vpr/src/place/annealer.cpp
  vpr/src/place/annealer.h
  vpr/src/place/cut_spreader.cpp
  vpr/src/place/initial_noc_placement.cpp
  vpr/src/place/initial_noc_placment.h
  vpr/src/place/initial_placement.cpp
  vpr/src/place/initial_placement.h
  vpr/src/place/move_generators/centroid_move_generator.cpp
  vpr/src/place/move_generators/centroid_move_generator.h
  vpr/src/place/move_generators/critical_uniform_move_generator.cpp
  vpr/src/place/move_generators/critical_uniform_move_generator.h
  vpr/src/place/move_generators/feasible_region_move_generator.cpp
  vpr/src/place/move_generators/feasible_region_move_generator.h
  vpr/src/place/move_generators/manual_move_generator.cpp
  vpr/src/place/move_generators/manual_move_generator.h
  vpr/src/place/move_generators/median_move_generator.cpp
  vpr/src/place/move_generators/median_move_generator.h
  vpr/src/place/move_generators/move_generator.h
  vpr/src/place/move_generators/simpleRL_move_generator.cpp
  vpr/src/place/move_generators/simpleRL_move_generator.h
  vpr/src/place/move_generators/static_move_generator.cpp
  vpr/src/place/move_generators/static_move_generator.h
  vpr/src/place/move_generators/uniform_move_generator.cpp
  vpr/src/place/move_generators/uniform_move_generator.h
  vpr/src/place/move_generators/weighted_centroid_move_generator.cpp
  vpr/src/place/move_generators/weighted_centroid_move_generator.h
  vpr/src/place/move_generators/weighted_median_move_generator.cpp
  vpr/src/place/move_generators/weighted_median_move_generator.h
  vpr/src/place/move_utils.cpp
  vpr/src/place/move_utils.h
  vpr/src/place/noc_place_utils.cpp
  vpr/src/place/noc_place_utils.h
  vpr/src/place/place.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/place/place_macro.h
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
  vpr/src/place/placement_log_printer.cpp
  vpr/src/place/placer.cpp
  vpr/src/place/placer.h
  vpr/src/place/verify_placement.cpp
  vpr/src/place/verify_placement.h
Labels: VPR, lang-cpp

#2906 Clarified target_ext_pin_utilization command line option documentation
  doc/src/vpr/command_line_usage.rst
Labels: docs

#2904 remove : capacity attribute in tile
  doc/src/arch/reference.rst
Labels: docs

#2898 [Pack] Cleaned Up Cluster Legalizer Constructor
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/full_legalizer.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/pack.cpp
  vpr/src/pack/pack.h
Labels: VPR, lang-cpp

#2902 [Place] Cleaned Up Placement Context Initialization
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/blk_loc_registry.cpp
  vpr/src/base/blk_loc_registry.h
  vpr/src/base/grid_block.cpp
  vpr/src/base/grid_block.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.cpp
  vpr/src/base/vpr_context.h
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_util.cpp
  vpr/src/place/place_util.h
  vpr/src/place/placer.cpp
  vpr/src/place/placer.h
Labels: VPR, lang-cpp

#2901 Remove some defines in vpr types in favor of standard library constants
  vpr/src/base/vpr_types.h
  vpr/src/pack/cluster_placement.cpp
  vpr/src/place/annealer.cpp
  vpr/src/timing/read_sdc.cpp
Labels: VPR, lang-cpp

#2899 [AP][PartialLegalizer] Density Abstraction
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/flat_placement_bins.h
  vpr/src/analytical_place/flat_placement_density_manager.cpp
  vpr/src/analytical_place/flat_placement_density_manager.h
  vpr/src/analytical_place/flat_placement_mass_calculator.cpp
  vpr/src/analytical_place/flat_placement_mass_calculator.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/golden_results.txt
Labels: VPR, lang-cpp

#2914 [VTR][Util] Added Prefix Sum Class
  libs/libvtrutil/src/vtr_prefix_sum.h
  libs/libvtrutil/test/test_prefix_sum.cpp
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
Labels: VPR, lang-cpp, libvtrutil
