Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-07, with the labels that each got.

#3172 [NetlistWriter] Fixed Failing Nightly Test
  vpr/src/base/netlist_writer.cpp
Labels: VPR, lang-cpp

#3183 [Build] Fixed Issue in Rhel9 Build
  vpr/src/route/route_utils.cpp
Labels: VPR, lang-cpp

#3186 [CI] The Big Beautiful Build
  .github/scripts/unittest.sh
  .github/workflows/nightly_test_manual.yml
  .github/workflows/test.yml
  dev/vtr_test_suite_verifier/test_suites_info.json
  install_apt_packages.sh
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock_odin/func_multiclock/blanket/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock_odin/func_multiclock/iterative/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock_odin/func_multiclock/once/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_multiclock_odin/func_multiclock/vanilla/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_valgrind_small/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_valgrind_small_odin/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_valgrind_small_odin/valgrind_small_odin/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_valgrind_small_odin/valgrind_small_odin/config/golden_results.txt
Labels: infra, scripts, lang-shell

#3185 Remove system-wide installation of Sphinx
  install_apt_packages.sh
  install_dnf_packages.sh
Labels: scripts, lang-shell

#3171 [APPack] Iterative Re-Packing
  vpr/src/analytical_place/flat_placement_density_manager.cpp
  vpr/src/base/flat_placement_utils.h
  vpr/src/pack/appack_context.h
  vpr/src/pack/appack_max_dist_th_manager.cpp
  vpr/src/pack/appack_max_dist_th_manager.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/pack.cpp
  vpr/src/place/initial_placement.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_partial_legalizer/config/golden_results.txt
Labels: VPR, lang-cpp, scripts, lang-shell

#3170 Add CHANZ type
  libs/librrgraph/src/base/check_rr_graph.cpp
  libs/librrgraph/src/base/check_rr_graph.h
  libs/librrgraph/src/base/rr_graph_builder.cpp
  libs/librrgraph/src/base/rr_graph_storage.cpp
  libs/librrgraph/src/base/rr_graph_utils.cpp
  libs/librrgraph/src/base/rr_graph_utils.h
  libs/librrgraph/src/base/rr_graph_view.h
  libs/librrgraph/src/base/rr_node_types.h
  libs/librrgraph/src/base/rr_spatial_lookup.cpp
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx.h
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx_capnp.h
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx_interface.h
  libs/librrgraph/src/io/rr_graph.xsd
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.cpp
  libs/librrgraph/src/utils/alloc_and_load_rr_indexed_data.h
  libs/librrgraph/src/utils/describe_rr_node.cpp
  libs/libvtrcapnproto/gen/rr_graph_uxsdcxx.capnp
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_types.h
  vpr/src/place/net_cost_handler.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/router_lookahead/router_lookahead_map.cpp
  vpr/src/route/router_lookahead/router_lookahead_map_utils.cpp
  vpr/src/route/rr_graph_generation/rr_graph.cpp
  vpr/src/route/rr_graph_generation/rr_graph2.cpp
  vpr/src/route/rr_graph_generation/rr_graph_area.cpp
  vpr/src/route/rr_graph_generation/rr_node_indices.cpp
  vpr/src/route/rr_graph_generation/rr_node_indices.h
  vpr/src/util/vpr_utils.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_3d/3d_sb/config/golden_results.txt
Labels: VPR, lang-cpp

#3188 Stage reporting update
  utils/fasm/src/main.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/ShowSetup.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
Labels: VPR, lang-cpp

#3190 [CI] Moved Sanitized Test from Debug to RelWithDebInfo
  .github/workflows/test.yml
Labels: infra

#3192 [CI] Speeding Up Compatibility Builds
  .github/workflows/test.yml
Labels: infra

#3199 [AP][MassLegalizer] Resolved Issues in Partitioner
  vpr/src/analytical_place/partial_legalizer.cpp
Labels: VPR, lang-cpp

#3202 [AP][GP] Tuning Parameters
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/global_placer.h
Labels: VPR, lang-cpp

#3198 [CI] Updated Install Dependencies for Format Tests
  .github/workflows/test.yml
Labels: infra

#3211 Fix switch assignment for tileable rr graph
  vpr/src/route/rr_graph_generation/tileable_rr_graph/tileable_rr_graph_node_builder.cpp
Labels: VPR, lang-cpp

#3216 Skip Invalid Atom Blocks
  vpr/src/pack/greedy_seed_selector.cpp
Labels: VPR, lang-cpp

#3217 Interconnect Type Name
  libs/libarchfpga/src/physical_types.h
Labels: libarchfpga, lang-cpp
