Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-06, with the labels that each got.

#3103 [STA] Updated Tutorial
  doc/src/tutorials/timing_analysis/index.rst
  vpr/src/base/netlist_writer.cpp
Labels: VPR, docs, lang-cpp

#3106 [AP] Optimized Primitive Vector Class
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_mass_report.cpp
  vpr/src/analytical_place/ap_mass_report.h
  vpr/src/analytical_place/flat_placement_density_manager.cpp
  vpr/src/analytical_place/flat_placement_density_manager.h
  vpr/src/analytical_place/flat_placement_mass_calculator.cpp
  vpr/src/analytical_place/flat_placement_mass_calculator.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/analytical_place/model_grouper.h
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/analytical_place/primitive_dim_manager.h
  vpr/src/analytical_place/primitive_vector.h
  vpr/src/analytical_place/primitive_vector_fwd.h
  vpr/test/test_ap_primitive_vector.cpp
Labels: VPR, lang-cpp

#3119 vpr command line doc: add --read_initial_place_file and clarify file formats for place options
  doc/src/vpr/command_line_usage.rst
Labels: docs

#3121 [CI] Added Test Suite Verification to CI
  .github/workflows/test.yml
  dev/vtr_test_suite_verifier/test_suites_info.json
  dev/vtr_test_suite_verifier/verify_test_suites.py
Labels: infra, lang-python

#3123 [AP][Legalization] Updated the Mass Abstraction
  vpr/src/analytical_place/flat_placement_mass_calculator.cpp
  vpr/src/analytical_place/primitive_dim_manager.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/naive_full_legalizer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
Labels: VPR, lang-cpp

#3131 [AP][IP] Split Initial Placement Into Stages
  vpr/src/place/initial_placement.cpp
Labels: VPR, lang-cpp

#3132 Skip syncing netlist to routing resutls
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
Labels: VPR, lang-cpp

#3136 [AP] Updated Timing Logging
  vpr/src/analytical_place/global_placer.cpp
  vtr_flow/parse/qor_config/qor_ap_fixed_chan_width.txt
Labels: VPR, lang-cpp

#3090 set of windows (mingw64) build fixes
  libs/libvtrutil/src/vtr_util.cpp
  vpr/src/draw/draw_basic.cpp
Labels: VPR, lang-cpp, libvtrutil, external_libs

#3130 Updating VTR Docs -include Command
  doc/src/vtr/run_vtr_flow.rst
  vtr_flow/scripts/python_libs/vtr/parmys/parmys.py
Labels: docs, lang-python

#3129 Subtile Pin Location
  doc/src/arch/reference.rst
  libs/libarchfpga/src/main.cpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/libarchfpga/src/read_xml_arch_file.h
  odin_ii/src/core/odin_ii.cpp
  parmys/parmys-plugin/parmys.cc
  parmys/parmys-plugin/parmys_arch.cc
  utils/vqm2blif/src/main.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/pack/pb_type_graph_annotations.cpp
  vpr/src/place/noc_place_utils.h
  vpr/test/test_vpr.cpp
Labels: VPR, Odin, libarchfpga, docs, lang-cpp, libvtrutil, Parmys

#3127 [Build] Resolved All IPO Warnings in VTR
  CMakeLists.txt
  blifexplorer/CMakeLists.txt
  libs/libarchfpga/CMakeLists.txt
  odin_ii/CMakeLists.txt
  utils/fasm/CMakeLists.txt
  utils/route_diag/CMakeLists.txt
  vpr/CMakeLists.txt
Labels: VPR, Odin, libarchfpga, build, lang-make, blifexplorer

#3140 [Cmake] Fixed Typo in Cmake Comment
  CMakeLists.txt
Labels: build, lang-make

#3141 [AP][GP] Added Post-Global Placement Wirelength Estimation
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/partial_placement.cpp
  vpr/src/analytical_place/partial_placement.h
  vtr_flow/parse/qor_config/qor_ap_fixed_chan_width.txt
Labels: VPR, lang-cpp

#3152 [AP][Solver] Ignored Disconnected Blocks in AP Solver
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
Labels: VPR, lang-cpp

#3148 [AP] Generalized Argument Parsing and Added Target Density
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_argparse_utils.cpp
  vpr/src/analytical_place/ap_argparse_utils.h
  vpr/src/analytical_place/flat_placement_density_manager.cpp
  vpr/src/analytical_place/flat_placement_density_manager.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/pack/appack_max_dist_th_manager.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
Labels: VPR, docs, lang-cpp

#3151 Fixed Route Drawing Function
  vpr/src/draw/draw_basic.cpp
Labels: VPR, lang-cpp

#3157 Removed twist attribute from RR graph
  libs/librrgraph/src/base/rr_graph_builder.cpp
  libs/librrgraph/src/base/rr_graph_builder.h
  libs/librrgraph/src/base/rr_graph_storage.cpp
  libs/librrgraph/src/base/rr_graph_storage.h
  libs/librrgraph/src/base/rr_graph_view.h
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx.h
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx_capnp.h
  libs/librrgraph/src/io/gen/rr_graph_uxsdcxx_interface.h
  libs/librrgraph/src/io/rr_graph.xsd
  libs/librrgraph/src/io/rr_graph_uxsdcxx_serializer.h
  libs/libvtrcapnproto/gen/rr_graph_uxsdcxx.capnp
  vpr/src/route/rr_graph_generation/rr_graph.cpp
Labels: VPR, lang-cpp

#3142 [NetlistWriter] Fixed Tcq SDF Writing for BlackBoxs
  vpr/src/base/netlist_writer.cpp
Labels: VPR, lang-cpp

#3160 [AP][DP] Added Option to Scale Init T in Annealer
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/detailed_placer.cpp
  vpr/src/base/CheckSetup.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/annealer.cpp
  vpr/src/place/annealer.h
  vpr/src/place/place.cpp
  vpr/src/place/placer.cpp
  vpr/src/place/placer.h
Labels: VPR, docs, lang-cpp

#3155 [AP][Solver] Per-Connection Timing Optimization
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/global_placer.cpp
Labels: VPR, lang-cpp

#3161 [RouterLookahead] Router Lookahead Report
  doc/src/vpr/command_line_usage.rst
  libs/librrgraph/src/base/rr_node_types.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/route/route.cpp
  vpr/src/route/router_lookahead/router_lookahead_report.cpp
  vpr/src/route/router_lookahead/router_lookahead_report.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_report_router_lookahead/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_report_router_lookahead/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, docs, lang-cpp

#3162 [Packer] Reorganized Iterative Packer Algorithm
  vpr/src/pack/pack.cpp
Labels: VPR, lang-cpp

#3167 [Packer] Updated the Next State Logic of Iterative Re-Packing
  vpr/src/pack/pack.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/z1000_qor/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_nightly_test7/z1000_qor/config/golden_results.txt
Labels: VPR, lang-cpp

#3168 [RouterLookahead] Added Preamble Section to Profile Report
  vpr/src/route/router_lookahead/router_lookahead_report.cpp
Labels: VPR, lang-cpp
