Repository verilog-to-routing/vtr-verilog-to-routing, pull requests merged in 2025-03, with the labels that each got.

#2919 [Place] Grid Location to Compressed Location
  vpr/src/pack/prepack.cpp
  vpr/src/place/compressed_grid.h
Labels: VPR, lang-cpp

#2921 [AP][FullLegalizer] Basic Min. Disturbance Full Legalizer
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_flow_enums.h
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_api.cpp
Labels: VPR, lang-cpp

#2917 [AP][PartialLegalizer] Added Bi-Partitioning Spreader
  doc/src/vpr/command_line_usage.rst
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_geometry.tpp
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/analytical_place/ap_flow_enums.h
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/analytical_place/global_placer.h
  vpr/src/analytical_place/partial_legalizer.cpp
  vpr/src/analytical_place/partial_legalizer.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_global_placer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/bipartitioning_global_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_global_placer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_global_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, docs, lang-cpp, libvtrutil

#2926 Overused Node Report
  vpr/src/route/overuse_report.cpp
  vpr/src/route/overuse_report.h
Labels: VPR, lang-cpp

#2929 Fixed ignored y channels in computing routing channel utilization histogram.
  vpr/src/route/channel_stats.cpp
Labels: VPR, lang-cpp

#2916 VIB description update
  doc/src/Images/VIB.png
  doc/src/Images/double-level.png
  doc/src/Images/vib_example.png
  doc/src/vpr/VIB.rst
Labels: docs

#2928 [AP] Fixed Small Bug in Solver and Placer
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/place/initial_placement.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/none_detailed_placer/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/none_detailed_placer/config/golden_results.txt
Labels: VPR, lang-cpp

#2937 Initial Placement Wirelength Est.
  vpr/src/place/net_cost_handler.cpp
  vpr/src/place/net_cost_handler.h
  vpr/src/place/placement_log_printer.cpp
Labels: VPR, lang-cpp

#2939 Remove Redundant print_pb
  vpr/src/analytical_place/full_legalizer.cpp
Labels: VPR, lang-cpp

#2934 [APPack] Updated How APPack Adheres to Given Placement
  vpr/src/analytical_place/detailed_placer.cpp
  vpr/src/analytical_place/full_legalizer.cpp
  vpr/src/analytical_place/global_placer.cpp
  vpr/src/base/flat_placement_types.h
  vpr/src/base/flat_placement_utils.h
  vpr/src/base/load_flat_place.cpp
  vpr/src/base/place_and_route.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/pack/appack_context.h
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/greedy_candidate_selector.h
  vpr/src/pack/greedy_clusterer.cpp
  vpr/src/pack/greedy_clusterer.h
  vpr/src/pack/greedy_seed_selector.cpp
  vpr/src/pack/pack.cpp
  vpr/src/pack/prepack.h
  vpr/src/pack/verify_flat_placement.cpp
  vpr/src/place/initial_placement.cpp
  vpr/src/place/place.cpp
  vpr/src/place/placer.cpp
  vpr/test/test_flat_placement_types.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/basic_ap/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/flowbased_global_placer/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/vtr_chain/config/golden_results.txt
Labels: VPR, lang-cpp

#2938 Parsing Initial Placement WL and CPD
  libs/libvtrutil/src/tl_optional.hpp
  vpr/src/place/placement_log_printer.cpp
  vpr/src/place/placer.cpp
  vtr_flow/parse/parse_config/common/vpr.place.txt
  vtr_flow/parse/parse_config/timing/vpr.place.txt
Labels: VPR, lang-cpp, libvtrutil

#2941 [RR Graph] RR Node Indices Value Type
  libs/librrgraph/src/base/rr_node_types.h
  libs/librrgraph/src/base/rr_spatial_lookup.cpp
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
Labels: VPR, lang-cpp

#2932 Remove usage of atom to pb lookup from packing
  utils/fasm/src/fasm.cpp
  vpr/src/base/atom_lookup.cpp
  vpr/src/base/atom_lookup.h
  vpr/src/base/clustered_netlist.cpp
  vpr/src/base/load_flat_place.cpp
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/read_netlist.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_floorplanning.cpp
  vpr/src/draw/intra_logic_block.cpp
  vpr/src/pack/atom_pb_bimap.cpp
  vpr/src/pack/atom_pb_bimap.h
  vpr/src/pack/cluster_legalizer.cpp
  vpr/src/pack/cluster_legalizer.h
  vpr/src/pack/cluster_router.cpp
  vpr/src/pack/cluster_router.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/pack.cpp
  vpr/src/pack/post_routing_pb_pin_fixup.cpp
  vpr/src/pack/sync_netlists_to_routing_flat.cpp
  vpr/src/pack/verify_clustering.cpp
  vpr/src/power/power.cpp
  vpr/src/route/overuse_report.cpp
  vpr/src/timing/VprTimingGraphResolver.cpp
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp

#2944 [AP][Solver] Supporting Unfixed Blocks
  vpr/src/analytical_place/analytical_solver.cpp
  vpr/src/analytical_place/analytical_solver.h
  vpr/src/analytical_place/global_placer.cpp
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/no_fixed_blocks/config/golden_results.txt
Labels: VPR, lang-cpp

#2947 [APPack] Flat-Placement Informed Unrelated Clustering
  vpr/src/pack/appack_context.h
  vpr/src/pack/greedy_candidate_selector.cpp
  vpr/src/pack/greedy_candidate_selector.h
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/unrelated_clustering/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_ap/unrelated_clustering/config/golden_results.txt
Labels: VPR, lang-cpp

#2953 [Place] Fix regex pattern note in constraints doc
  doc/src/vpr/placement_constraints.rst
Labels: docs

#2951 [Pack] Device Util Output
  vpr/src/analytical_place/analytical_placement_flow.cpp
  vpr/src/base/SetupGrid.cpp
  vpr/src/base/SetupGrid.h
  vpr/src/base/stats.cpp
  vpr/src/base/stats.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_api.h
  vpr/src/pack/pack.cpp
  vpr/test/test_vpr.cpp
Labels: VPR, lang-cpp

#2924 Add a NestedNetlistRouter to enable integration with fine grained parallel router
  libs/libvtrutil/src/vtr_thread_pool.h
  vpr/src/base/ShowSetup.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/NestedNetlistRouter.h
  vpr/src/route/NestedNetlistRouter.tpp
  vpr/src/route/netlist_routers.h
Labels: VPR, lang-cpp, libvtrutil

#2952 [Place] Add CLI Option to Skip Annealing Phase in VPR
  doc/src/vpr/command_line_usage.rst
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/placer.cpp
  vpr/src/place/placer.h
Labels: VPR, docs, lang-cpp
